# **ğŸŒŸ 1. BÃ¶lÃ¼m: GiriÅŸ**

## **â–¶ï¸â–¶ï¸ 1.1 Variables (DeÄŸiÅŸken Atama)**

### **â–¶ï¸ 1.1.1 Konu AnlatÄ±mÄ±**

> course = "Techpro Education"

> YukarÄ±daki ifade course bir variable'dÄ±r. Ve eÅŸitliÄŸin saÄŸÄ±ndaki kÄ±sÄ±m ise value'dir.

> Yeni bir deÄŸiÅŸken yaratÄ±rken dikkat edilmesi gereken bazÄ± hususlar vardÄ±r. Bunlar deÄŸiÅŸken isminin Ã¶zel bir ifade ile baÅŸlamamasÄ±; gereÄŸinden uzun veya gereÄŸinden kÄ±sa olmamasÄ± gibi birtakÄ±m mantÄ±klÄ± ve zaten dikkat edilecek olan ÅŸeylerdir.

In [1]:
# AÅŸaÄŸÄ±da birtakÄ±m baÅŸarÄ±lÄ± deÄŸiÅŸken atama iÅŸlemi gÃ¶sterilmiÅŸtir.

# Uygun olanlar:

course = 'Techpro Education'
age = 2
name = 'Sedat'
name_2 = 'Emre'
pi_number = 3.14

# Uygun olmayanlar:

4_name = "Ä°rem"
pi-number = 3.14

SyntaxError: invalid decimal literal (2535384460.py, line 13)

In [ ]:
# Birden fazla deÄŸiÅŸkeni tek satÄ±rda atayabiliriz. AÅŸaÄŸÄ±daki uygun Ã¶rnekler verilmiÅŸtir.

# Uygun olanlar:

name_1, name_2 = 'Emre', 'Ä°rem'
name, not_ = 'Emre', 'HoÅŸgeldiniz Emre Bey. Size daha iyi hizmet sunabilmemiz iÃ§in bize yaÅŸÄ±nÄ±zÄ± sÃ¶yler misiniz lÃ¼tfen'
sayÄ±_1, sayÄ±_2 = 123, 321
isim, soyisim, yaÅŸ, boy = 'Emre', "Ã‡akÄ±r", 27, 1.81 

# uygun olmayanlar

name_9, name_10 = "Emre"

In [ ]:
# Birden fazla deÄŸiÅŸkeni tek deÄŸer ÅŸu ÅŸekilde atayabiliriz:

# uygun olanlar: 

name = isim = "Emre"
yaÅŸ = doÄŸum_yaÅŸÄ± = 27

# Uygun olmayanlar:

name, isim = "Emre"
yaÅŸ = doÄŸum_yaÅŸÄ± = 27, 27

In [ ]:
# DeÄŸiÅŸken atarken Ã§ok gereksiz kÄ±sa olmamalÄ± deÄŸiÅŸkenler:

# Uygun olanlar:

first_name = 'emre'
last_name = 'Ã§akÄ±r'

# Uygun olmayanlar:

first_name = 'emre'
l_n = 'Ã§akÄ±r'

### **â–¶ï¸ 1.1.2 Exersizler**

> 1) KullanÄ±cÄ±dan bir dairenin yarÄ±Ã§apÄ±nÄ± alarak, dairenin Ã§evresini hesaplayan bir Python programÄ± yazÄ±n.

In [ ]:
yaricap = float(input('LÃ¼tfen bir yarÄ±Ã§ap giriniz: '))

pi_number = 3.14
dairenin_cevresi = yaricap * 2 * pi_number

print(int(dairenin_cevresi))

131

> 2. Bir kullanÄ±cÄ±nÄ±n yaÅŸÄ±nÄ± ve ortalama uyku sÃ¼resini alarak, kullanÄ±cÄ±nÄ±n yaÅŸÄ±nÄ±n uyku sÃ¼resiyle Ã§arpÄ±mÄ±nÄ± hesaplayan bir Python programÄ± yazÄ±n.

In [ ]:
yas = int(input('YaÅŸÄ±nÄ±zÄ± giriniz: '))
uyku_suresi = int(input('"HAFTA KAPANIÅLARI"'))

sonuc = yas * uyku_suresi

print(sonuc)

224

> 3. KullanÄ±cÄ±dan Ã¼Ã§ farklÄ± sayÄ± alarak, bu sayÄ±larÄ±n ortalamasÄ±nÄ± bulan bir Python programÄ± yazÄ±n.

In [ ]:
sayi_1 = float(input('1. sayÄ±yÄ± giriniz: '))
sayi_2 = float(input('2. sayÄ±yÄ± giriniz: '))
sayi_3 = float(input('3. sayÄ±yÄ± giriniz: '))

ortalama = (sayi_1 + sayi_2 + sayi_3) / 3

print(int(ortalama))

5

> 4. KullanÄ±cÄ±dan alÄ±nan bir sÄ±caklÄ±k deÄŸerini Fahrenheit'ten Celsius'a Ã§eviren bir Python programÄ± yazÄ±n.

In [ ]:
fahrenheit = float(input('SÄ±caklÄ±k deÄŸerini Fahrenheit olarak giriniz: ')) 

celcius = (fahrenheit - 32) / 1.8

print(int(celcius))

50

> 5. KullanÄ±cÄ±dan alÄ±nan iki sayÄ±nÄ±n karesi farkÄ±nÄ± bulan bir Python programÄ± yazÄ±n.

In [ ]:
sayi_1 = float(input('1. SayÄ±yÄ± giriniz: '))
sayi_2 = float(input('2. SayÄ±yÄ± giriniz: '))

kare_fark = (sayi_1 ** 2) - (sayi_2 ** 2)

print(kare_fark)

14985.0

## **â–¶ï¸â–¶ï¸ 1.2 Arithmetic Operations**

> bu konuda herhangi bir konu anlatÄ±mÄ± yapma gereÄŸi duymadÄ±m

### **â–¶ï¸ 1.2.1. Exersizler**

> 1) KullanÄ±cÄ±dan iki sayÄ± alÄ±n ve bu sayÄ±larÄ±n toplamÄ±nÄ±, farkÄ±nÄ±, Ã§arpÄ±mÄ±nÄ± ve bÃ¶lÃ¼mÃ¼nÃ¼ hesaplayan bir Python programÄ± yazÄ±n.

In [ ]:
sayi_1 = int(input('1. sayÄ±yÄ± giriniz: '))
sayi_2 = int(input('2. sayÄ±yÄ± giriniz: '))

toplam = sayi_1 + sayi_2
fark = sayi_1 - sayi_2
carpim = sayi_1 * sayi_2
bolum = sayi_1 / sayi_2
bolum_kalansÄ±z = sayi_1 // sayi_2

print(toplam)
print(fark)
print(carpim)
print(bolum)
print(bolum_kalansÄ±z)

14
10
24
6.0
6

> 2. Bir Ã¶ÄŸrencinin matematik, fen bilgisi, TÃ¼rkÃ§e, sosyal bilgiler ve Ä°ngilizce derslerinde aldÄ±ÄŸÄ± notlarÄ± iÃ§eren bir liste oluÅŸturun. Bu notlarÄ± kullanarak, Ã¶ÄŸrencinin derslerinin toplam notunu ve ortalama notunu hesaplayÄ±n.

In [ ]:
math = int(input('Matematik SÄ±nav Sonucu: '))
fen = int(input('Fen SÄ±nav Sonucu: '))
turkce = int(input('Turkce SÄ±nav Sonucu: '))
sosyal = int(input('Sosyal SÄ±nav Sonucu: '))
ingilizce = int(input('Ä°ngilizce SÄ±nav Sonucu: '))

toplam = math + fen + turkce + sosyal + ingilizce
ortalama = (math + fen + turkce + sosyal + ingilizce) / 5

print(toplam)
print(ortalama)

400
80.0

> 3. KullanÄ±cÄ±dan bir dik Ã¼Ã§genin Ã¼Ã§ kenar uzunluÄŸunu alarak, bu Ã¼Ã§genin alanÄ±nÄ± hesaplayan bir Python programÄ± yazÄ±n.

In [ ]:
sayi_1 = int(input('1. kenar uzunluÄŸu: '))
sayi_2 = int(input('2. kenar uzunluÄŸu: '))
sayi_3 = int(input('3. kenar uzunluÄŸu: '))

if sayi_1 > sayi_2 and sayi_1 > sayi_3:
    max_sayi = sayi_1
    asÄ±l_sayi_1 = sayi_2
    asÄ±l_sayi_2 = sayi_3
elif sayi_2 > sayi_1 and sayi_2 > sayi_3:
    max_sayi = sayi_2
    asÄ±l_sayi_1 = sayi_1
    asÄ±l_sayi_2 = sayi_3
elif sayi_3 > sayi_1 and sayi_3 > sayi_2:
    max_sayi = sayi_3
    asÄ±l_sayi_1 = sayi_1
    asÄ±l_sayi_2 = sayi_2
ucgen_alan = (asÄ±l_sayi_1 * asÄ±l_sayi_2) / 2

print(ucgen_alan)

6.0

6.0

## **â–¶ï¸â–¶ï¸ 1.3 Print()**

### **â–¶ï¸ 1.3.1 Konu AnlatÄ±mÄ±**

> print() en Ã§ok kullandÄ±ÄŸÄ±mÄ±z function. O sebeple sadece kÄ±sa bilgiler yazÄ±p geÃ§eceÄŸim

In [ ]:
# en temel haliye:

print("Ä°Ã§erisinde string, int, dict vs. tÃ¼m type'larÄ± yazabileceÄŸimiz ve Ã§Ä±ktÄ±sÄ±nÄ± alabileceÄŸimiz bir fonksyondur.")

Ä°Ã§erisinde string, int, dict vs. tÃ¼m type'larÄ± yazabileceÄŸimiz ve Ã§Ä±ktÄ±sÄ±nÄ± alabileceÄŸimiz bir fonksyondur.

In [ ]:
# "sep" operatorÃ¼:

print("Emre", "Cakir", sep = "-")   # sep deÄŸeri default olarak " " ÅŸeklindedir. ona istediÄŸimiz herhangi bir ÅŸeyi atayabiliyoruz.
print("Emre", "Cakir", sep = "***")
print("Emre", "Cakir", sep = "/")
print("Emre", "Cakir", sep = "ğŸ’¢")

Emre-Cakir
Emre***Cakir
Emre/Cakir
EmreğŸ’¢Cakir

In [ ]:
# "end" operatorÃ¼:

print("Emre", "Cakir", end = "-")           # normalde end = "\" ÅŸeklinde olduÄŸu iÃ§in her print sonrasÄ± bir satÄ±r aÅŸaÄŸÄ± gidilir. 
print("Emre", "Cakir", end = "***")
print("Emre", "Cakir", end = "/")
print("Emre", "Cakir", end = "ğŸ’¢")

Emre Cakir-Emre Cakir***Emre Cakir/Emre CakirğŸ’¢

### **â–¶ï¸ 1.3.2 Exersizler**

> 1. Bir kullanÄ±cÄ±nÄ±n adÄ±nÄ± ve soyadÄ±nÄ± alarak, bu bilgileri bir araya getirip ekrana "Merhaba, [ad] [soyad]!" ÅŸeklinde yazdÄ±ran bir Python programÄ± yazÄ±n.

In [ ]:
isim = input('Ä°sim: ')
soyisim = input('Soyisim: ')

print('Merhaba, ' + isim + ' ' + soyisim + "!" )

Merhaba, Emre Ã‡akÄ±r!

> 2. Bir kullanÄ±cÄ±dan yaÅŸÄ±nÄ± alarak, kullanÄ±cÄ±nÄ±n doÄŸum tarihini hesaplayÄ±n ve ekrana "DoÄŸum tarihiniz [doÄŸum tarihi]!" ÅŸeklinde yazdÄ±rÄ±n.

In [ ]:
yas = int(input('YaÅŸ: '))
d_tarih = 2024 - yas

print('DoÄŸum tarihiniz: ' + str(d_tarih))

DoÄŸum tarihiniz: 1996

> 3. BirkaÃ§ kelime iÃ§eren bir liste oluÅŸturun ve bu kelimeleri alt alta yazdÄ±rÄ±n, her kelimeyi ayrÄ± bir satÄ±rda gÃ¶sterin.

In [ ]:
kelime_listem = ['at', 'avrat', 'silah']
print(kelime_listem[0], kelime_listem[1], kelime_listem[2], sep='\n')

at
avrat
silah

> 4. Bir kullanÄ±cÄ±dan bir sayÄ± alarak, bu sayÄ±nÄ±n karesini ve kÃ¼pÃ¼nÃ¼ ekrana yazdÄ±rÄ±n.

In [ ]:
sayi = int(input('Bir sayÄ± giriniz: '))

kare = sayi ** 2
kÃ¼p = sayi ** 3

print(f"{sayi}'nin karesi ve kÃ¼pÃ¼ sÄ±rasÄ±yla ÅŸÃ¶yledir -->", kare, "ve", kÃ¼p)

21'nin karesi ve kÃ¼pÃ¼ sÄ±rasÄ±yla ÅŸÃ¶yledir --> 441 ve 9261

> 5. KullanÄ±cÄ±ya bir kelime veya cÃ¼mle yazmasÄ±nÄ± isteyin ve bu yazÄ±yÄ± ters Ã§evirerek ekrana yazdÄ±rÄ±n.

In [ ]:
metin = input('Bir yazÄ± giriniz: ')

metin[-1::-1]

'erme'

> 6. KullanÄ±cÄ±dan adÄ±nÄ±, soyadÄ±nÄ± ve yaÅŸÄ±nÄ± alarak, bu bilgileri virgÃ¼lle ayrÄ±lmÄ±ÅŸ ÅŸekilde ekrana yazdÄ±ran bir Python programÄ± yazÄ±n.

In [ ]:
isim = input('Ä°sim: ')
soyisim = input('Soyisim: ')
yas = input('YaÅŸ: ')

print(isim, soyisim, yas, sep=', ')

emre, Ã§akÄ±r, 28

> 7. BirkaÃ§ kelime iÃ§eren bir liste oluÅŸturun ve bu kelimeleri alt alta yazdÄ±rÄ±n, ancak her kelimenin sonuna bir nokta koyun.

In [ ]:
birinci_kelime = input('kelime gir: ')
ikinci_kelime = input('kelime gir: ')
ucuncu_kelime = input('kelime gir: ')
dorduncu_kelime = input('kelime gir: ')

my_list = [birinci_kelime, ikinci_kelime, ucuncu_kelime, dorduncu_kelime]

print(my_list[0], my_list[1], my_list[2], my_list[3], sep='.\n', end='.')

emre.
Ã§akÄ±r.
irem.
Ã§ukurlu.

> 8. Bir kullanÄ±cÄ±dan alÄ±nan Ã¼Ã§ sayÄ±yÄ± toplayarak ekrana yazdÄ±rÄ±n. Ancak, her sayÄ±nÄ±n sonuna bir defa "+" iÅŸareti koyarak, toplam iÅŸlemin sonuna ise "=" iÅŸareti koyarak sonlandÄ±rÄ±n.

In [ ]:
birinci_sayi = int(input('1. SayÄ±yÄ± Giriniz: '))
ikinci_sayi = int(input('2. SayÄ±yÄ± Giriniz: '))
ucuncu_sayi = int(input('3. SayÄ±yÄ± Giriniz: '))

toplam = birinci_sayi + ikinci_sayi + ucuncu_sayi

print(birinci_sayi, '+', ikinci_sayi, '+', ucuncu_sayi, '=', toplam )

12 + 23 + 62 = 97

## **â–¶ï¸â–¶ï¸ 1.4 Input()**

> genel olarak bildiÄŸimiz bir fonksiyondu

In [ ]:
yas = input("LÃ¼tfen Yasinizi Girin: ")
yas = int(yas)
dogum_yili = 2024 - yas
print("Dogum yiliniz: ", dogum_yili)

Dogum yiliniz:  2012

In [ ]:
kilo = float(input("Kilo: "))
boy = float(input("Boy: "))
vke = kilo / boy ** 2 
print("VÃ¼cut kitle endexiniz: ", vke)

VÃ¼cut kitle endexiniz:  26.59498412879979

## **â–¶ï¸â–¶ï¸ 1.5 Escape Sequences**

### Hatalardan kaÃ§Ä±nmaya yarayan bazÄ± yÃ¶ntemlerdir.
#### 1) Ters Slash : " \ "
##### GeldiÄŸi yerin hemen ardÄ±ndan gelen karakterin tÃ¼m fonksiyonu Ã¶lÃ¼r ve **stringe dÃ¶nÃ¼ÅŸÃ¼r**. 
#### 2) Ters Slash + n : " \n "
##### **enter** tuÅŸu gÃ¶revi gÃ¶rÃ¼r.
#### 3) Ters Slash + t : " \t "
##### **tab** tuÅŸu gÃ¶revi gÃ¶rÃ¼r.
#### 4) Ters Slash + b : " \b "
##### **Backspace** tuÅŸu gÃ¶revi gÃ¶rÃ¼r.
#### 5) r : r" ... "
##### Bir stringin Ã¶nÃ¼ne "r" harfini eklersek, o string iÃ§erisindeki **tÃ¼m Escape Sequence operatÃ¶rleri gÃ¶rmezden** gelinir.

In [ ]:
# print('I'm python theacher.') soldaki problemi aÅŸaÄŸÄ±daki gibi aÅŸabiliriz:

print('I\'m Python teacher')    # artÄ±k kesme iÅŸaretinin fonksiyonu Ã¶lÃ¼r ve stringe dÃ¶nÃ¼ÅŸÃ¼r.

# " \n " --> bir tane enter tuÅŸuna basmak demektir: (newline'Ä±n n'si kullanÄ±lmÄ±ÅŸtÄ±r)

print("Bu ders Ã§ok uzadi sanki. \nBi an Ã¶nce bitse mi acaba")

print("BetÃ¼l", "Ayse", "Aytac", sep = "\n") 
print("BetÃ¼l", "Ayse", "Aytac", sep = "\t") # \t --> bir tane tab tuÅŸuna basmak oluyor.


print("Bu ders Ã§ok uzadi sanki. \bBi an Ã¶nce bitse mi acaba") # \b --> bir backspace tuÅŸuna basmak oluyor.
print("BetÃ¼l", "Ayse", "Aytac", sep = "\b") 

print("Bizde geri \nvites olmaz")
print(r"Bizde geri \nvites olmaz") # burada ki "r", string iÃ§erisinde bulunan tÃ¼m escape'leri yok sayar.

I'm Python teacher
Bu ders Ã§ok uzadi sanki.
Bi an Ã¶nce bitse mi acaba
BetÃ¼l
Ayse
Aytac
BetÃ¼l	Ayse	Aytac
Bu ders Ã§ok uzadi sanki.Bi an Ã¶nce bitse mi acaba
BetÃ¼AysAytac
Bizde geri
vites olmaz
Bizde geri \nvites olmaz

> 1. KullanÄ±cÄ±dan bir metin girmesini isteyen bir Python programÄ± yazÄ±n. ArdÄ±ndan, bu metni tersten yazdÄ±rÄ±n ve her karakter arasÄ±na bir boÅŸluk ekleyin.

In [ ]:
metin = input('Bir metin girin: ')

my_list = list(metin[-1::-1])
my_list

for karakter in my_list:
    print(karakter, end=' ')

m u r o y i v e s   k o Ã§   a m a   k o Ã§   i n e s

## **â–¶ï¸â–¶ï¸ 1.6 Comparison Operators**

### **â–¶ï¸ 1.6.1 Konu AnlatÄ±mÄ±**

> ### Comparison Operators, Python'da bir deÄŸer ile baÅŸka bir deÄŸeri karÅŸÄ±laÅŸtÄ±rÄ±r. Ve bu karÅŸÄ±laÅŸtÄ±rmalarÄ±n  sonucu boolean olarak dÃ¶ner yani True veya False olarak.

>> 1. Operator, BÃ¼yÃ¼ktÃ¼r â¡â¡â¡ >      

>> 2. Operator, KÃ¼Ã§Ã¼ktÃ¼r â¡â¡â¡ <     

>> 4. Operator, BÃ¼yÃ¼k EÅŸittir â¡â¡â¡    >=     

>> 5. Operator, KÃ¼Ã§Ã¼k EÅŸittir â¡â¡â¡    <=   

>> 6. Operator, EÅŸittir â¡â¡â¡  ==    

>> 7. Operator, EÅŸit DeÄŸildir â¡â¡â¡    !=

In [ ]:
print(5 > 4)
print(6 > 6)
print(6 < 6)
print(6 >= 6)
print(6 <= 6)
print(8 == 8)
print(8 == 9)
print(8 != 9)

In [ ]:
type(5 < 7)

In [ ]:
sifre = "1234"

kull_girisi = input("Sifrenizi girin")

sifre == kull_girisi

True

In [ ]:
True > 0.6 # Matematiksel karÅŸlÄ±ÄŸÄ± --> 1 > 0.6
False > 2

False

### **â–¶ï¸ 1.6.2 Exersizler**

> 1. Bir kullanÄ±cÄ±dan bir sayÄ± girmesini isteyin ve bu sayÄ±nÄ±n pozitif, negatif veya sÄ±fÄ±r olduÄŸunu belirleyen bir Python programÄ± yazÄ±n.

In [ ]:
sayi = int(input('Bir sayÄ± giriniz: '))

if sayi == 0:
    print('Girilen sayÄ± sÄ±fÄ±rdÄ±r.')
elif sayi > 0:
    print('Girilen sayÄ± pozitiftir.')
else:
    print('Girilen sayÄ± negatiftir.')

Girilen sayÄ± negatiftir.

> 2.KullanÄ±cÄ±ya iki sayÄ± girmesini isteyin ve bu sayÄ±larÄ±n eÅŸit olup olmadÄ±ÄŸÄ±nÄ± kontrol eden bir Python programÄ± yazÄ±n.

In [ ]:
birinci_sayi = int(input('Birinci sayÄ±yÄ± giriniz..'))
ikinci_sayi = int(input('Ä°kinci sayÄ±yÄ± giriniz..'))

if birinci_sayi == ikinci_sayi:
    print('Girilen sayÄ±lar birbirine eÅŸittir.')
else:
    print('Girilen sayÄ±lar birbirine eÅŸit deÄŸildir.')

Girilen sayÄ±lar birbirine eÅŸittir.

> 3. KullanÄ±cÄ±dan iki farklÄ± sayÄ± girmesini isteyin ve bu sayÄ±larÄ±n bÃ¼yÃ¼klÃ¼k iliÅŸkisini kontrol eden bir Python programÄ± yazÄ±n. Program, kullanÄ±cÄ±nÄ±n girdiÄŸi sayÄ±larÄ±n bÃ¼yÃ¼k, kÃ¼Ã§Ã¼k veya eÅŸit olduÄŸunu belirtmelidir.

In [ ]:
birinci_sayi = int(input('Birinci sayÄ±yÄ± giriniz. '))
ikinci_sayi = int(input('Ä°kinci sayÄ±yÄ± giriniz. '))

if birinci_sayi == ikinci_sayi:
    print('SayÄ±lar birbirine eÅŸittir.')
elif birinci_sayi > ikinci_sayi:
    print('Birinci sayÄ± daha bÃ¼yÃ¼ktÃ¼r.')
else:
    print('Ä°kinci sayÄ± daha bÃ¼yÃ¼ktÃ¼r.')

Birinci sayÄ± daha bÃ¼yÃ¼ktÃ¼r.

> 4. Bir kullanÄ±cÄ±ya bir yÄ±l girmesini isteyin ve bu yÄ±lÄ±n artÄ±k yÄ±l olup olmadÄ±ÄŸÄ±nÄ± kontrol eden bir Python programÄ± yazÄ±n. Bir yÄ±lÄ±n artÄ±k yÄ±l olduÄŸunu belirleyen kuralÄ± kullanarak programÄ±nÄ±zÄ± oluÅŸturun.

In [ ]:
yil = int(input('Bir yÄ±l giriniz: '))

if yil % 4000 == 0:
    print('Girilen yÄ±l ArtÄ±k bir yÄ±l deÄŸildir.')
elif yil % 100 == 0 and yil % 400 == 0:
    print('Girilen yÄ±l ArtÄ±k bir yÄ±ldÄ±r.')
elif yil % 4 == 0:
    print('Girilen yÄ±l ArtÄ±k bir yÄ±ldÄ±r.')
else:
    print('Girilen yÄ±l ArtÄ±k bir yÄ±l deÄŸildir.')

Girilen yÄ±l ArtÄ±k bir yÄ±ldÄ±r.

> 5. KullanÄ±cÄ±ya bir kelime girmesini isteyin ve bu kelimenin palindrom (tersinden de okunuÅŸu aynÄ± olan) bir kelime olup olmadÄ±ÄŸÄ±nÄ± kontrol eden bir Python programÄ± yazÄ±n.

In [ ]:
kelime = input('Bir kelime giriniz: ')

if not kelime.isalpha():
    print('YanlÄ±ÅŸ formatta girdi girilmiÅŸtir. ')
elif kelime == kelime[-1::-1]:
    print('Girilen kelime palindorm kelimedir.')
else:
    print('Girilen kelime palindrom kelime deÄŸildir.')

YanlÄ±ÅŸ formatta girdi girilmiÅŸtir.

> 6. KullanÄ±cÄ±ya bir cÃ¼mle girmesini isteyin ve bu cÃ¼mlenin iÃ§inde belirli bir kelimenin bulunup bulunmadÄ±ÄŸÄ±nÄ± kontrol eden bir Python programÄ± yazÄ±n. KullanÄ±cÄ±dan ayrÄ±ca aranacak kelimeyi de alÄ±n.

In [ ]:
metin = input('Metni girin: ')
kelime = input('Metin iÃ§erisinde aratmak istediÄŸiniz kelimeyi yazÄ±nÄ±z: ')

if kelime in metin:
    sayÄ±m = metin.count(kelime)
    print(f'AradÄ±ÄŸÄ±nÄ±z "{kelime}" kelimesi, girmiÅŸ olduÄŸunuz metin iÃ§erisinde {sayÄ±m} defa yer almaktadÄ±r.')
else:
    print(f'AradÄ±ÄŸÄ±nÄ±z "{kelime}" kelimesi, girmiÅŸ olduÄŸunuz metin iÃ§erisinde yer almamaktadÄ±r.')

AradÄ±ÄŸÄ±nÄ± "anne" kelimesi, girmiÅŸ olduÄŸunuz metin iÃ§erisinde 3 defa yer almaktadÄ±r.

> 7. KullanÄ±cÄ±ya bir sayÄ± girmesini isteyin ve bu sayÄ±nÄ±n asal bir sayÄ± olup olmadÄ±ÄŸÄ±nÄ± kontrol eden bir Python programÄ± yazÄ±n. Bir sayÄ±nÄ±n asal olup olmadÄ±ÄŸÄ±nÄ± belirleyen kuralÄ± kullanarak programÄ±nÄ±zÄ± oluÅŸturun.

In [ ]:
sayi = int(input('Bir sayÄ± giriniz: '))
listem  = [2, 3, 4, 5, 7, ]
bos_liste = []
if sayi == 2:
    bos_liste.append(1)
    print('Girilen sayÄ± asal sayÄ±dÄ±r.')
else:
    for i in listem:
        if sayi % i == 0: 
            bos_liste.append(1)

if bos_liste == []:
    print('Girilen sayÄ± bir asal sayÄ±dÄ±r.')

Girilen sayÄ± bir asal sayÄ±dÄ±r.

## **â–¶ï¸â–¶ï¸ 1.7 ASCII**

>> Her bir karakterin sayÄ±sal bir karÅŸÄ±lÄ±ÄŸÄ± varÄ±dÄ±r. Bu deÄŸerlere ASCII tablosundan bakabiliyoruz. Ã–rneÄŸin bÃ¼yÃ¼k A'nÄ±n sayÄ±sal deÄŸeri 65 iken, kÃ¼Ã§Ã¼k a'nÄ±n sayÄ±sal deÄŸeri 97'dir. 

>> Ä°ki tane string'i birbiriyle kÄ±yaslarken, Python her bir string'in ilk karakterine bakar. Ä°ki string arasÄ±nda ilk karakterinin sayÄ±sal deÄŸeri daha bÃ¼yÃ¼k olan string diÄŸer sring'den bÃ¼yÃ¼k oluyor. Ã–R: "sedat" > "istanbul" ---> True olarak dÃ¶ndÃ¼rÃ¼r. Ã‡Ã¼nkÃ¼ s harfinin sayÄ±sal deÄŸeri 115 iken i harfinin sayÄ±sal deÄŸeri 105'tir. 

>> EÄŸer her iki string'de aynÄ± karakter ile baÅŸlÄ±yorsa, Python bu iki string'in farklÄ± karakterlerini bulana kadar kÄ±yaslama devam eder. Ã–R: "feda" > "fener" --> False olarak dÃ¶ndÃ¼rÃ¼r. Ã‡Ã¼nkÃ¼ d'nin sayÄ±sal deÄŸeri n'den daha kÃ¼Ã§Ã¼ktÃ¼r.

>> Bu iÅŸlemler sadece 2 tane string arasÄ±nda olabilir. Mesela bir string ile bir integer arasÄ±nda yapÄ±lamaz.

âœ… **ord() fonksiyounun iÃ§ine bir string ifadesini yazarsan, sana o string ifadenin ASCI karÅŸÄ±lÄ±ÄŸÄ±nÄ± verir. Ã–R: ord("a") = 97** 

âœ… **chr() fonksiyonu ise ord() fonksiyonunun tam tersini yapar: chr(105) = 'i'**

In [ ]:
print("sedat" > "istanbul") # --> print(115>105) aslÄ±nda yapÄ±lan iÅŸlem budur.
print(ord("a"))
print(chr(122))

True
97
z

## **â–¶ï¸â–¶ï¸ 1.8 BOOLEAN**

> bool() fonksiyonu iÃ§erisine yazÄ±lan ifadenin boolean karÅŸÄ±lÄ±ÄŸÄ±nÄ± verir.

> boolean karÅŸÄ±lÄ±ÄŸÄ± false olan ifadeler: "", 0, 0.0, [], (), {}, None, False

In [ ]:
print(bool("sedat"))
print(bool(" "))
print(bool(""))
print(bool(0))
print(bool("0"))
print(bool(0.31211))
print(bool(-20))

True
True
False
False
True
True
True

## **â–¶ï¸â–¶ï¸ 1.8 Logic Expressions**

### **â–¶ï¸ 1.8.1 Konu AnlatÄ±mÄ±**

#### Ä°ÅŸlem Ã¶nceliÄŸine gÃ¶re:

#### **not** --> iÅŸlem sonucu her zaman true veya false'tÄ±r.

>> Bir ifadenin Ã¶nÃ¼ne geldiÄŸi zaman onun tersini yazdÄ±rÄ±r.

#### **and**

>> Hepsi True ise en sondaki elemanÄ± dÃ¶ndÃ¼rÃ¼r. Bir tane bile False varsa, ilk gÃ¶rdÃ¼ÄŸÃ¼ False'u dÃ¶ndÃ¼rÃ¼r.

#### **or**

>> Hepsi False ise en sondakini dÃ¶ndÃ¼rÃ¼r, bir tane bile True varsa ilk gÃ¶rdÃ¼ÄŸÃ¼ True'yu dÃ¶ndÃ¼rÃ¼r.

ğŸ“**DÄ°PNOT1: Boolean karÅŸÄ±lÄ±ÄŸÄ± False olan bir ifadeye biz "Falsy" ifade diyoruz, aynÄ± ÅŸekilde tam tersi olana da "Truty" ifade diyoruz.**

ğŸ“**DÄ°PNOT2: BÃ¼tÃ¼n koÅŸullarÄ±n True olmasÄ±nÄ± istiyorsak and kullanÄ±rÄ±z. KoÅŸullardan bir tanesinin bile True olmasÄ± yetiyorsa or kullanÄ±rÄ±z.**

In [ ]:
print(5 > 5)
print(5 >= 5)
print(not False) # --> True yazdÄ±rÄ±r
print(not True) # --> False yazdÄ±rÄ±r
print("")
print(bool("Techpro"))
print(not "Techpro")
print("")
print(bool(0))
print(not 0)
print("")
print(bool(""))
print(not "")

False
True
True
False

True
False

False
True

False
True

In [ ]:
print(bool(5))
print(5 and 8) # 5 ve 8 ifadelerinin booelan karÅŸÄ±lÄ±ÄŸÄ± True olduÄŸu iÃ§in 8 ifadesini dÃ¶ndÃ¼rdÃ¼.
print("---1----")
print(bool(0))
print(5 and 0 and 8) # --> Boolean karÅŸÄ±lÄ±ÄŸÄ± False olan ilk ifadeyi dÃ¶ndÃ¼rdÃ¼k.
print("---2----")
print(5 and False and 0 and 8)
print("---3----")
print("" and 0 and False)
print("---4----")
print(5 and 7 and True)
print("---5----")
print(0 or False)
print("---6----")
print(0 or 0.0 or "")
print("---7----")
print(0 or 15 or 20 or True)
print(False or 5 and not 0)
print("---8----")
print(3.14 or True)
print(True or 3.14)
print("---9----")
print(False or not 0 and 6 and "kahoot")
print(True or False and not 0 and 3 or False) # Bu Ã¶rnekte "True or..." dan sonrasÄ±nÄ±n bi Ã¶nemi yok. Ã‡Ã¼nkÃ¼ or varsa ve True varsa ilk sÄ±rada direkt onu seÃ§er zaten.

True
8
---1----
False
0
---2----
False
---3----

---4----
True
---5----
False
---6----

---7----
15
True
---8----
3.14
True
---9----
kahoot
True

### **â–¶ï¸ 1.8.2 Exersizler**

> 1. Bir kullanÄ±cÄ±dan iki sayÄ± girmesini isteyin. Bu sayÄ±larÄ±n her ikisinin de pozitif sayÄ±lar olup olmadÄ±ÄŸÄ±nÄ± kontrol eden ve sonucu True veya False olarak dÃ¶ndÃ¼ren bir Python programÄ± yazÄ±n.

In [ ]:
birinci_sayi = int(input('Bir sayÄ± giriniz: '))
ikinci_sayi = int(input('Bir sayÄ± daha giriniz: '))

if birinci_sayi > 0 and ikinci_sayi > 0:
    print(True)
else:
    print(False)

True

> 2. KullanÄ±cÄ±ya bir yaÅŸ girmesini isteyin. Bu yaÅŸÄ±n 18 ile 65 arasÄ±nda olup olmadÄ±ÄŸÄ±nÄ± kontrol eden ve sonucu True veya False olarak dÃ¶ndÃ¼ren bir Python programÄ± yazÄ±n.

In [ ]:
yas = int(input('YaÅŸ: '))

if yas > 18 and yas < 65:
    print(True)
else:
    print(False)

True

> 3. KullanÄ±cÄ±dan bir ÅŸehir adÄ± girmesini isteyin. Bu ÅŸehir adÄ±nÄ±n "Ankara", "Ä°stanbul" veya "Ä°zmir" olup olmadÄ±ÄŸÄ±nÄ± kontrol eden ve sonucu True veya False olarak dÃ¶ndÃ¼ren bir Python programÄ± yazÄ±n.

In [ ]:
my_list = ['ankara', 'istanbul', 'izmir']
sehir = input('Bir ÅŸehir ismi giriniz: ')

if sehir.lower() in my_list:
    print(True)
else:
    print(False)

False

> 4. Bir kullanÄ±cÄ±ya bir karakter girmesini isteyin. Bu karakter bir rakam ise True, rakam deÄŸilse False dÃ¶ndÃ¼ren bir Python programÄ± yazÄ±n.

In [ ]:
karakter = input('Bir karakter giriniz: ')

if karakter.isdigit():
    print(True)
else:
    print(False)

False

# **ğŸŒŸ 2. BÃ¶lÃ¼m: GeliÅŸme**

## **â–¶ï¸â–¶ï¸ 2.1 Stringler**

    immutable (elemanlarÄ± deÄŸiÅŸtirelemez)
    iterable (elemanlarÄ±na index yoluyla ulaÅŸÄ±labilir ve silicing yapÄ±labilir)

### **â–¶ï¸ 2.1.1 Konu AnlatÄ±mÄ±**

>> ğŸš§ immutable --> DeÄŸiÅŸtirilemez. (Bir string'e yeniden bir atama yapÄ±lana kadar deÄŸiÅŸtirilemezler.)

>> ğŸš§ iterable --> Bir stringin her bir karakterine ayrÄ± ayrÄ± ulaÅŸÄ±labilir olmasÄ±dÄ±r. Yani itering edilebilir olmasÄ±dÄ±r. (for dÃ¼ÅŸÃ¼nÃ¼lebilir)

#### **â–¶ 2.1.1.1 Indexing & Slicing**

In [ ]:
# a) Indexleme sÄ±fÄ±rdan baÅŸlar. AÅŸaÄŸÄ±daki stringin sÄ±fÄ±rncÄ± indexi "T" harfidir. 
# b) Birinci indexi ise "e" harfidir. 
# c) Sondan baÅŸlayacak olursak da -1 ile baÅŸlar. AÅŸaÄŸÄ±daki string'in -1 inci karakteri "n" harfidir.

name = "Techpro Education" 

print(name[0])      # T
print(name[5])      # r
print(name[16])     # n --> son harf 16. index oluyor
print(name[-1])     # n --> son harf aynÄ± zamanda -1. index oluyor
print(name[-17])    # T

T
r
n
n
T

In [ ]:
# string iÃ§erisinde bellli bir bÃ¶lÃ¼mÃ¼ iki ÅŸekilde yapabiliriz yazdÄ±rabiliriz:

print(name)
print(name[4] + name[5] + name[6])   # Burada 'pro' Ã§Ä±ktÄ±sÄ±nÄ± alÄ±rÄ±z ama daha kolay kolu bir alt satÄ±rda
print(name[4:7])                     # Bu iÅŸleme SLICING deniyor.  
print(name[8:17])                    # Slicing iÅŸleminde son karakter dahil edilmez. Ã–rneÄŸin burasÄ± 8 ile baÅŸlar ama 17 ile bitmez, 16 ile biter.
print(name[8:17:2])                  # Buradaki 2 sayÄ±sÄ± iÅŸlem adÄ±mÄ± (step) dÄ±r. 
print(name[0:6:3])                   # 0'dan baÅŸlayÄ±p 6'ya doÄŸru 3'er adÄ±m alayarak gidilir.
print(name[:6:3])                    # "start" kÄ±smÄ±na hiÃ§bir ÅŸey yazmazsak ilk karakteri alÄ±r. Yani sÄ±fÄ±rÄ±nÄ± index.
print(name[::3])                     # "stop" kÄ±smÄ±na hiÃ§bir ÅŸey yazmazsak son karakteri alÄ±r. 
print("techpro"[::2])                # sÄ±fÄ±rnÄ±cÄ±yÄ± aldÄ±m, ardÄ±ndan bir karakter atlayÄ±p 2.yi aldÄ±m
print("techpro"[::3])                # sÄ±fÄ±rÄ±ncÄ±yÄ± aldÄ±m, ardÄ±ndan iki karakter atlayÄ±p 3.yÃ¼ aldÄ±m
print("techprom"[::3])

Techpro Education
pro
pro
Education
Euain
Th
Th
Thodao
tcpo
tho
tho

In [ ]:
# Slicing yaparak dersten de yazdÄ±rabiliriz. 

print("techpro education"[::-1])         
print("techpro education"[::-2])

# Tersten yazdÄ±rÄ±rken dikkat etmemiz gereken ÅŸey "start" ile "stop" noktalarÄ±nÄ±n "step" deÄŸeri ile mantÄ±k Ã§erÃ§evesinde olmasÄ±.

print("techpro education"[12:2:-2])    # 12. indexten baÅŸlar, 2. indexe kadar -2ÅŸer adÄ±m atlayarak ilerler ve 2. index dahil deÄŸildir
print("techpro education"[17:3:-3])    # 17. indexten baÅŸlar, 3. indexe kadar -3er adÄ±m atlayarak ilerler ve 3. index dahil deÄŸildir

print("techpro"[1:5:-1])            # Burada 1'den 5'e doÄŸru -1'er adÄ±m atlayarak ulaÅŸÄ±lmasÄ± mÃ¼mkÃ¼n deÄŸildir.
print("techpro"[5:1:-1])            # start = 5, stop = 1, step = -1 --> 5 den baÅŸlayan bir ÅŸey 1'e doÄŸru eksilerek devam edebilir.
print("techpro"[5:1])               # start = 5, stop = 1, step =1   --> 5'den baÅŸlayan bir ÅŸey 1 de doÄŸru artarak gidemez. O yÃ¼zden boÅŸ string dÃ¶ndÃ¼rÃ¼r.
print("DÃ¼lgeroÄŸlu"[2:8:-2])         # start = 2, stop = 8, step = -2 --> 2 den baÄŸÅŸlayÄ±p 8e doÄŸru eksilerek gidilemez.
print("DÃ¼lgeroÄŸlu"[8:2:-2])         # start = 8, stop = 2, step = -2 --> 8 den baÅŸlayan bir ÅŸey 2'ye doÄŸru eksilerek devam edebilir.

noitacude orphcet
niaueopct
aueop
ntu p

rphc


loe

In [ ]:
"tehpro"[1:1]           # BoÅŸ string dÃ¶ndÃ¼rÃ¼r.

''

In [ ]:
# Stringlerde "+" iÅŸlemi concate ya da concatinate yapar 
# Stringlerde "*" iÅŸlemi ile stringi Ã§oÄŸaltabiliriz tekrarlÄ± ÅŸekilde.

print("Techpro" + "Education")  # iki string arasÄ±nda (Ã§Ä±karma iÅŸlemi yoktur)
print("Techpro" * 3)            # string ile integer arasÄ±nda yapÄ±labilir ancak string ile float arasÄ±nda olmaz 
print("3" * 4)                  # 4 adet "3" yan yana yazÄ±ldÄ± (bÃ¶lme iÅŸlemi yoktur)

#### **â–¶ 2.1.1.2 String Methods**

> string bir ifadeyi yazdÄ±ktan sonra "." koyarsak, ardÄ±ndan yapÄ±labilecek tÃ¼m **fonksiyonlara** bize method olarak gelir.

In [ ]:
# upper() ve lower()

print("techpro".upper())        # bÃ¼yÃ¼k harfe Ã§evirir
print("SeDat".upper())
name = "Emre Cakir"
print(name.upper())
print("TECHPRO".lower())        # kÃ¼Ã§Ã¼k harfe Ã§evirir 
print("SeDat".lower())
name = "Emre Cakir"
print(name.lower())

# swapcase()                    

name = "Techpro"
name.swapcase()                 # kÃ¼Ã§Ã¼kleri bÃ¼yÃ¼k, bÃ¼yÃ¼kleri kÃ¼Ã§Ã¼k harfe Ã§evirir. 

# capitalize() 

print("techpro".capitalize())            # sadece ilk kelimenin ilk harfi bÃ¼yÃ¼k yapar
print("teChpro Ã–RNEÄÄ°".capitalize())     # ilk kelimeyi bÃ¼yÃ¼ttÃ¼ÄŸÃ¼ gibi geri kalan her ÅŸeyi de kÃ¼Ã§Ã¼ltÃ¼r. 
print("capitalize bir cÃ¼mlenin sadece ilk harfini bÃ¼yÃ¼k yapar".capitalize())

# title() 

print("emre Ã§akÄ±r".title())             # her kelimenin ilk harfini bÃ¼yÃ¼k yapar
print("title her cÃ¼mlenin ilk harfini bÃ¼yÃ¼k yapar".title()) 
print("techpro EDUcatiOn".title())      # her kelimenin ilk harfini bÃ¼yÃ¼ttÃ¼ÄŸÃ¼ gibi kelimelerin geri kalanÄ±nÄ± da kÃ¼Ã§Ã¼ltÃ¼r.

TECHPRO
SEDAT
EMRE CAKIR
techpro
sedat
emre cakir
Techpro
Techpro Ã¶rneÄŸiÌ‡
Capitalize bir cÃ¼mlenin sadece ilk harfini bÃ¼yÃ¼k yapar
Emre Ã‡akÄ±r
Title Her CÃ¼mlenin Ilk Harfini BÃ¼yÃ¼k Yapar
Techpro Education

### **â–¶ï¸ 2.1.2 Benim Ã‡alÄ±ÅŸmalarÄ±m**

#### **â–¶ 2.1.2.1 Methodlar**

##### **1. Method: capitalize()**

> Bu method stringlerin yalnÄ±zca ama yalnÄ±zca ilk karakterini bÃ¼yÃ¼k harf yapar.

> Ä°lk karakterini bÃ¼yÃ¼k harf yaparken geriye kalan tÃ¼m karakterleri de kÃ¼Ã§Ã¼k harf yapar.

In [ ]:
print('emre Ã§akÄ±r eski bir makine mÃ¼hendisidir '.capitalize())         # sadece ilk harfi bÃ¼yÃ¼ttÃ¼.
print('EMRE Ã‡AKIR ESKI BIR MAKINE MÃœHENDISIDIR '.capitalize())         # sadece ilk harfi bÃ¼yÃ¼tÃ¼rken, geriye kalan tÃ¼m harfleri kÃ¼Ã§Ã¼lttÃ¼.
print('eMRe Ã§aKIR eSkÄ° bir MAKINE mÃ¼hendisidir '.capitalize())         # sadece ilk harfi bÃ¼yÃ¼tÃ¼rken, geriye kalan tÃ¼m harfleri kÃ¼Ã§Ã¼lttÃ¼.

Emre Ã§akÄ±r eski bir makine mÃ¼hendisidir
Emre Ã§akir eski bir makine mÃ¼hendisidir
Emre Ã§akir eskiÌ‡ bir makine mÃ¼hendisidir

##### **2. Method: casefold()**

> lower() methoduna Ã§ok benzer. TÃ¼rk dili aÃ§Ä±sÄ±ndan lower ile hiÃ§bir farkÄ± yoktur. Ancak bazÄ± dillerin alfabelerinde 'ÃŸ' tarzÄ±nda deÄŸiÅŸik harfler vardÄ±r. O tÃ¼r alfabesi olan diller iÃ§in uygun bir kullanÄ±mÄ± vardÄ±r.

In [ ]:
print("aÃŸaan".lower())          # lower() methodu 'ÃŸ' harfini tanÄ±yamadÄ±
print("aÃŸaan".casefold())       # casefold() methodu 'ÃŸ' harfini tanÄ±yamadÄ±

aÃŸaan
assaan

##### **3. Method: center()**

> string'i ortalar. Ve eÄŸer parantez iÃ§erisinde girdiÄŸimiz sayÄ±, string'in uzunluÄŸundan fazla ise; fazlalÄ±ÄŸÄ±n yarÄ±sÄ±nÄ± stringin saÄŸÄ±na ve diÄŸer yarÄ±sÄ±nÄ± da soluna bÄ±rakÄ±r. En son string ortalanmÄ±ÅŸ olur.

> eÄŸer Ã§ift sayÄ± kullanÄ±rsak saÄŸa sola eÅŸit paylaÅŸtÄ±rÄ±r. eÄŸer tek sayÄ± kullanÄ±rsak sol tarafta bir adet fazlamÄ±ÅŸ olur.

> center()'in default deÄŸerinde space yani boÅŸluk vardÄ±r. Ancak bu boÅŸluÄŸu istediÄŸimiz her ÅŸey ile deÄŸiÅŸtirebiliyoruz.

> Ã–rnek KullanÄ±m1: 

>> 'emre'.center(12) --> burada 'emre' 4 harflidir. geniÅŸlik ise 12'dir. 12 - 4 = 8'dir. O halde 4 boÅŸluk sola 4 boÅŸluk saÄŸa eklenir.

> Ã–rnek KullanÄ±m2: 

>> 'emre'.center(12, '-') --> burada 'emre' 4 harflidir. geniÅŸlik ise 12'dir. 12 - 4 = 8'dir. Bu Ã¶rnekte boÅŸluk yerine tire (-) kullanÄ±lmÄ±ÅŸ. O halde 4 tire sola 4 tire saÄŸa eklenir.

> **ğŸš¦UYARIğŸš¦** YalnÄ±zca tek bir karakter eklemesi yapÄ±labiliyor, Ã¶rneÄŸin 'e' harfini yazdÄ±rabiliriz ama 'ee' yi yazdÄ±ramayÄ±z saÄŸÄ±na ve soluna



> ### **ğŸ”¥ bir string'in len'i eÄŸer 5 ise. Bize de sorgulanmaksÄ±zÄ±n en az len'i 10 olan bir string lazÄ±m ise bu metodu kullanabiliriz.ğŸ”¥**

In [ ]:
print(len('emre cakir'))                    # kullandÄ±ÄŸÄ±mÄ±z stringin uzunluÄŸu 10 birimdir. O halde biz center(x) ifadesinde x yerine 10'dan bÃ¼yÃ¼k sayÄ±lar yazmak zorundayÄ±z.

print('emre cakir'.center(0))               # x (10) > 0 olduÄŸu iÃ§in herhangi bir etki olamaz.
print('emre cakir'.center(5))               # x (10) > 5 olduÄŸu iÃ§in herhangi bir etki olamaz.
print('emre cakir'.center(12))              # 12 > x (10) olduÄŸu iÃ§in, stringi ortalar ve hem saÄŸÄ±na hem de soluna 1'er tane boÅŸluk bÄ±rakÄ±r.
print('emre cakir'.center(20))
print('emre cakir'.center(40))
print('emre cakir'.center(80))              # 80 - 10 = 70 olduÄŸuna gÃ¶re, 35 adet sola ve 35 adet saÄŸa boÅŸluk bÄ±rakÄ±lÄ±r.
print('emre cakir'.center(160))
print('emre cakir'.center(320))             # 320 - 10 = 310 olduÄŸuna gÃ¶re, 155 adet sola ve 155 adet saÄŸa boÅŸluk bÄ±rakÄ±lÄ±r.

10
emre cakir
emre cakir
 emre cakir
     emre cakir
               emre cakir
                                   emre cakir
                                                                           emre cakir
                                                                                                                                                           emre cakir

155

In [ ]:
print('emre cakir'.center(15, '*'))      # 15-10 = 5 olduÄŸu iÃ§in 3 asteriks sola ve 2 asteriks saÄŸa yerleÅŸtirilir.
print('emre cakir'.center(26, '/'))      # 26-10 = 16 olduÄŸu iÃ§in 8 slash sola ve 8 slash saÄŸa yerleÅŸtirilir.
print('irem'.center(32, 'â¤'))
print('irem'.center(32, 'â¤'), 'irem'.center(32, 'â¤'), 'irem'.center(32, 'â¤'))

***emre cakir**
////////emre cakir////////
â¤â¤â¤â¤â¤â¤â¤â¤â¤â¤â¤â¤â¤â¤iremâ¤â¤â¤â¤â¤â¤â¤â¤â¤â¤â¤â¤â¤â¤
â¤â¤â¤â¤â¤â¤â¤â¤â¤â¤â¤â¤â¤â¤iremâ¤â¤â¤â¤â¤â¤â¤â¤â¤â¤â¤â¤â¤â¤ â¤â¤â¤â¤â¤â¤â¤â¤â¤â¤â¤â¤â¤â¤iremâ¤â¤â¤â¤â¤â¤â¤â¤â¤â¤â¤â¤â¤â¤ â¤â¤â¤â¤â¤â¤â¤â¤â¤â¤â¤â¤â¤â¤iremâ¤â¤â¤â¤â¤â¤â¤â¤â¤â¤â¤â¤â¤â¤

>> Ã–rnek: KullanÄ±cÄ±dan isim soyisim iste. Bizim bu isim soyismi database'imize ekleyebilmemiz iÃ§in en az 25 karakter olduÄŸunu kabul edelim. "result_name" isimli deÄŸiÅŸkende istenilen ÅŸartÄ± saÄŸlayan bir isim soyisim yazÄ±lÄ± olsun.

In [ ]:
isim_soyisim = input('Ä°sim Soyisim: ')
result_name = isim_soyisim.center(25)
print("Ä°stenilen isim soyismin karakter sayÄ±sÄ± -->",len(result_name))

Ä°stenilen isim soyismin karakter sayÄ±sÄ± --> 25

##### **4. Method: count()**

> count() bir strin iÃ§erisinde ne bir karakter veya baÅŸka bir string'in ne kadar olduÄŸunu saymamÄ±zÄ± saÄŸlar. 

> casesensitive'dir. Yani bÃ¼yÃ¼k E ile kÃ¼Ã§Ã¼k e baÅŸka ÅŸeylerdir farklÄ± sayÄ±lÄ±r.

> geÃ§erli bir sayma yapÄ±lmadÄ±ysa hata vermez.

> string.count(**value, start, end**)

>> **value**: required. A string. sayÄ±lacak olan deÄŸer budur. (default deÄŸeri 0'dÄ±r)

>> **start**: optional. A integer. saymaya nereden baÅŸlanacaÄŸÄ±nÄ± belirler. (default deÄŸeri 0'dÄ±r)

>> **end**: optional. A integer. saymaya nereye kadar devam edeceÄŸini belirler. (default deÄŸeri string sonudur)

In [ ]:
# aÅŸaÄŸÄ±dakiler gibi tek karakter arayabiliyoruz:

print('Emre Ã‡akÄ±r'.count("e"))
print('Emre Ã‡akÄ±r'.count("E"))
print('emre Ã‡akÄ±r'.count("e"))

# ayni ÅŸekilde birden bÃ¼yÃ¼k karakterleri de arayabiliyoruz:

print('emre Ã§akÄ±rÄ±n dedesinin adÄ± da emreydi. emre olmak mirastÄ±r bu sÃ¼lalede'.count('emre'))

1
1
2
3

In [ ]:
print('emre Ã‡akÄ±r'.count("e", 2))       # 2. indexten itibaren sayÄ±lacaÄŸÄ± iÃ§in 0. indexteki 'e' harfi sayÄ±lmadÄ±.
print('emre Ã§akÄ±rÄ±n dedesinin adÄ± da emreydi. emre olmak mirastÄ±r bu sÃ¼lalede'.count('e', 3, 28))       # 3. indexten 28. indexe kadar olan kÄ±sÄ±mda ne kadar e varsa onu saydÄ±k.

1
3

In [ ]:
# count'un kullanÄ±mÄ±na dair bir Ã¶rneÄŸi kendi kafamdan yazdÄ±m.

isim = input('Ä°sim: ')
soy_isim = input('Soyisim: ')
print('GirdÄŸiniz isim soyisim:', isim, soy_isim )
aranan_yazÄ± = 'abdu'
print('Aranan yazÄ±:', aranan_yazÄ±)
isim_soyisim = isim + ' ' + soy_isim 
isim_uzunluk = len(isim)
soyisim_uzunluk = len(soy_isim)
isim_soyisim_uzunluk = isim_uzunluk + soyisim_uzunluk

print('Aranan yazÄ± girilen soyisimde ÅŸu kadar bulunmuÅŸtur -->',(isim_soyisim.count(aranan_yazÄ±, isim_uzunluk, isim_soyisim_uzunluk)))

GirdÄŸiniz isim soyisim: abdullah abdurrahman
Aranan yazÄ±: abdu
Aranan yazÄ± girilen soyisimde ÅŸu kadar bulunmuÅŸtur --> 1

##### **5. Method: encode()**

> encode, ÅŸifrelemek, kodlamak, ÅŸifreye Ã§evirmek anlamÄ±na gelir.

> ileri seviye bir konudur. O yÃ¼zden detaylÄ± bir araÅŸtÄ±rma ve inceleme yapmadÄ±m. AÅŸaÄŸÄ±da bazÄ± yÃ¼zeyler ÅŸeyler bulunmaktadÄ±r.

In [ ]:
'emre cakir'.encode()

b'emre cakir'

In [ ]:
txt = "My name is StÃ¥le"

x = txt.encode()

print(x)

b'My name is St\xc3\xa5le'

In [ ]:
txt = "My name is StÃ¥le"

print(txt.encode(encoding="ascii",errors="backslashreplace"))
print(txt.encode(encoding="ascii",errors="ignore"))
print(txt.encode(encoding="ascii",errors="namereplace"))
print(txt.encode(encoding="ascii",errors="replace"))
print(txt.encode(encoding="ascii",errors="xmlcharrefreplace"))

b'My name is St\\xe5le'
b'My name is Stle'
b'My name is St\\N{LATIN SMALL LETTER A WITH RING ABOVE}le'
b'My name is St?le'
b'My name is St&#229;le'

In [ ]:
txt = "My name is StÃ¥le"

print(txt.encode(encoding="utf-8",errors="backslashreplace"))
print(txt.encode(encoding="utf-8",errors="ignore"))
print(txt.encode(encoding="utf-8",errors="namereplace"))
print(txt.encode(encoding="utf-8",errors="replace"))
print(txt.encode(encoding="utf-8",errors="xmlcharrefreplace"))

b'My name is St\xc3\xa5le'
b'My name is St\xc3\xa5le'
b'My name is St\xc3\xa5le'
b'My name is St\xc3\xa5le'
b'My name is St\xc3\xa5le'

In [ ]:
# unicode string
string = 'pythÃ¶n!'

# print string
print('The string is:', string)

# default encoding to utf-8
string_utf = string.encode()

# print result
print('The encoded version is:', string_utf)

The string is: pythÃ¶n!
The encoded version is: b'pyth\xc3\xb6n!'

##### **6. Method: endswith()**

> bir string'in sonunun neyle bittiÄŸini Ã¶ÄŸrenebildiÄŸimiz bir methoddur. 

> Ã§Ä±ktÄ±larÄ± boolean olarak True veya False'dur. Sorgumuz doÄŸru ise Ã§Ä±ktÄ±mÄ±z True'diir.

> baÅŸlangÄ±Ã§ ve bitiÅŸ noktalarÄ±nÄ± optional olarak belirtebiliyoruz.

> string.endswirh(value, start, end)

>> string'in sonu valeu ile mi bitiyor diye sorgularÄ±z. 

>> start deÄŸerini girdiysek, bu stringin baÅŸlangÄ±Ã§ noktasÄ±dÄ±r.

>> end deÄŸerini girdiysek bu da stringin son noktasÄ±dÄ±r. Ã–rneÄŸin string normalde re harfiyle bitiyorsa ve bizim end deÄŸerimi -1 ise, stringimizin sonu r ile bitiyor gibi oluyor. Ã§Ã¼nkÃ¼ -1 dahil olmuyor her zamanki gibi

> sorguyu tek bir karakterle yapmak zorunda deÄŸiliz.

In [ ]:

print('emre'.endswith('e'))             # emre'nin sonu e ile bitmektedir.
print('emre'.endswith('re'))            # tek bir karakter girmez zorunda deÄŸiliz.
print("-1-".center(10, '*'))
print('emre'.endswith('r', 0, -1))
print('Sen benim nereli olduÄŸumu biliyor musun?'.endswith('n', 0, -1))
print("-2-".center(10, '*'))
print('Sen benim nereli olduÄŸumu biliyor musun?'.endswith('musun?'))
print('Sen benim nereli olduÄŸumu biliyor musun?'.endswith('musun'))
print("-3-".center(10, '*'))
print('emre'.endswith('r'))

True
True
***-1-****
True
True
***-2-****
True
False
***-3-****
False

##### **7. Method: expandtabs()**

> 'yazÄ±\tyazÄ±'.expandtabs() 

> yukarÄ±daki 'yazÄ±\tyazÄ±' stringinde tab karakteri kullanÄ±lmÄ±ÅŸtÄ±r. Ä°ki tane yazÄ±nÄ±n ortasÄ±ndaki tab karakterinin kaÃ§ space'tan oluÅŸacaÄŸÄ±nÄ± belirleyen bir methoddur.

> default halinde tabsize=8 space'dir. Bunu deÄŸiÅŸtirmek istiyorsak parantez iÃ§erisine sayÄ± girmemiz yeterlidir.

> **yalnÄ±zca ilk gÃ¶rdÃ¼ÄŸÃ¼ tab karakterini kabul eder**

In [ ]:
'Emre\tÃ‡akÄ±r'.expandtabs(12)
'Ä°rem\tSÃ¼heyla\tÃ‡ukurlu'.expandtabs(4)      # burada yer alan ikinci \t bizim iÃ§in Ã¶nemli deÄŸil artÄ±k

'Ä°rem    SÃ¼heyla Ã‡ukurlu'

##### **8. Method: find() and rfind()**

> bu metod ile aradÄ±ÄŸÄ±m bir karakterin string iÃ§erisinde kaÃ§Ä±ncÄ± indexte olduÄŸunu gÃ¶rebiliyoruz. (find soldan rfind saÄŸdan baÅŸlar)

> aradÄ±ÄŸÄ±mÄ±z karakter birden fazla yerde varsa Ã¶nemli olan ilk index neredeyse onu kabul eder.

> tek bir karakter yerine birden fazla karakterli yapÄ±larÄ± da aratabiliriz. 

> 'sen benim en gÃ¼zel gÃ¼nahÄ±msÄ±n'.find(' en ')

>> yukarÄ±daki Ã¶rnekte 'sen' iÃ§erisindeki 'en' yi saymaz. veya 'benim' iÃ§erisindeki 'en'i de saymaz. 'benim en gÃ¼zel' iÃ§erisindeki ' en ' i alÄ±r.

> 'sen benim en gÃ¼zel gÃ¼nahÄ±msÄ±n'.find('en', 2, 12) 

>> yukarÄ±daki Ã¶rnekte stringin 2. indexinden 12. indexine kadar olan ksÄ±mÄ±nda 'en''yi arar

> ***EÄŸer aradÄ±ÄŸÄ± ÅŸeyi bulmazsa -1 dÃ¶ndÃ¼rÃ¼r***

In [ ]:
print('12345678'.find('3'))
print('emre'.find('e'))
print('emre Ã§akÄ±r'.find('a'))
print('sÃ¼heylaha'.find('ha'))          # heyla yerine sadece h yazsaydÄ±k deÄŸiÅŸe
print('sen benim en gÃ¼zel gÃ¼nahÄ±msÄ±n'.find(' en '))     # gÃ¼zel bir uygulama

# baÅŸka bir kullanÄ±m:

print('sen benim en gÃ¼zel gÃ¼nahÄ±msÄ±n'.find('en', 3, 12))           # stringin 3. indexinden baÅŸlar 12.'ye kadar devam eden aralÄ±kta 'en' ifadesini arar
print('sen benim en gÃ¼zel gÃ¼nahÄ±msÄ±n'.find('en', 3,))              # end kÄ±smÄ±nÄ± boÅŸ bÄ±rakmak stringin tamamÄ±nÄ± kabul et anlamÄ±na gelmektedir.
print('sen benim en gÃ¼zel gÃ¼nahÄ±msÄ±n'.find('Ä±n', -1, 0 ))         # bu ÅŸekilde tersten arama diye bi ÅŸey yok doÄŸal olarak. o yÃ¼zden Ã§Ä±ktÄ±sÄ± -1'dir

2
0
6
7
9
5
5
-1

##### **9. Method: format()**

> braces --> {} 

> stringler iÃ§erisinde braces kullanarak stringleri formatlarÄ±z

> Ã¶rneklerle anlamaya Ã§alÄ±ÅŸmak en gÃ¼zeli:

In [ ]:
# 1. YÃ¶ntem: DeÄŸiÅŸken Atayarak Formatlamak

txt_a = "My name is {name}, I'm {age} years old.".format(name = "John", age = 28)

# 2. YÃ¶ntem: NumaralandÄ±rarak Formatlamak

txt_b = "My name is {0}, I'm {1} years old.".format("John", 28)

# 3. YÃ¶ntem: BoÅŸ BÄ±rakarak Formatlamak

txt_c = "My name is {}, I'm {} years old.".format("John", 28)

print(txt_a)        
print(txt_b)        
print(txt_c)

My name is John, I'm 28 years old.
My name is John, I'm 28 years old.
My name is John, I'm 28 years old.

In [ ]:
# herhangi bir sÄ±nÄ±rlamamÄ±z yok. 

txt3 = "My name is {name}, I'm {age} years old. Her name is {hname} and her age is {hage}.".format(name = "John", age = 28, hname = 'Ä°rem', hage = 25)  # 1. YÃ¶ntem: DeÄŸiÅŸken Atayarak Formatlamak
txt4 = "My name is {0}, I'm {1} years old. Her name is {2} and her age is {3}.".format("John", 28, 'Ä°rem', 25)                                          # 2. YÃ¶ntem: NumaralandÄ±rarak Formatlamak
txt5 = "My name is {}, I'm {} years old. Her name is {} and her age is {}.".format("John", 28, 'Ä°rem', 25)                                              # 3. YÃ¶ntem: BoÅŸ BÄ±rakarak Formatlamak

print(txt3)
print(txt4)
print(txt5)

My name is John, I'm 28 years old. Her name is Ä°rem and her age is 25.
My name is John, I'm 28 years old. Her name is Ä°rem and her age is 25.
My name is John, I'm 28 years old. Her name is Ä°rem and her age is 25.

***â­Formatting Methodsâ­*** 

>> aÅŸaÄŸdaki hÃ¼crede sÄ±rasÄ±yla bir takÄ±m formatlama operatÃ¶rleri gÃ¶receksin:

In [ ]:
# :<

txt = "We had {sayi:<8} chickens. {sayi_2:<8} chickens are died.".format(sayi = 49, sayi_2 = 16)       # sayi'nÄ±n saÄŸÄ±na  8 adet space bÄ±rakÄ±r, diÄŸer yÃ¶ntemleri uygularsak daha pratik oluyor.
print(txt)

# :>

txt = "We had {sayi:>3} chickens. {sayi_2:>3} chickens are died.".format(sayi = 49, sayi_2 = 16)       # sayi'nÄ±n soluna  3 adet space bÄ±rakÄ±r   
print(txt)

# :^

txt = "We had {sayi:^5} chickens. {sayi_2:^5} chickens are died.".format(sayi = 49, sayi_2 = 16)       # sayi'nÄ±n soluna  3 tane saÄŸÄ±na, 2 adet soluna space bÄ±rakÄ±r
print(txt)

# :=

txt = "We had {sayi:=8} chickens. {sayi_2:=8} chickens are died.".format(sayi = 49, sayi_2 = -16)       # eÄŸer sayÄ±nÄ±n Ã¶nÃ¼nde - iÅŸareti varsa onu en sola atar
print(txt)

# :+

txt = "We had {sayi:+} chickens. {sayi_2:+} chickens are died.".format(sayi = 49, sayi_2 = -16)       # hem boÅŸluk buraktÄ±rÄ±r hem de sayÄ±larÄ±n Ã¶nÃ¼ne artÄ± koyar. Ama eÄŸer negatif bi sayÄ± varsa ona dokunmaz
print(txt)

# :-

txt = "We had {sayi:-} chickens. {sayi_2:-} chickens are died.".format(sayi = 49, sayi_2 = -16)       # sadece negatif sayÄ±larÄ±n eksi iÅŸaretli olmasÄ±nÄ± saÄŸlar
print(txt)

# :

txt = "We had {sayi: } chickens. {sayi_2: } chickens are died.".format(sayi = 49, sayi_2 = -16)       # pozitif sayÄ±lardan Ã¶nce ekstra bir boÅŸluk bÄ±rakÄ±r
print(txt)

# :,

txt = "We had {sayi:,} chickens. {sayi_2:,} chickens are died.".format(sayi = 49000000, sayi_2 = 16000)       # binler basamaÄŸÄ±na bir virgÃ¼l ekler.
print(txt)

# :_

txt = "We had {sayi:_} chickens. {sayi_2:_} chickens are died.".format(sayi = 49000000, sayi_2 = 16000)       # binler basamaÄŸÄ±na bir underscore ekler.
print(txt)

# :b

txt = "The binary version of {0} is {0:b}".format(5)                # binary formatta gÃ¶serir bir sayÄ±yÄ±

print(txt)

We had 49       chickens. 16       chickens are died.
We had  49 chickens.  16 chickens are died.
We had  49   chickens.  16   chickens are died.
We had       49 chickens. -     16 chickens are died.
We had +49 chickens. -16 chickens are died.
We had 49 chickens. -16 chickens are died.
We had  49 chickens. -16 chickens are died.
We had 49,000,000 chickens. 16,000 chickens are died.
We had 49_000_000 chickens. 16_000 chickens are died.
The binary version of 5 is 101

In [ ]:
txt = "We had {sayi:,} chickens. {sayi_2:,} chickens are died.".format(sayi = 49000000, sayi_2 = 16000)       
print(txt)       # binler basamaÄŸÄ±na bir virgÃ¼l ekler.

txt = "We had {sayi:_} chickens. {sayi_2:_} chickens are died.".format(sayi = 49000000, sayi_2 = 16000)       
print(txt)       # binler basamaÄŸÄ±na bir underscore ekler.

txt = "The price is {:.2f} dollars.".format(45)        
print(txt)       # burada 2 yerine kaÃ§ yazarsak, 45.0000 ÅŸeklinde o sayÄ± kadar sÄ±fÄ±r koyar.

txt = "You scored {:.0%}".format(0.25)                 
print(txt)       # burada 0 yerine kaÃ§ yazarsak, 25.000 ÅŸeklinde o sayÄ± kadar sÄ±fÄ±r ekler

We had 49,000,000 chickens. 16,000 chickens are died.
We had 49_000_000 chickens. 16_000 chickens are died.
The price is 45.00 dollars.
You scored 25%

In [ ]:
# EN Ã–NEMLÄ°1:

txt = "The price is {:.2f} dollars.".format(45)         # burada 2 yerine kaÃ§ yazarsak, virgÃ¼lden sonra o kadar sÄ±fÄ±r koyar.
print(txt)

txt = "The price is {:.5f} dollars.".format(45)         # burada 5 tane sÄ±fÄ±r koyulacak mesela
print(txt)

txt = "The price is {:.0f} dollars.".format(45)         # burada 5 tane sÄ±fÄ±r koyulacak mesela
print(txt)

# EN Ã–NEMLÄ°2:

txt = "You scored {:%}".format(0.25)                    # bir Ã¶nceki gibi, kaÃ§ yazarsak o kadar sÄ±fÄ±r koyar
print(txt)

txt = "You scored {:.2%}".format(0.25)
print(txt)

txt = "You scored {:.0%}".format(0.25)                  # burada 0 yerine kaÃ§ yazarsak, 25.000 ÅŸeklinde o sayÄ± kadar sÄ±fÄ±r ekler
print(txt)

The price is 45.00 dollars.
The price is 45.00000 dollars.
The price is 45 dollars.
You scored 25.000000%
You scored 25.00%
You scored 25%

In [ ]:
# Ã¶nemli bir uygulama:

txt = "We had {sayi:,} chickens. {sayi_2:,} chickens are died.".format(sayi = 49000000, sayi_2 = 16000)       # binler basamaÄŸÄ±na bir virgÃ¼l ekler.
print(txt.replace(",", "."))

We had 49.000.000 chickens. 16.000 chickens are died.

##### **10. Method: format_map()**

> format() ile aynÄ± gÃ¶revi gÃ¶rÃ¼yor ancak bir farkla

> format_map() kullanmak iÃ§in bir dictionary e ihtiyaÃ§ var.

> Dict'in her bir key'ini curly braces iÃ§ine yazarÄ±z ve bize o keye karÅŸÄ±lÄ±k gelen value'yi yazdÄ±rÄ±r.

In [ ]:
first_name = input('Ä°sim: ')
last_name = input('Soyisim: ')
city = input('DoÄŸum Åehri: ')
birth = int(input('DoÄŸum YÄ±lÄ±: '))

my_dict = {
    'first': first_name.title(),
    'last': last_name.title(),
    'from': city.title(),
    'birth': birth,    
    'age': (2024 - birth)
}

txt_1 = ('My name is {first}. My last name is {last}. I was born in {from} at {birth}. Now, I\'m {age} years old.').format_map(my_dict)
print(txt_1)

My name is Emre. My last name is Ã‡akÄ±r. I was born in Istanbul at 1996. Now, I'm 28 years old.

In [ ]:
dict_hobbies = {
    'sport': 'Football',
    'series': 'Braking Bad',
    'actrist': 'Al Pacino',
    'city': 'Amsterdam'
    }

txt_best = 'My favorite spor is {sport}. I watched {series} twice. I admire {actrist} and I want to live in {city}'.format_map(dict_hobbies)

print(txt_best)

My favorite spor is Football. I watched Braking Bad twice. I admire Al Pacino and I want to live in Amsterdam

##### **11. Method: index() and rindex()**

> index bulmaya yarayan method [index soldan, rindex saÄŸdan aramaya baÅŸlar]

> Bu methodu kullanarak bir string'in baÅŸka bir string iÃ§erisinde kaÃ§Ä±ncÄ± index'te olduÄŸunu Ã¶ÄŸreniriz.

> Tek bir karakter aratÄ±labileceÄŸi gibi, birden fazla karakterden oluÅŸan string'de aratÄ±labilir.

> ***EÄŸer deÄŸer bulunamazsa hata verir***

In [ ]:
cell = "ebcde"
cell.index("c")

2

In [ ]:
string = 'Benim AdÄ±m Emre. Her Zaman OlduÄŸu Gibi Åimdi de Emre\'yim.'
print('KÃ¼Ã§Ã¼k a\'nÄ±n string iÃ§erisindeki index\'i  -->',string.index('a'))        # casesentsitive di. bÃ¼yÃ¼k aslÄ±nda 6. indexte ancak bizim aradÄ±ÄŸÄ±mÄ±z kÃ¼Ã§Ã¼k a olduÄŸu iÃ§in 22 Ã§Ä±ktÄ±sÄ±nÄ± alÄ±rÄ±z
print('BÃ¼yÃ¼k A\'nÄ±n string iÃ§erisindeki index\'i  -->',string.index('A')) 
print("--")
print(string.index('dÄ±m'))

KÃ¼Ã§Ã¼k a'nÄ±n string iÃ§erisindeki index'i  --> 22
KÃ¼Ã§Ã¼k a'nÄ±n string iÃ§erisindeki index'i  --> 22
BÃ¼yÃ¼k A'nÄ±n string iÃ§erisindeki index'i  --> 6
BÃ¼yÃ¼k A'nÄ±n string iÃ§erisindeki index'i  --> 6
--
7

In [ ]:
txt = 'Benim sevgilim Emre dÃ¼nyanÄ±n en iyi Emre\'sidir'
name = 'Emre'

print(txt.index(name, 20))          # txt isimli string'in 20. indexinden sonra gelen ilk name deÄŸiÅŸkenini arar 

print('techpro education is the best education course in the world!'.index('edu', 15 ))     # baÅŸta verilmiÅŸ olan string'in 15. indexinden sonra gelen ilk 'edu' stringinin indexini arar

test_string = "1234gfg4321"
print(test_string.index('gfg', 1, 10))          # 1. indexten baÅŸlar 10. indexe kadar geÃ§en aralÄ±kta 'gfg' yi arar.

36
30
4

In [ ]:
print('sen benim en gÃ¼zel gÃ¼nahÄ±msÄ±n'.find('1', 3, 12))           # stringin 3. indexinden baÅŸlar 12.'ye kadar devam eden aralÄ±kta 'en' ifadesini arar

-1

##### **12. Method: isalnum()**

> bir string'in alfabetik-numeric olup olmadÄ±ÄŸÄ±nÄ± sorgularÄ±z. hem alfabetik hem de numeric ise true dÃ¶ndÃ¼rÃ¼r

> baÅŸka bi deyiÅŸle, string eÄŸer sadece harflerden oluÅŸuyorsa, sadece sayÄ±lardan oluÅŸuyorsa ve hem harf hem yazÄ±dan oluÅŸuyorsa true dÃ¶ndÃ¼rÃ¼r. EÄŸer string iÃ§erisinde bir boÅŸluk dahi olsa onu Ã¶zel karakterden sayar.

In [ ]:
print('B'.isalnum())            # sadece harf
print('2'.isalnum())            # sadece sayÄ±
print('B2'.isalnum())           # hem sayÄ± hem harf
print('B 2'.isalnum())          # arada bir boÅŸluk olduÄŸu iÃ§in False dÃ¶ndÃ¼rÃ¼r
print('B-2'.isalnum())          # arada bir tane tire olduÄŸu iÃ§in False dÃ¶ndÃ¼rÃ¼r
print('Emre Ã‡akÄ±r'.isalnum())

print('Erkin Ã‡akÄ±r TÃ¼rkiyelidir ama ÅŸuanda Hollanda\'da yaÅŸÄ±yor'.isalnum())

True
True
True
False
False
False
False

##### **13. Method: isalpha()**

> string'in sadece alfabetik olup olmadÄ±ÄŸÄ±nÄ± sorgularÄ±z:

> sadece alfabetik ise True dÃ¶ndÃ¼rÃ¼r

In [ ]:
name = 'Emre'

print(name.isalpha())

name_1= 'Emre1'

print(name_1.isalpha())

name_2 = 'Emre Ã‡akÄ±r'

print(name_2.isalpha())

True
False
False

##### **14. Method: isdecimal() & isdigit() & isnumeric()**

> string iÃ§erisinde sadece rakamlar mÄ± var diye kontrol ederiz

> 3 method birbirinin yerini tutar. DetaylarÄ± anlaÅŸÄ±lmayacak seviyede. Ä°stediÄŸini seÃ§

In [ ]:
string = '1231135'              # sadece rakamlardan oluÅŸuyor
print(string.isdecimal())
string = '1231135a'             # harf var       
print(string.isdecimal())
string = '123 1231'             # boÅŸluk var
print(string.isdecimal())
string = '12.2'                 # nokta var
print(string.isdecimal())
string = '-12'                 # tire var
print(string.isdecimal())

True
False
False
False
False

In [ ]:
string = '1231135'              # sadece rakamlardan oluÅŸuyor
print(string.isdigit())
string = '1231135a'             # harf var       
print(string.isdigit())
string = '123 1231'             # boÅŸluk var
print(string.isdigit())
string = '12.2'                 # nokta var
print(string.isdigit())
string = '-12'                 # tire var
print(string.isdigit())

True
False
False
False
False

In [ ]:
string = '1231135'              # sadece rakamlardan oluÅŸuyor
print(string.isnumeric())
string = '1231135a'             # harf var       
print(string.isnumeric())
string = '123 1231'             # boÅŸluk var
print(string.isnumeric())
string = '12.2'                 # nokta var
print(string.isnumeric())
string = '-12'                 # tire var
print(string.isnumeric())

True
False
False
False
False

##### **15. Method: isidentifier()**

> Bu method isalnum() methoduna Ã§ok benziyor. Hem string hem sayÄ± ise True yazdÄ±rÄ±r. Tek bir farkla:

> isidentifier(), rakamla baÅŸlayan stringleri False dÃ¶ndÃ¼rÃ¼r.

In [ ]:
print('Emre21'.isidentifier())      # herhangi bi yerde sayÄ± olmasÄ± sorun deÄŸil baÅŸta olmasÄ±n yeter
print('Emreee'.isidentifier())
print('21Emre'.isidentifier())      # EÄŸer rakamla baÅŸlarsa kabul olmuyor
print('Emre-21'.isidentifier())     # Ã¶zel karakter kabul etmiyor isalnum() gibi
print('Emre 21'.isidentifier())

True
True
False
False
False

##### **16. Method: islower()**

In [ ]:
print('emre Ã§akÄ±r'.islower())
print('Emre Ã‡akÄ±r'.islower())
print('emre Ã§akÄ±R'.islower())

True
False
False

##### **17. Method: isprintable()**

> anladÄ±ÄŸÄ±m kadarÄ±yla bazÄ± kaÃ§Ä±ÅŸ yÃ¶ntemlerini false dÃ¶ndÃ¼rÃ¼yor bir tanÄ±mlayamadÄ±ÄŸÄ± simgeler falan olursa muhtemelen

In [ ]:
txt = 'Emre Ã‡akÄ±r'
print(txt.isprintable())
txt = 'Emre_Ã‡akÄ±r'
print(txt.isprintable())
txt = 'Emre1Ã‡akÄ±r2'
print(txt.isprintable())
txt = '2'
print(txt.isprintable())
txt = '-2'
print(txt.isprintable())
txt = 'â¤'
print(txt.isprintable())
print('----')
txt = 'emre\tÃ§akÄ±r'
print(txt.isprintable())
txt = 'emre\nÃ§akÄ±r'
print(txt.isprintable())
txt = 'Emre\' Ã‡akÄ±r'            # bu garipmiÅŸ
print(txt.isprintable())

True
True
True
True
True
True
----
False
False
True

##### **18. Method: isspace()**

        EÄŸer bir string iÃ§erisindeki tÃ¼m karakterler aÅŸaÄŸÄ±daki ifadelerden oluÅŸuyorsa True dÃ¶ndÃ¼rÃ¼r. Onun haricinde false dÃ¶ndÃ¼rÃ¼r bir tane bile bunlar dÄ±ÅŸÄ±nda bir ÅŸey varsa.
    
    Whitespace: Alfabe dÄ±ÅŸÄ± karakterler ya da AralÄ±klama Karakterleri olarak geÃ§iyor bu aÅŸaÄŸÄ±dakiler:
    ' ' - Space
    \t - Horizontal tab
    \n - Newline
    \v - Vertical tab
    \f - Feed
    \r - Carriage return

In [ ]:
string = "\n\t\n"
print(string.isspace())

string = 'Geeksforgeeks'
print(string.isspace())

string = '\n \n \n'
print(string.isspace())

string = 'Geeks\nfor\ngeeks'
print( string.isspace())

True
False
True
False

##### **19. Method: istitle()**

> eÄŸer string title() metotu ile dÃ¼zenlenmiÅŸ bir string gibi ise True dÃ¶ndÃ¼rÃ¼r. DeÄŸilse False dÃ¶ndÃ¼rÃ¼r.

In [ ]:
print('emre Ã§akÄ±r'.istitle())
print('emre Ã‡akÄ±r'.istitle())
print('EmrE Ã‡akÄ±r'.istitle())
print('EmreÃ§akÄ±r'.istitle())
print('Emre Ã‡akÄ±r'.istitle())

False
False
False
True
True

##### **20. Method: isupper()**

> eÄŸer string upper() metotu ile dÃ¼zenlenmiÅŸ bir string gibi ise True dÃ¶ndÃ¼rÃ¼r. DeÄŸilse False dÃ¶ndÃ¼rÃ¼r.

In [ ]:
print('Emre'.isupper())
print('EMRe'.isupper())
print('EmRe'.isupper())
print('EMRE'.isupper())
print('EMRE Ã‡AKIR'.isupper())

False
False
False
True
True

##### **21. Method: join()**

    Bir string'in iÃ§ine bir ÅŸeyler serpiÅŸtiriyor
    EÄŸer bir liste sadece string'lerden oluÅŸuyorsa listeyi string'e Ã§evirebilir

In [ ]:
print('-'.join('Emre'))
print('*'.join('Emre'))
print('-*-'.join('Emre'))
print('$'.join(' Emre '))

E-m-r-e
E*m*r*e
E-*-m-*-r-*-e
 $E$m$r$e$
geeks

In [ ]:
print("".join(['1', '2', '3', '4']))
print("*".join(['e', 'm', 'r', 'e']))
print("*".join(['ee', 'mm', 'rr', 'ee']))

1234
e*m*r*e
ee*mm*rr*ee

In [ ]:
list1 = ('1', '2', '3', '4')
s = "-"
txt = s.join(list1)
print(txt)

1-2-3-4

str

In [ ]:
dict1 = {'Emre': 1, 'Ä°rem': 2, 'SÃ¼heyla': 3}

txt = '_#_'.join(dict1)     # bir dict'in key'lerini kullabiliyoruz

print(txt)

Emre_#_Ä°rem_#_SÃ¼heyla

##### **23. Method: lower()**

In [ ]:
print('Emre Ã‡akÄ±r'.lower())
print('emre Ã§akÄ±r'.lower())
print('emre_Ã‡akÄ±r'.lower())

emre Ã§akÄ±r
emre Ã§akÄ±r
emre_Ã§akÄ±r

> bir stringin solunda sildirmek istediÄŸimiz ÅŸeyleri sildiririz. EÄŸer bir ÅŸey belirtmezsek, boÅŸluk varsa boÅŸluÄŸu siler

In [ ]:
print('  Emre Ã‡akÄ±r'.lstrip())
print('**Emre Ã‡akÄ±r'.lstrip())      # burada silmediÄŸini bir alt satÄ±rda Ã¶zel olarak belirterek sildirebiliyoruz
print('**Emre Ã‡akÄ±r'.lstrip('**'))
print('**Emre**Ã‡akÄ±r***'.lstrip('**'))  # parantez iÃ§erisinde belirtilenler sadece stringin baÅŸÄ±nda ise geÃ§erli olur

Emre Ã‡akÄ±r
**Emre Ã‡akÄ±r
Emre Ã‡akÄ±r
Emre**Ã‡akÄ±r***

In [ ]:
string = "++++x...y!!z* geeksforgeeks"
print(string.lstrip("+.!*xyz"))         # illa tam olarak birebir aynÄ±sÄ±nÄ± yazmamÄ±za gerek yok. iÃ§erdiÄŸi ÅŸeyi iÃ§erse yeter

string2 = 'a1x2 a1a x3?a?xx Emre Ã‡akÄ±r'
print(string2.lstrip('a213?x '))        # bu ÅŸekilde detaylÄ± bilgi girersek temizliÄŸi doÄŸru yapabilir

 geeksforgeeks
Emre Ã‡akÄ±r

In [ ]:
# illa boÅŸluk silmek zorunda deÄŸiliz:

print('Emre Ã‡akÄ±r'.lstrip('Em'))         # baÅŸ kÄ±sÄ±mdaki Em'i sildirebiliriz

re Ã‡akÄ±r

##### **25. Method: partition()**

> stringler iÃ§erisinde bir ÅŸey aratÄ±rÄ±z ve arattÄ±ÄŸÄ±mÄ±z ÅŸeyi bir ayraÃ§ olarak kullanÄ±p ikiye bÃ¶leriz tÃ¼m stringi 

> Her zaman 3 elemanlÄ± bir tuple elde ederiz anladÄ±ÄŸÄ±m kadarÄ±yla

In [ ]:
print('Emre Ã‡akÄ±r Bir Makine MÃ¼hendisiydi Eskiden'.partition('Bir'))
print('Emre Ã‡akÄ±r Bir Makine MÃ¼hendisiydi Eskiden'.partition(' Bir '))
print('Emre Ã‡akÄ±r Bir Makine MÃ¼hendisiydi Eskiden'.partition('Emre'))
print('Emre Ã‡akÄ±r Bir Makine MÃ¼hendisiydi Eskiden'.partition(' Eskiden'))

('Emre Ã‡akÄ±r ', 'Bir', ' Makine MÃ¼hendisiydi Eskiden')
('Emre Ã‡akÄ±r', ' Bir ', 'Makine MÃ¼hendisiydi Eskiden')
('', 'Emre', ' Ã‡akÄ±r Bir Makine MÃ¼hendisiydi Eskiden')
('Emre Ã‡akÄ±r Bir Makine MÃ¼hendisiydi', ' Eskiden', '')

In [ ]:
print('bu Emre Ã‡akÄ±r Emre deÄŸildir.'.partition('Emre'))     # EÄŸer arattÄ±ÄŸÄ±mÄ±z ÅŸeyden iki tane varsa, ilk denk geldiÄŸini dikkate alÄ±r.

('bu ', 'Emre', ' Ã‡akÄ±r Emre deÄŸildir.')

In [ ]:
print('Emre Ã‡akÄ±r Bir Makine MÃ¼hendisiydi Eskiden'.partition('SÃ¼heyla'))          # eÄŸer arattÄ±ÄŸÄ±mÄ±z ÅŸey yoksa, tipik olarak aÅŸaÄŸÄ±daki gibi bir Ã§Ä±ktÄ± alÄ±rÄ±z.

('Emre Ã‡akÄ±r Bir Makine MÃ¼hendisiydi Eskiden', '', '')

In [ ]:
string = 'Emre Ã‡akÄ±r Bir Makine MÃ¼hendisiydi Eskiden'.partition('SÃ¼heyla')
type(string)

tuple

In [ ]:
# Ã§ok gÃ¼zel bir Ã§alÄ±ÅŸma:

url = "https://www.example.com/index.html"
result = url.partition("//")
result = result[2].partition("/")
print(result[0])

www.example.com

##### **26. Method: replace()**

In [ ]:
print('Serhat Ã‡akÄ±r'.replace('Serhat', 'Emre'))     # klasik kullanÄ±mÄ± budur

Emre Ã‡akÄ±r

In [ ]:
print('emre Ã§akÄ±r emre Ã§akÄ±r emre Ã§akÄ±r emre Ã§akÄ±r'.replace('emre', 'X', 2))        # bu replace iÅŸlemini yalnÄ±zca 2 kez yapmamÄ±zÄ± saÄŸladÄ±

X Ã§akÄ±r X Ã§akÄ±r emre Ã§akÄ±r emre Ã§akÄ±r

> find() baÅŸtan baÅŸlar aramaya, rfind() ise sondan baÅŸlar aramaya.

In [ ]:
print('let it be, let it be, let it be'.find('it'))
print('let it be, let it be, let it be'.rfind('it'))

print('emreemre'.find('e'))
print('emreemre'.rfind('e'))

4
26
0
7

> index() baÅŸtan baÅŸlar saymaya, rindex() sondan baÅŸlar

In [ ]:
print('emre Ã‡akÄ±r'.index('e'))
print('emre Ã‡akÄ±r'.rindex('e'))

0
3

##### **29. Method: partition() and rpartition()**

> partition() soldan baÅŸlar aramaya, rpartition() saÄŸdan baÅŸlar

In [ ]:
print('Emre Ã‡akÄ±r Bir Makine MÃ¼hendisiydi Bir Eskiden'.partition('Bir'))            # soldan ilk Bir
print('Emre Ã‡akÄ±r Bir Makine MÃ¼hendisiydi Bir Eskiden'.rpartition('Bir'))           # saÄŸdan ilk Bir
len('Emre Ã‡akÄ±r Bir Makine MÃ¼hendisiydi Bir Eskiden'.rpartition('Eskiden'))        # saÄŸdan ilk Bir

('Emre Ã‡akÄ±r ', 'Bir', ' Makine MÃ¼hendisiydi Bir Eskiden')
('Emre Ã‡akÄ±r Bir Makine MÃ¼hendisiydi ', 'Bir', ' Eskiden')

3

##### **30. Method: split()**

> bir karakter seÃ§eriz ve string'i o karakterin olduÄŸu yerlerden ayÄ±rÄ±r. AyrÄ±ca tek bir karakter yerine birden fazlasÄ±nÄ± da seÃ§ebiliriz.

> split olarak belirlenen karakteri siler

In [ ]:
print('Benim, adÄ±m, Emre, Ã‡akÄ±r'.split(','))          # virgÃ¼ller ayrak olarak kullanÄ±ldÄ±
print('Benim, adÄ±m, Emre, Ã‡akÄ±r'.split(', '))         # virgÃ¼le ve boÅŸluk olan her yer ayrak olarak kullanÄ±ldÄ±
print('Benim, adÄ±m, Emre, Ã‡akÄ±r'.split('Emre'))       # Emre ayraÃ§ olarak kullanÄ±ldÄ±. Emre'nin silindiÄŸine dikkat et
print('Benim, adÄ±m, Emre, Ã‡akÄ±r'.split(', Emre, '))   # (1)Daha dÃ¼zgÃ¼n bir split seÃ§imi, Ã§Ä±ktÄ±nÄ±n daha dÃ¼zgÃ¼n olmasÄ±nÄ± saÄŸlar
print('Benim adÄ±m Emre Ã‡akÄ±r'.split(' '))             # (2)Daha dÃ¼zgÃ¼n bir split seÃ§imi, Ã§Ä±ktÄ±nÄ±n daha dÃ¼zgÃ¼n olmasÄ±nÄ± saÄŸlar

['Benim', ' adÄ±m', ' Emre', ' Ã‡akÄ±r']
['Benim', 'adÄ±m', 'Emre', 'Ã‡akÄ±r']
['Benim, adÄ±m, ', ', Ã‡akÄ±r']
['Benim, adÄ±m', 'Ã‡akÄ±r']
['Benim', 'adÄ±m', 'Emre', 'Ã‡akÄ±r']

In [ ]:
print('Benim adÄ±m Emre Ã‡akÄ±r'.split(' ', maxsplit=1))           # maxsplit, belirlenen split'in en fazla kaÃ§ defa uygulanacaÄŸÄ±nÄ± gÃ¶sterir
print('Benim adÄ±m Emre Ã‡akÄ±r'.split(' ', 1))                    # maxsplit yazmasak da olur
print('--#--')
print('Benim adÄ±m Emre Ã‡akÄ±r'.split(' ', maxsplit=2))           # belirlediÄŸimiz split aracÄ±nÄ±n 2 defa uygulandÄ±ÄŸÄ±nÄ±, 3. ye geldikten sonra durduÄŸunu gÃ¶rebiliriz
print('Benim adÄ±m Emre Ã‡akÄ±r'.split(' ', 2))                    # maxsplit yazmasak da olur 
print('--#--')
print('Benim adÄ±m Emre Ã‡akÄ±r'.split(' ', 4))           
print('Benim adÄ±m Emre Ã‡akÄ±r'.split(' ', 12))                   # string iÃ§erisindeki sayÄ±yÄ± aÅŸarsak sorun yok max uygulama yapÄ±p geÃ§er 
print('--#--')
print('split()\'in iÃ§ine hiÃ§bir ÅŸey yazmazsak, space olarak algÄ±lar -->','Benim adÄ±m Emre Ã‡akÄ±r'.split())

['Benim', 'adÄ±m Emre Ã‡akÄ±r']
['Benim', 'adÄ±m Emre Ã‡akÄ±r']
--#--
['Benim', 'adÄ±m', 'Emre Ã‡akÄ±r']
['Benim', 'adÄ±m', 'Emre Ã‡akÄ±r']
--#--
['Benim', 'adÄ±m', 'Emre', 'Ã‡akÄ±r']
['Benim', 'adÄ±m', 'Emre', 'Ã‡akÄ±r']
--#--
split()'in iÃ§ine hiÃ§bir ÅŸey yazmazsak, space olarak algÄ±lar --> ['Benim', 'adÄ±m', 'Emre', 'Ã‡akÄ±r']

##### **31. Method: strip() anda lstrip()**

> BaÅŸtan ve sondan boÅŸluklar siler (lstrip sadece solundan siler)

> EÄŸer farklÄ± bi ÅŸey belirtirsek boÅŸluk yerine onu siler

In [ ]:
print('     Emre Ã‡akÄ±r      '.strip())              # baÅŸta ve sondaki tÃ¼m boÅŸluklarÄ± sildi
print('     Emre Ã‡akÄ±r      '.strip(" "))           # ortalardaki hiÃ§bir ÅŸey ile ilgilenmez bu metod
print('--#--')
print('*****Emre Ã‡akÄ±r******'.strip('*'))           # baÅŸta ve sondaki asteriksleri sildi
print('     Emre Ã‡akÄ±r******'.strip('*'))           # sondaki asteriksleri sildi ama baÅŸtaki boÅŸluÄŸa dokunmadÄ±
print('--#--')
print('     Emre Ã‡akÄ±r******'.strip('*'))           # sondaki asteriksleri sildi ama baÅŸtaki boÅŸluÄŸa dokunmadÄ±
print('     Emre Ã‡akÄ±r******'.strip('* '))          # EÄŸer bi tarafta boÅŸluk diÄŸer tarafta asteriks gibi durum olursa, iki karkateri de yazarsak metot gerekeni yapar
print('--#--')
print('yxzyxEmre Ã‡akÄ±rzyxzyz'.strip('xyz'))         # baÅŸta ve sodna x, y ve z harflerinin rastgele dizilimleri var. Bizim strip komuduna bu 3 harfi yazmamÄ±z yeter
print('yxzyxEmre Ã‡akÄ±rzyxzyz'.strip('xyz'))         # baÅŸta ve sodna x, y ve z harflerinin rastgele dizilimleri var. Bizim strip komuduna bu 3 harfi yazmamÄ±z yeter
print('--#--')
print('Emre Ã‡akÄ±r'.strip('Ã‡akÄ±r'))                  # Bu ÅŸekilde doÄŸrudan kelime de kaldÄ±rabiliriz.

Emre Ã‡akÄ±r
Emre Ã‡akÄ±r
--#--
Emre Ã‡akÄ±r
     Emre Ã‡akÄ±r
--#--
     Emre Ã‡akÄ±r
Emre Ã‡akÄ±r
--#--
Emre Ã‡akÄ±r
Emre Ã‡akÄ±r
--#--
Emre

In [ ]:
print('  Emre Ã‡akÄ±r'.lstrip())
print('**Emre Ã‡akÄ±r'.lstrip())      # burada silmediÄŸini bir alt satÄ±rda Ã¶zel olarak belirterek sildirebiliyoruz
print('**Emre Ã‡akÄ±r'.lstrip('**'))
print('**Emre**Ã‡akÄ±r***'.lstrip('**'))  # parantez iÃ§erisinde belirtilenler sadece stringin baÅŸÄ±nda ise geÃ§erli olur

##### **32. Method: splitlines()**

> \n, \r, \r\n, \x1c, \x1d, ... , \u2029 

> splitlines() metodu yukarÄ±daki karakterlere gÃ¶re split olur.

In [ ]:

string = "Cat\nBat\nSat\nMat\nXat\nEat"

print (string.splitlines( )) 

print('India\nJapan\nUSA\nUK\nCanada\n'.splitlines())

['Cat', 'Bat', 'Sat', 'Mat', 'Xat', 'Eat']
['India', 'Japan', 'USA', 'UK', 'Canada']

##### **33. Method: startswith()**

> EÄŸer bir string bizim belirttiÄŸimiz ÅŸekilde baÅŸlamÄ±ÅŸsa True dÃ¶ndÃ¼rÃ¼r, aksi halde false

In [ ]:
var = "Geeks for Geeks"

print(var.startswith("Geeks"))
print(var.startswith("Hello"))

True
False

In [ ]:
text = "geeks for geeks."

result = text.startswith('for geeks', 6)        # text'in 6. karakteri f'dir yani for geeks'dir.
print(result)

result = text.startswith('for', 6, 9)           # text'in 6. karakteri ile 9. karakteri arasÄ±nda for vardÄ±r. (9 dahil deÄŸil)
print(result)

result = text.startswith('for', 6, 8)           # text'in 6. karakteri ile 8. karakteri arasÄ±nda for yoktur fo vardÄ±r sadece. (8 dahil deÄŸil)
print(result)

True
True
False

##### **34. Method: swapcase()**

> BÃ¼yÃ¼k harfleri kÃ¼Ã§Ã¼k hale Ã§evirir, kÃ¼Ã§Ã¼k harfleri bÃ¼yÃ¼k harfe Ã§evirir

In [ ]:
print('EMRE Ã§akÄ±r'.swapcase())

emre Ã‡AKIR

##### **35. Method: title()**

> string iÃ§erisindeki tÃ¼m kelimelerin bÃ¼yÃ¼k harfle baÅŸlayÄ±p kÃ¼Ã§Ã¼k harfle devam etmesini saÄŸlar

In [ ]:
print('EMRE Ã‡AKIR GARÄ°P BÄ°R ADAMDIR'.title())
print('emre Ã§akÄ±r garip bir adamdÄ±r'.title())
print('eMre Ã‡AKIR gAriP bÄ°r aDaMdIr'.title())

Emre Ã‡akir GariÌ‡p BiÌ‡r Adamdir
Emre Ã‡akÄ±r Garip Bir AdamdÄ±r
Emre Ã‡akir Garip BiÌ‡r Adamdir

##### **36. Method: translate()**

> Ã§ok anlamadÄ±m. ASCII sayÄ±larÄ±yla ilgili bi ÅŸeydi. Åimdilik vakit ayÄ±rmama deÄŸeceÄŸini dÃ¼ÅŸÃ¼nmediÄŸim iÃ§in geÃ§iyorum bu metodu

##### **37. Method: upper()**

> tÃ¼m string'i bÃ¼yÃ¼k harfle yazdÄ±rÄ±r.

In [ ]:
print('emre Ã§akÄ±r garip bir adamdÄ±r'.upper())
print('eMre Ã‡AKIR gAriP bÄ°r aDaMdIr'.upper())

EMRE Ã‡AKIR GARIP BIR ADAMDIR
EMRE Ã‡AKIR GARIP BÄ°R ADAMDIR

##### **38. Method: zfill()**

> stringin baÅŸÄ±na 0 ekleriz

In [ ]:
txt = 'Emre Ã‡akÄ±r Garip Bir AdamdÄ±r'
print('txt deÄŸiÅŸkeninin karakter sayÄ±sÄ± --> ',len(txt))
print('--#--')
print(txt.zfill(30))        # 30, 28'den iki fazla olduÄŸu iÃ§in 2 tane sÄ±fÄ±r ekledik baÅŸÄ±na
print(txt.zfill(60))        # 30, 28'den 32 fazla olduÄŸu iÃ§in 32 tane sÄ±fÄ±r ekledik baÅŸÄ±na
print('--#--')
number = "6041"
print(number.zfill(8)) 
print('--#--')
number = "+6041"
print(number.zfill(8))

txt deÄŸiÅŸkeninin karakter sayÄ±sÄ± -->  28
--#--
00Emre Ã‡akÄ±r Garip Bir AdamdÄ±r
00000000000000000000000000000000Emre Ã‡akÄ±r Garip Bir AdamdÄ±r
--#--
00006041
--#--
+0006041

#### **â–¶ 2.1.2.2 Exersizler**

##### **1ï¸âƒ£ KullanÄ±cÄ±dan bir cÃ¼mle girmesini isteyin. O cÃ¼mle iÃ§erisinde hangi haflerden kaÃ§ar tane olduÄŸunun Ã§Ä±ktÄ±sÄ±nÄ± alÄ±n.**
        Ã–R:     Ã–rnek String : google.com'
                Beklenen Ã‡Ä±ktÄ±:  {'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [ ]:
# Benim Ã§Ã¶zÃ¼mÃ¼m:

text = input('Bir cÃ¼mle veya metin giriniz: ')
text_length = len(text)
print('Girilen metin:',text)
empty_list = []
empty_dict = {}
for character in text:
    char_count = text.count(character)
    if char_count >= 1 and character not in empty_list: 
        empty_list.append(character)
        empty_list.append(char_count)
empty_list_length = len(empty_list)
for i in range(0, empty_list_length, 2):
    empty_dict.update({empty_list[i]: empty_list[i+1]})
    
print(empty_dict)

Girilen metin: emre Ã§akÄ±r
{'e': 2, 'm': 1, 'r': 2, ' ': 1, 'Ã§': 1, 'a': 1, 'k': 1, 'Ä±': 1}

In [ ]:
# w3resource Ã§Ã¶zÃ¼mÃ¼:

text = input('Bir cÃ¼mle veya metin giriniz: ')
print('Girilen metin:',text)
dict = {}
for n in text:
    keys = dict.keys()
    if n in keys:
        dict[n] += 1
    else:
        dict[n] = 1

print(dict)

Girilen metin: emre Ã§akÄ±r
{'e': 2, 'm': 1, 'r': 2, ' ': 1, 'Ã§': 1, 'a': 1, 'k': 1, 'Ä±': 1}

##### **2ï¸âƒ£ Girilen bir stringin ilk iki ve son iki harfinin birleÅŸtirilmesiyle elde edilen yeni bir string oluÅŸturun. Girilen stringin karakter sayÄ±sÄ± 2'den az ise Empty String Ã§Ä±ktÄ±sÄ±nÄ± dÃ¶ndÃ¼rÃ¼n.**
        Ã–R:     Sample String : 'w3resource'
                Expected Result : 'w3ce'
                Sample String : 'w3'
                Expected Result : 'w3w3'
                Sample String : ' w'
                Expected Result : Empty String

In [ ]:
# Benim Ã§Ã¶zÃ¼mÃ¼m:

string = input('Bir kelime giriniz: ')
string_length = len(string)
left_side = string[:2]
right_side = string[-2:]
new_string = left_side + right_side
message = 'Empty String'
if string_length < 2:
    print(message)
else:
    print(new_string)

emem

In [ ]:
# w3resource Ã§Ã¶zÃ¼mÃ¼:

def string_both_ends(str):
    if len(str) < 2:
        return 'empty string'       # buraya print girince olmuyor garip bi ÅŸekilde

    return str[0:2] + str[-2:]

print(string_both_ends('w3resource'))  
print(string_both_ends('w3'))         
print(string_both_ends('w'))

w3ce
w3w3
empty string

## **â–¶ï¸â–¶ï¸ 2.2 If Clauses**

    if konusu ile ilgili anlatÄ±lacak bi ÅŸey yok. Åarta baÄŸlÄ± iÅŸlemler yaparÄ±z. AÅŸaÄŸÄ±daki Ã¶rnek de bir if yapsÄ±nÄ±n nasÄ±l Ã§alÄ±ÅŸÄ±tÄŸÄ±nÄ± aÃ§Ä±klÄ±yor.

In [ ]:
doÄŸru_sayÄ±sÄ± = int(input("KaÃ§ doÄŸrun var? "))
if doÄŸru_sayÄ±sÄ± <= 5:
    print("Dahi misin?")
elif doÄŸru_sayÄ±sÄ± <= 10:
    print("ÅŸaka mÄ±sÄ±n sen?")
elif doÄŸru_sayÄ±sÄ± <= 15:
    print("sÃ¼persin")
else:
    print("GeÃ§ersiz bir deÄŸer girdiniz.")

sÃ¼persin

## **â–¶ï¸â–¶ï¸ 2.3 Range()**

    Range() fonksiyonu ile belli bir aralÄ±kta tam sayÄ± Ã¼retiriz

In [ ]:
print(range(4, 10))                # gÃ¶rÃ¼ntÃ¼leyebilmek iÃ§in farklÄ± bir fonksiyona ihtiyaÃ§ vardÄ±r. (4 dahil, 10 dahil deÄŸil) (iterable'dÄ±r, elemanlarÄ±na ulaÅŸabiliriz)

print(list(range(4, 10)))          # liste oluÅŸturma FONKSÄ°YONU kullanÄ±lmÄ±ÅŸtÄ±r. 

print(range(4, 10)[1])             # iterable olma Ã¶zelliÄŸi'dir. list ve tuple ile Ã§alÄ±ÅŸabilmesi bunun bir kanÄ±tÄ±dÄ±r. 

print(list(range(10)))             # herhangi bir baÅŸlangÄ±Ã§ noktasÄ± vermezsek 0'dan baÅŸlar

print(list(range(1, 10, 2)))       # buradaki "2", range'in artÄ±ÅŸ hÄ±zÄ±dÄ±r.

print(list(range(-5, 10, 2)))

print(list(range(5, 10, -1)))             # 5'den baÅŸalyÄ±p -1 adÄ±m ile 10'a gidemeyiz. boÅŸ liste dÃ¶ndÃ¼rÃ¼r

range(4, 10)
[4, 5, 6, 7, 8, 9]
5
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]
[-5, -3, -1, 1, 3, 5, 7, 9]
[]

In [ ]:
# Soru: 1 - 50 arasÄ±ndaki Ã§ift sayÄ±larÄ± yazdÄ±ralÄ±m:
print(list(range(2, 51, 2)))

# Soru: 1 - 50 arasÄ±ndaki tek sayÄ±larÄ± yazdÄ±ralÄ±m:
print(list(range(1, 50, 2)))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

## **â–¶ï¸â–¶ï¸ 2.4 Lists**

    Ä°Ã§erisinde her tÃ¼rden veriyi saklayabilen bir Collective Type'dÄ±r. 
    
    mutable (elemanlarÄ± deÄŸiÅŸtirilebilir)

    iterable (elemanlarÄ±na index yoluyla ulaÅŸÄ±labilir ve silicing yapÄ±labilir)

### **â–¶ï¸ 2.4.1 Konu AnlatÄ±mÄ±**

In [ ]:
# 1. list oluÅŸturma yÃ¶ntemi: (Ã–nerilir, daha yoÄŸun tercih edilir)

liste_1 = [1, 2, 3.154, "Mustafa", False]
print("1. liste -->", liste_1)

# 2. list oluÅŸtumra yÃ¶ntemi:

liste_2 = list("Techpro")                   # bu yÃ¶ntemle liste oluÅŸturmak iÃ§in iterable bir ÅŸey yazmak gerekir.
print("2. liste -->", liste_2)

# liste eleman sayÄ±sÄ±nÄ± bulma, len() foknsiyonu kullanarak:

print("liste_1'Ä±n eleman sayÄ±sÄ± -->", len(liste_1))             # len() fonksiyonu iterable olan her tÃ¼rÃ¼n eleman sayÄ±sÄ±nÄ± hesaplar, stringlerde olduÄŸu gibi listelerde de vardÄ±r. Mesela integar'larda eror verir.
print("liste_2'Ä±n eleman sayÄ±sÄ± -->", len(liste_2))

1. liste --> [1, 2, 3.154, 'Mustafa', False]
2. liste --> ['T', 'e', 'c', 'h', 'p', 'r', 'o']
liste_1'Ä±n eleman sayÄ±sÄ± --> 5
liste_2'Ä±n eleman sayÄ±sÄ± --> 7

In [ ]:
# boÅŸ liste oluÅŸturma:

boÅŸ_liste_1 = []
print("1. yÃ¶ntem ile oluÅŸturulan boÅŸ list -->", boÅŸ_liste_1)

boÅŸ_liste_2 = list()
print("2. yÃ¶ntem ile oluÅŸturulan boÅŸ list -->", boÅŸ_liste_2)

1. yÃ¶ntem ile oluÅŸturulan boÅŸ list --> []
2. yÃ¶ntem ile oluÅŸturulan boÅŸ list --> []

In [ ]:
# slicing:

ortaya_karÄ±ÅŸÄ±k = [3, 4.4, "Orkun", False, [1, 2, 3, 4, 5]]

print("ortaya_karÄ±ÅŸÄ±k listesinin 1. indexi --> ", ortaya_karÄ±ÅŸÄ±k[1])
print("\nğŸ’¥ Yani, listeler de stringler gibi iterable olduÄŸu iÃ§in indexlerini kullanarak elemanlarÄ±na ulaÅŸabiliyoruz basitÃ§e")
ortaya_karÄ±ÅŸÄ±k[1:4]             # 1. index dahil 4. index dahil deÄŸil...

ortaya_karÄ±ÅŸÄ±k listesinin 1. indexi -->  4.4

ğŸ’¥ Yani, listeler de stringler gibi iterable olduÄŸu iÃ§in indexlerini kullanarak elemanlarÄ±na ulaÅŸabiliyoruz basitÃ§e

[4.4, 'Orkun', False]

In [ ]:
# mutable Ã¶zelliÄŸi:

potpori = ["Seyda", 3.14, True, 7, [1, 2, 3, 4, 5, 6]]
print("Eleman deÄŸiÅŸmeden Ã¶nce potpori isimli liste   -->",potpori)
potpori[0] = "BetÃ¼l"              
print("Eleman deÄŸiÅŸtikten sonra potpori isimli liste -->",potpori)

Eleman deÄŸiÅŸmeden Ã¶nce potpori isimli liste   --> ['Seyda', 3.14, True, 7, [1, 2, 3, 4, 5, 6]]
Eleman deÄŸiÅŸtikten sonra potpori isimli liste --> ['BetÃ¼l', 3.14, True, 7, [1, 2, 3, 4, 5, 6]]

    ğŸ¹ append() methodu --> listenin sonuna eleman ekler

In [ ]:
sayÄ±lar_1 = [1, 2, 3, 4, 5]
sayÄ±lar_1.append(6)
sayÄ±lar_1.append(7)         # append() yalnÄ±zca 1 adet eleamn eklenebiliyor. o yÃ¼zden 7'yi ayrÄ± bi satÄ±rda ekledim.
sayÄ±lar_1

[1, 2, 3, 4, 5, 6, 7]

    ğŸ¹ insert() methodu --> listeye eleman ekler ama kaÃ§Ä±ncÄ± indekse eklemek istersek oraya ekler. eÄŸer string eklemeye kalkarsak string'in her bir item'Ä±nÄ± ayrÄ± ayrÄ± ekler

In [ ]:
sayÄ±lar_2 = [11, 12, 13, 14, 15]
print("Eleman eklenmeden Ã¶nce sayÄ±lar_2 isimli liste     -->", sayÄ±lar_2)

sayÄ±lar_2.insert(1, 20)         # 1. indexe 20 sayÄ±sÄ±nÄ± ekler
print("Eleman eklendikten sonra sayÄ±lar_2 isimli liste   -->", sayÄ±lar_2)

sayÄ±lar_2.insert(-1, 16)        # -1. indexe 16 sayÄ±sÄ±nÄ± ekler
print("Eleman eklendikten sonra sayÄ±lar_2 isimli liste   -->", sayÄ±lar_2)

sayÄ±lar_2.insert(199, 17)       # 199 elemandan daha az eleman olduÄŸu iÃ§in en sona ekler
print("Eleman eklendikten sonra sayÄ±lar_2 isimli liste   -->", sayÄ±lar_2)

Eleman eklenmeden Ã¶nce sayÄ±lar_2 isimli liste     --> [11, 12, 13, 14, 15]
Eleman eklendikten sonra sayÄ±lar_2 isimli liste   --> [11, 20, 12, 13, 14, 15]
Eleman eklendikten sonra sayÄ±lar_2 isimli liste   --> [11, 20, 12, 13, 14, 16, 15]
Eleman eklendikten sonra sayÄ±lar_2 isimli liste   --> [11, 20, 12, 13, 14, 16, 15, 17]

    ğŸ¹ extend() methodu --> append'e benzer. append sadece 1 eleman eklerken extend ile birden fazla eleman ekleyebiliyoruz

In [ ]:
liste_2 = [1, 2, 3]
liste_2.extend([4, 5])                  # 4 ve 5 sayÄ±larÄ± listeye eklendi
print(liste_2)

liste_2.extend("Techpro")                   # her bir elemanÄ± tek tek ekler
print(liste_2)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 'T', 'e', 'c', 'h', 'p', 'r', 'o']

    ğŸ¹ not: Listelerde replace() metodu yok.

    ğŸ¹ remove() methodu --> listeden item sileriz: EÄŸer silmek istediÄŸimiz eleman listede yoksa hata verir. Bir ÅŸey yazmazsak hata verir.

In [ ]:
sayÄ±lar_3 = [1, 2, 3, 2, 5, 3, 4, 2, 6, 4, 5]
sayÄ±lar_3.remove(2)     # listede gÃ¶rdÃ¼ÄŸÃ¼ ilk 2'yi siler
print(sayÄ±lar_3)

isimler_1 = ["Fulya", "Serhat", "Aslan"]
isimler_1.remove("Serhat")
print(isimler_1)

[1, 3, 2, 5, 3, 4, 2, 6, 4, 5]
['Fulya', 'Aslan']

    ğŸ¹ pop() methodu --> index'ine gÃ¶re elemanÄ± silebiliyoruz. bir ÅŸey yazmazsak son elemanÄ± siler. boÅŸ listede kullanÄ±rsak hata alÄ±rÄ±z.

In [ ]:
sayÄ±lar_1 = [1, 2, 3, 4, 5]
print("listenin eski hali -->",sayÄ±lar_1)
print("pop() metodu ile silinen eleman -->",sayÄ±lar_1.pop())             # listenin son elemanÄ±nÄ± siler ve sildiÄŸi item'Ä± bize bildirir.
print("listenin son hali  -->",sayÄ±lar_1)

listenin eski hali --> [1, 2, 3, 4, 5]
pop() metodu ile silinen eleman --> 5
listenin son hali  --> [1, 2, 3, 4]

In [ ]:
print("pop() metodu kullanÄ±larak 2. indexteki silinen eleman: ", sayÄ±lar_1.pop(2))        # listenin 2. itemini siler, yani indexi 6 olan item siler.
print("pop() metodu kullanÄ±larak 0. indexteki silinen eleman: ", isimler_1.pop(0))        # sildiÄŸi elemanÄ± Ã§Ä±ktÄ± olarak yazdÄ±rÄ±r

pop() metodu kullanÄ±larak 2. indexteki silinen eleman:  4
pop() metodu kullanÄ±larak 0. indexteki silinen eleman:  Aslan

    ğŸ¹ count() methodu --> liste iÃ§erisinde bir item'dan kaÃ§ tane olduÄŸunu gÃ¶sterir
    
    Ã‡ok Ã–nemli: matematiksel olarak olarak birbirine eÅŸit ifadeler varsa hepsini aynÄ± eleman sayar. Ã–r: False'Ä±n matematiksel karÅŸÄ±lÄ±ÄŸÄ± SIFIR'dÄ±r. 0.00'Ä±n da matematik karÅŸÄ±lÄ±ÄŸÄ± SIFIR'dÄ±r. O halde 2 adet SIFIR saymÄ±ÅŸ olur. AynÄ± ÅŸey bir de True (1, 1.0 vs) iÃ§in geÃ§erlidir. BaÅŸka bi Ã¶rneÄŸi yok zaten.

In [ ]:
sayÄ±lar_5 = [1, 2, 3, 2, 4, 3, 5, 1, 2, 4]
print(sayÄ±lar_5.count(3))                              # listede kaÃ§ tane 3 varsa onu sayar ve Ã§Ä±ktÄ±sÄ±nÄ± bize verir:

karÄ±ÅŸÄ±k = [1, 0.0, False, 2, True, 1, 1.0, 0]
print(karÄ±ÅŸÄ±k.count(0))                               # karÄ±ÅŸÄ±k listesindeki sÄ±fÄ±rlar: karÄ±ÅŸÄ±k[1], karÄ±ÅŸÄ±k[2], karÄ±ÅŸÄ±k[-1]. Yani 0.0 veya False'u da sÄ±fÄ±r olarak alÄ±r.

print(karÄ±ÅŸÄ±k.count(False))

2
3
3

    ğŸ¹ clear() methodu --> listeleri temizler ve boÅŸ listeye Ã§evirir

In [ ]:
sayÄ±lar_2 = [10, 11, 20, 20, 12, 13, 14, 16, 15, 17, 17]
sayÄ±lar_2.clear()                   # sayÄ±lar_2 listesini boÅŸ liste haline getirdik. clear kullanarak baÅŸka hiÃ§bir ÅŸey yapamayÄ±z.
sayÄ±lar_2

[]

    ğŸ¹ del fonksiyonu --> listeleri tamamen hafÄ±zadan siler

In [ ]:
del sayÄ±lar_2                   # bu komudu Ã§alÄ±ÅŸtÄ±rdÄ±ktan sonra sayÄ±lar_2 listesi tamamen silindi.

    ğŸ¹ sort() methodu --> listeleri bÃ¼yÃ¼kten kÃ¼Ã§Ã¼ÄŸe doÄŸru sÄ±ralar. bunu kullanÄ±rken listenin iÃ§erisindeki item'larÄ±n benzer type'ta olduÄŸuna dikkat et. mesela int ile float benzer tiptedir ama string deÄŸildir. [sort(reverse=True) bÃ¼yÃ¼kten kÃ¼Ã§Ã¼ÄŸe sÄ±ralar]

In [ ]:
sayÄ±lar_6 = [4, 8.3, 3, 5.5, 15, 26.0, 41, 12]
sayÄ±lar_6.sort()                            # bunu kullandÄ±ktan sonra artÄ±k liste yenilenir
print(sayÄ±lar_6)
sayÄ±lar_6.sort(reverse=True)                # bÃ¼yÃ¼kten kÃ¼Ã§Ã¼ÄŸe doÄŸru sÄ±ralama. Reverse'un default hali False'tur. Onu True'ya Ã§eviririz.
print(sayÄ±lar_6)

[3, 4, 5.5, 8.3, 12, 15, 26.0, 41]
[41, 26.0, 15, 12, 8.3, 5.5, 4, 3]

In [ ]:
isimler_2 = ["Murat", "ayÅŸe", "seyda", "mehmet"]                # stringleri ASCII tabosundaki deÄŸerlerine gÃ¶re sÄ±ralanÄ±r [M < a < m < s]
isimler_2.sort()
print(isimler_2)
isimler_2.sort(reverse=True)                                # bÃ¼yÃ¼kten kÃ¼Ã§Ã¼ÄŸe doÄŸru sÄ±ralar.
print(isimler_2)
# ord() fonksiyonu ile bir harfin ASCII deÄŸerini Ã¶ÄŸreniriz.

print(ord("M"))
print(ord("a"))
print(ord("s"))
print(ord("m"))

['Murat', 'ayÅŸe', 'mehmet', 'seyda']
['seyda', 'mehmet', 'ayÅŸe', 'Murat']
77
97
115
109

    ğŸ¹ append() methodu --> listenin sonuna eleman ekler
    
    ğŸ¹ insert() methodu --> listeye eleman ekler ama kaÃ§Ä±ncÄ± indekse eklemek istersek oraya ekler. eÄŸer string eklemeye kalkarsak string'in her bir item'Ä±nÄ± ayrÄ± ayrÄ± ekler

    ğŸ¹ extend() methodu --> append'e benzer. append sadece 1 eleman eklerken extend ile birden fazla eleman ekleyebiliyoruz

    ğŸ¹ not: Listelerde replace() metodu yok.

    ğŸ¹ remove() methodu --> listeden item sileriz: EÄŸer silmek istediÄŸimiz eleman listede yoksa hata verir. Bir ÅŸey yazmazsak hata verir.

    ğŸ¹ pop() methodu --> index'ine gÃ¶re elemanÄ± silebiliyoruz. bir ÅŸey yazmazsak son elemanÄ± siler. boÅŸ listede kullanÄ±rsak hata alÄ±rÄ±z.

    ğŸ¹ count() methodu --> liste iÃ§erisinde bir item'dan kaÃ§ tane olduÄŸunu gÃ¶sterir

    ğŸ¹ clear() methodu --> listeleri temizler ve boÅŸ listeye Ã§evirir

    ğŸ¹ sort() methodu --> listenin elemanlarÄ±nÄ± kÃ¼Ã§Ã¼kten bÃ¼yÃ¼ÄŸe doÄŸru sÄ±ralar.
    
    ğŸ¹ sort(reverse=True) --> listenin elemanlarÄ±nÄ± bÃ¼yÃ¼kten kÃ¼Ã§Ã¼ÄŸe doÄŸru sÄ±ralar

In [ ]:
print([1, 2, 3] + [3, 5])              # listelerde toplama

print([1, 2, 3] * 3)                    # listelerde Ã§arpma

[1, 2, 3, 3, 5]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

## **â–¶ï¸â–¶ï¸ 2.5 Tuples**

    Tuple'lar da Listeler gibi Collection Type'lardan bir tanesidir. Ä°Ã§erisinde her telden veri olabiliyor listelerdeki gibi.

    immutable (elemanlarÄ± deÄŸiÅŸtirilemez)

    iterable (elemanlarÄ±na index yoluyla ulaÅŸÄ±labilir ve silicing yapÄ±labilir)

### **â–¶ï¸ 2.5.1 Konu AnlatÄ±mÄ±**

In [ ]:
# tuple oluÅŸturma, 1. yÃ¶ntem:
tuple_1 = tuple("Techpro")
print("1. yÃ¶ntem ile oluÅŸturulan tuple -->", tuple_1)

# 2. yÃ¶ntem:
tuple_2 = ("Techpro",)      # viegÃ¼le dikkat
print("2. yÃ¶ntem ile oluÅŸturulan tuple -->", tuple_2)

# 3. yÃ¶ntem:
tuple_3 = 3, 14         # tercih edilmez
print("3. yÃ¶ntem ile oluÅŸturulan tuple -->", tuple_3)

1. yÃ¶ntem ile oluÅŸturulan tuple --> ('T', 'e', 'c', 'h', 'p', 'r', 'o')
2. yÃ¶ntem ile oluÅŸturulan tuple --> ('Techpro',)
3. yÃ¶ntem ile oluÅŸturulan tuple --> (3, 14)

In [ ]:
print(tuple([1, 2, 3, 4, 5]))      # listler iterable olduÄŸu iÃ§in, bir liste tuple'a dÃ¶nÃ¼ÅŸebiliyor

name = "BaÅŸak"
tuple(name)

(1, 2, 3, 4, 5)

('B', 'a', 'ÅŸ', 'a', 'k')

In [ ]:
tuple([1, 2, 3, 4, 5], [6, 4])        # tuple() fonksiyonu iÃ§erisinde en fazla 1 tane eleman olmalÄ±. hata verir

tuple(123)                            # integar object iterable olmadÄ±ÄŸÄ± iÃ§in hata verir

TypeError: tuple expected at most 1 argument, got 2

In [ ]:
print((1, 2, 3) + (3, 5))               # tuple'larda toplam

print((1, 2, 3) * 3)                    # tuple'larda Ã§arpma

("Techpro", 3, False) + ("Sedat",)      # Sedat'tan sonra virgÃ¼l eklemeseydik hata verirdi!!!!!

tuple_2[0] = "Meltem"                   # tuple'Ä±n herhangi bir elemanÄ± deÄŸiÅŸtirlemez. Sadece tuple komple deÄŸiÅŸtirlebilir. (immutble Ã¶zelliÄŸi)

del tuple_2[3]                          # tuple'larÄ±n iÃ§erisinden bir ÅŸey silemiyoruz (immutable)

(1, 2, 3, 3, 5)
(1, 2, 3, 1, 2, 3, 1, 2, 3)

('Techpro', 3, False, 'Sedat')

    Indexing & Slicing

In [ ]:
tuple_2 = ("Aslan", 4, True, ["Tulay", 5, 6], ("Zeynep", 2, 3.14))
print(tuple_2[3])
print(tuple_2[3][0])
print(tuple_2[4][2])
print(tuple_2[1:4])
print(tuple_2[3:0:-1])

['Tulay', 5, 6]
Tulay
3.14
(4, True, ['Tulay', 5, 6])
(['Tulay', 5, 6], True, 4)

In [ ]:
tuple_2[3]                     # bir liste Ã§aÄŸÄ±rdÄ±k
print(tuple_2[3].append(7))    # artÄ±k bir liste metodu kullanabiliriz. istisnadÄ±r Ã§Ã¼nkÃ¼ sadece list'ler mutable'dÄ±r.
print(tuple_2)                 # burada tuple deÄŸiÅŸmedi, tuple iÃ§erisinde bir liste deÄŸiÅŸti o kadar.

None
('Aslan', 4, True, ['Tulay', 5, 6, 7], ('Zeynep', 2, 3.14))

    Tuple metodlarÄ±  : sadece 2 adet metod vardÄ±r

    â³ count() metodu : bir item'dan tuple iÃ§erisinde kaÃ§ tane olduÄŸunu sayar

In [ ]:
tuple_3 = (1, 2, 5, 2, 1, 3, 4, 1, 2, 3, 2)

print(tuple_3.count(2))            # 4 adet 2 var tuple_3 iÃ§erisinde
tuple_3.count("a")          # 0 adet "a" var tuple_3 iÃ§erisinde, yani yok

4

0

    â³ index() metodu : bir item'in tuple iÃ§erisinde kaÃ§Ä±ncÄ± index'te olduÄŸunu gÃ¶sterir

In [ ]:
print(tuple_3.index(5))        # 5 item'Ä± tuple_3 iÃ§erisinde 2. indexte yer alÄ±yor.

tuple_3.index(2)               # ilk gÃ¶rdÃ¼ÄŸÃ¼ elemanÄ±n indexini verir.

2

1

## **â–¶ï¸â–¶ï¸ 2.6 Dictionaries**

    collection type'larÄ±n bir Ã¼yesidir, list ve tuple tarzÄ±nda.

    ancak burada item'larÄ± ikili gruplar halinde saklÄ±yoruz -->      
    
            {key1:value1, key2:value2, key3:value3}  
    
    tarzÄ±ndadÄ±r. her bir key&value Ã§ifti 1 adet elemanÄ± oluÅŸturmaktadÄ±r.

    > mutable (deÄŸiÅŸtirilebilir) - deÄŸiÅŸtirilebilirdir, listeler gibi

    > iterable'dÄ±r --> item'larÄ±na tek tek ulaÅŸÄ±labilir

### **â–¶ï¸ 2.6.1 Konu AnlatÄ±mÄ±**

#### **â–¶ 2.6.1.1 Dictionary OluÅŸturma**

In [ ]:
# 1. dictionary oluÅŸturma ÅŸekli:
a = {}
# .2 dictionary oluÅŸturma ÅŸekli:
b = dict()      # bu fonksiyon biraz daha Ã¶zeldir ve spesifik noktalarda kullanÄ±lÄ±r

print(a)
print(b)

{}
{}

In [1]:
# 1. dictionary oluÅŸturma ÅŸekli:
dict_1 = {'key1':'valu2', 'key2':'value2'}              # iki elemanlÄ±dÄ±r
print("dict_1 isimli dictionary             :",dict_1)
print("dict_1 dictionary'nin eleman sayÄ±Ä±sÄ± :",len(dict_1))

dict_1 isimli dictionary             : {'key1': 'valu2', 'key2': 'value2'}
dict_1 dictionary'nin eleman sayÄ±Ä±sÄ± : 2

In [ ]:
# aÅŸaÄŸÄ±daki gibi input ile de deÄŸer girebiliyoruz

dict_3 = {'name': input('Ä°sminizi giriniz: ')}

dict_3

#### **â–¶ 2.6.1.2 Dictionary Methods**

    ğŸ“£ items() methodu --> dictionary'nin elemanlarÄ±nÄ± yazdÄ±rÄ±r. her elemanÄ± farklÄ± tuple iÃ§erisine koyarak bir liste halinde sunar. Yani, her bir tuple iÃ§erisinde iki Ã§ift eleman olacak ÅŸekilde bir Ã§Ä±ktÄ± alÄ±rÄ±z; bu iki elemandan birincisi dictionary'nin key'idir, diÄŸeri ise value'sidir.

In [6]:
list(dict_1.items())          # liste iÃ§erisindeki tuple'lara key:value Ã§iftlerini yazdÄ±rÄ±r,

('key1', 'valu2')

    ğŸ“£ keys() methodu --> dictionary'nin key'lerini Ã§aÄŸÄ±rÄ±r

In [ ]:
dict_1.keys()           # dictionary iÃ§erisindeki key'ler

dict_keys(['key1', 'key2'])

    ğŸ“£ values() methodu --> dictionary'nin value'lerini Ã§aÄŸÄ±rÄ±r

In [ ]:
dict_1.values()        # dictionary iÃ§erisindeki value'ler

In [ ]:
dict_2 = {'name': 'Ã¶mer', 'age': 30, 'job': 'Data scientist'}

print("Dictionary iÃ§erisindeki key'ler   :",dict_2.keys())           # bu ÅŸekilde bu dict'te ne tÃ¼r bilgiler olduÄŸunu gÃ¶rebiliyoruz 

print("Dictionary iÃ§erisindeki value'lar :",dict_2.values())         # eÄŸer key'leri biliyorsak, yanÄ±tlarla ilgileniyor olabiliriz doÄŸrudan

Dictionary iÃ§erisindeki key'ler   : dict_keys(['name', 'age', 'job'])
Dictionary iÃ§erisindeki value'lar : dict_values(['Ã¶mer', 30, 'Data scientist'])

In [ ]:
dict_2[0]               # dict'ler iterable'dÄ±r ancak bizim bildiÄŸimiz yÃ¶ntemlerle ulaÅŸÄ±lamzlar. Bunun yerine key'leri kullanÄ±lÄ±r o yÃ¼zden slicing'de yok

KeyError: 0

    ğŸ“£ update() methodu --> dict'lere yeni key:value ekler yani yeni eleman ekler. Bunu yaparken bir dict formatÄ±nda yazÄ±lÄ±r

In [2]:
dict_friend = {
    'friend_1': 'Erkin',
    'friend_2': 'Ozan',
    'friend_3': 'Ä°rem',
    'friend_4': 'Osman',
    'friend_5': 'Hacer'
}

dict_friend.update({'friend_6': 'Ceren', 'friend_7': 'betÃ¼l'})

         # direkt deÄŸiÅŸken olarak da kullanabiliriz, bb zaten bir dictionary

dict_friend

{'friend_1': 'Erkin',
 'friend_2': 'Ozan',
 'friend_3': 'Ä°rem',
 'friend_4': 'Osman',
 'friend_5': 'Hacer',
 'friend_6': 'Ceren',
 'friend_7': 'betÃ¼l'}

    ğŸ“£ clear() methodu --> dictionary'nin iÃ§ini boÅŸaltÄ±r, boÅŸ dictionary elde ederiz

In [ ]:
dict_friend.clear()
dict_friend

{}

    ğŸ“£ pop() methodu --> dictionary'den eleman siler. <key kullanarak eleman sileriz>. pop'u boÅŸ bÄ±rakÄ±rsak hata verir

In [ ]:
dict_11 = {
    'Ã¶ÄŸrenci1': ('orkun', 32, 'data_science'),
    True: 1, 
    3.14: 'pi_number'
}

print(dict_11.pop(3.14))               # sildiÄŸimiz elemanÄ±n value'su Ã§Ä±ktÄ± olarak gelir karÅŸÄ±mÄ±z
print(dict_11)

pi_number
{'Ã¶ÄŸrenci1': ('orkun', 32, 'data_science'), True: 1}

#### **â–¶ 2.6.1.3 BoÅŸ Dictionary OluÅŸturma**

In [ ]:
empty_dict = {}                
print(empty_dict)

#### **â–¶ 2.6.1.4 Keys**

    KEYS >> key'ler string olmak zorunda deÄŸil

In [ ]:
# dict'lerde bir deÄŸere ulaÅŸmak iÃ§in index deÄŸil key deÄŸerleri kullanÄ±lÄ±r

print("'name' key'ine karÅŸÄ±lÄ±k gelen value â¡", dict_2['name'])
print("'age' key'ine karÅŸÄ±lÄ±k gelen value  â¡", dict_2['age'])
print("'job' key'ine karÅŸÄ±lÄ±k gelen value  â¡", dict_2['job'])

In [ ]:
dict_4 = {0: 'zero', 1: 'one', 2: 'two'}

print(dict_4)

print(dict_4[0])               # burada Ã§aÄŸÄ±rÄ±lan ÅŸey index deÄŸil key'dir. dict_4'Ã¼n 0 olan key'i olmasaydÄ± hata verecekti

print(dict_4.keys())
print(dict_4.values())

{0: 'zero', 1: 'one', 2: 'two'}
zero
dict_keys([0, 1, 2])
dict_values(['zero', 'one', 'two'])

In [ ]:
dict_5 = {False: 0, True: 1}            # boolean'lar key olabiliyorlar
print(dict_5)

dict_6 = {3.14: 'pi_number'}            # float'lar da key olabiliyor
print(dict_6)

dict_8 = {(1, 2, 3): 'sayÄ±lar_listesi'} # tuple'lar key olabilir    
print(dict_8)

{False: 0, True: 1}
{3.14: 'pi_number'}
{(1, 2, 3): 'sayÄ±lar_listesi'}

    ğŸ“’ Not: Dict'lerin key kÄ±smÄ±na liste koyamayÄ±z sadece. ama tuple'larÄ± koyabiliyoruz

In [ ]:
dict_7 = {[1, 2, 3]: 'sayÄ±lar_listesi'} # listeler key olamaz, Ã§Ã¼nkÃ¼ deÄŸiÅŸtirilebilirler

TypeError: unhashable type: 'list'

#### **â–¶ 2.6.1.5 Values**

    ğŸ“’ Not: listeler ve tuple'larÄ±n her ikisi de value olarak kullanÄ±labilir. liste kullanÄ±rsak deÄŸiÅŸiklik yapabiliriz sonradan, tuple kullanÄ±rsak deÄŸiÅŸiklik yapÄ±lamaz

In [ ]:
dict_9 = {'Ã¶ÄŸrenci1': ['orkun', 32, 'data_science'], 'Ã¶ÄŸrenci2': ['bilkay', 25, 'python_developer']}        
print("gÃ¼ncellemeden Ã¶nceki hali -->",dict_9)
print(dict_9.keys())
print(dict_9['Ã¶ÄŸrenci2'])                          # Ã§Ä±ktÄ±yÄ± liste olarak aldÄ±k. artÄ±k liste'ye gÃ¶re iÅŸlemler yapabiliriz. eÄŸer tuple olsaydÄ± deÄŸiÅŸiklik yapamazdÄ±k
dict_9['Ã¶ÄŸrenci2'][1] = 36                  # 2. Ã¶ÄŸrencinin yaÅŸÄ±nÄ± 36 olarak deÄŸiÅŸtirdik, eskiden 25ti
print("gÃ¼ncellemeden sonraki hali -->",dict_9)

gÃ¼ncellemeden Ã¶nceki hali --> {'Ã¶ÄŸrenci1': ['orkun', 32, 'data_science'], 'Ã¶ÄŸrenci2': ['bilkay', 25, 'python_developer']}
dict_keys(['Ã¶ÄŸrenci1', 'Ã¶ÄŸrenci2'])
['bilkay', 25, 'python_developer']
gÃ¼ncellemeden sonraki hali --> {'Ã¶ÄŸrenci1': ['orkun', 32, 'data_science'], 'Ã¶ÄŸrenci2': ['bilkay', 36, 'python_developer']}

#### **â–¶ 2.6.1.6 dict() Fonksiyonu**

In [ ]:
# dict() fonksiyonu ile aÅŸaÄŸÄ±daki gibi dict'ler oluÅŸturabiliriz

dict_10 = dict(one = 1, two = 2, three = 3)
print(dict_10)

{'one': 1, 'two': 2, 'three': 3}

In [ ]:
# Ã§ok Ã¶nemli bir detay:
# bu yÃ¶ntemle dictionary oluÅŸtururken normal bir variable atÄ±yormuÅŸuz gibi dÃ¼ÅŸÃ¼nmeliyiz. Yani key deÄŸerimiz asla bir rakam ve Ã¶zel karakter olmamalÄ±:

dict(0 = "zero", 1 = "one")         # bu ÅŸekilde de yapÄ±lamÄ±yor. deÄŸiÅŸken tanÄ±mlÄ±yormuÅŸ gibi dÃ¼ÅŸÃ¼nmek lazÄ±m. deÄŸiÅŸken tanÄ±mlarken deÄŸiÅŸkenin sayÄ± olmasÄ± nasÄ± mÃ¼mkÃ¼n deÄŸilse burada da izin vermez

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (3425412105.py, line 4)

#### **â–¶ 2.6.1.7 (List + Tuple) dan Dictionary Elde Etme**

In [7]:
liste_1 = [('name', 'sedat'), ('name2', 'murat'), ('name3', 'ebru')]        # bu tÃ¼r ikili tuple'larÄ± listeye Ã§evirebiliriz. 
print(">> bu bir list'dir       :",liste_1)
print(">> bu bir dictioanry'dir :",dict(liste_1))               # bu tÃ¼r bir yÃ¶ntemde kullanÄ±labilir. onun dÄ±ÅŸÄ±nda Ã§ok mantÄ±klÄ± olmayabilir

>> bu bir list'dir       : [('name', 'sedat'), ('name2', 'murat'), ('name3', 'ebru')]
>> bu bir dictioanry'dir : {'name': 'sedat', 'name2': 'murat', 'name3': 'ebru'}

#### **â–¶ 2.6.1.8 Dictionary'den Liste Elde Etme**

In [ ]:
# aÅŸaÄŸÄ±daki yÃ¶ntem ile dictionary'nin key'lerinden oluÅŸan bir list elde edebiliyoruz:

print(list(dict_9))

# ancak aÅŸaÄŸÄ±daki gibi yaparsak doÄŸrudan dictionary'yi list'e Ã§evirebiliriz:

print(list(dict_9.items()))

['Ã¶ÄŸrenci1', 'Ã¶ÄŸrenci2']
[('Ã¶ÄŸrenci1', ['orkun', 32, 'data_science']), ('Ã¶ÄŸrenci2', ['bilkay', 36, 'python_developer'])]

    ğŸ“’ Not: dictionary ile yapamayacaÄŸÄ±mÄ±z ÅŸeyleri listelere Ã§evirip o ÅŸekilde de yapabiliriz:

In [ ]:
liste_2 = list(dict_9.items())
print(liste_2[0])              # normalde dict'in sÄ±fÄ±rÄ±ncÄ± elemanÄ± olamazken listeye Ã§evirip indexleme ve slicing gibi ÅŸeyler yapabiliriz.
print(liste_2[0:2])            # bir dict ile slicing iÅŸlemi yapÄ±lamazken onu list'e Ã§evirerek slicing yapabiliyoruz

('Ã¶ÄŸrenci1', ['orkun', 32, 'data_science'])
[('Ã¶ÄŸrenci1', ['orkun', 32, 'data_science']), ('Ã¶ÄŸrenci2', ['bilkay', 36, 'python_developer'])]

In [ ]:
dict_friend = {'friend_1': 'Erkin', 'friend_2': 'Ozan', 'friend_3': 'Ä°rem'}
len(dict_friend)                # kaÃ§ elemanÄ± var-yani kaÃ§ tane key:value Ã§ifti var Ã¶ÄŸrenebiliriz

3

#### **â–¶ 2.6.1.9 Yeni Eleman Ekleme ve Value DeÄŸiÅŸtirme**

In [ ]:
# olmayan bir key'a bir value atayabiliyoruz (mutable Ã¶zelliÄŸi):

dict_friend['friend_4'] = "Osman"           # artÄ±k dict_friend'e yeni bir key:value eklemiÅŸ olduk
print(dict_friend)

# ayrÄ±ca bir key'e ait value'yu da deÄŸiÅŸtirebiliyoruz:

dict_friend['friend_2'] = 'Osman'           
print(dict_friend)

# del fonksiyonu ile silmeler yapÄ±labiliyor:

del dict_friend['friend_4']
print(dict_friend)

{'friend_1': 'Erkin', 'friend_2': 'Osman', 'friend_3': 'Ä°rem', 'friend_4': 'Osman'}
{'friend_1': 'Erkin', 'friend_2': 'Osman', 'friend_3': 'Ä°rem', 'friend_4': 'Osman'}
{'friend_1': 'Erkin', 'friend_2': 'Osman', 'friend_3': 'Ä°rem'}

#### **â–¶ 2.6.1.10 Soru**

> SORU: AÅAÄIDAKÄ° LÄ°STELERE 1'DEN ONA KADAR OLAN SAYILARI EKLEYÄ°NÄ°Z

    sayÄ±lar = {'tek_sayÄ±lar': [], 'Ã§ift_sayÄ±lar': []}

In [ ]:
# 1. yÃ¶ntem:
sayÄ±lar = {'tek_sayÄ±lar': [], 'Ã§ift_sayÄ±lar': []}

sayÄ±lar['tek_sayÄ±lar'] = [1, 3, 5, 7, 9]
sayÄ±lar['Ã§ift_sayÄ±lar'] = [2, 4, 6, 8, 10]

print(sayÄ±lar)

# 2. yÃ¶ntem:
sayÄ±lar = {'tek_sayÄ±lar': [], 'Ã§ift_sayÄ±lar': []}

sayÄ±lar['tek_sayÄ±lar'].append(1)
sayÄ±lar['tek_sayÄ±lar'].append(3)
sayÄ±lar['tek_sayÄ±lar'].append(5)
sayÄ±lar['tek_sayÄ±lar'].append(7)
sayÄ±lar['tek_sayÄ±lar'].append(9)
sayÄ±lar['Ã§ift_sayÄ±lar'].append(2)
sayÄ±lar['Ã§ift_sayÄ±lar'].append(4)
sayÄ±lar['Ã§ift_sayÄ±lar'].append(6)
sayÄ±lar['Ã§ift_sayÄ±lar'].append(8)
sayÄ±lar['Ã§ift_sayÄ±lar'].append(10)

print(sayÄ±lar)

# 3. yÃ¶ntem: BENÄ°M FAVORÄ°M
sayÄ±lar = {'tek_sayÄ±lar': [], 'Ã§ift_sayÄ±lar': []}

sayÄ±lar['tek_sayÄ±lar'].extend(range(1, 10, 2))
sayÄ±lar['Ã§ift_sayÄ±lar'].extend(range(2, 11, 2))

print(sayÄ±lar)

{'tek_sayÄ±lar': [1, 3, 5, 7, 9], 'Ã§ift_sayÄ±lar': [2, 4, 6, 8, 10]}
{'tek_sayÄ±lar': [1, 3, 5, 7, 9], 'Ã§ift_sayÄ±lar': [2, 4, 6, 8, 10]}
{'tek_sayÄ±lar': [1, 3, 5, 7, 9], 'Ã§ift_sayÄ±lar': [2, 4, 6, 8, 10]}

#### **â–¶ 2.6.1.11 Nested Dictionaries**

> iÃ§ iÃ§e yerleÅŸtirilmiÅŸ olan dictionarie'lerdir nested dictionarie'ler

In [ ]:
myfamily = {"child_1" : {"name" : "Emily", "year": 2004},           # dict iÃ§inde dict kullanÄ±lmÄ±ÅŸtÄ±r
            "child_2" : {"name" : "Tobias", "year": 2007},
            "child_3" : {"name" : "Linus", "year": 2011}}

myfamily

{'child_1': {'name': 'Emily', 'year': 2004},
 'child_2': {'name': 'Tobias', 'year': 2007},
 'child_3': {'name': 'Linus', 'year': 2011}}

In [ ]:
myfamily.keys()     # 3 ayrÄ± key var

dict_keys(['child_1', 'child_2', 'child_3'])

In [ ]:
myfamily.values()   # 3 ayrÄ± key'e ait 3 ayrÄ± value dictionary olarak bulunmaktadÄ±r.

dict_values([{'name': 'Emily', 'year': 2004}, {'name': 'Tobias', 'year': 2007}, {'name': 'Linus', 'year': 2011}])

In [ ]:
myfamily['child_1']['name']

'Emily'

In [ ]:
myfamily = {"child_1" : {"name" : ("Emily", "Rose"), "year": 2004},           
            "child_2" : {"name" : "Tobias", "year": 2007},
            "child_3" : {"name" : "Linus", "year": 2011}}

# Emily'e ulaÅŸalÄ±m

myfamily['child_1']['name'][0]

'Emily'

## **â–¶ï¸â–¶ï¸ 2.7 Sets**

    Collection type'lardan bir tanesidir.

    diÄŸer collection type'lardan ayrÄ±lan Ã¶zelliÄŸi bÃ¼tÃ¼n elemanlarÄ±nÄ±n unique yani benzersiz 
    
    olmasÄ±dÄ±r. yani aynÄ± elemandan birden fazla bulunamaz

    >> ğŸš¦Ã–NEMLÄ°ğŸš¦ set'lerin iÃ§erisinde list, dictionary ve set(kÃ¼me) olamaz ama tuple olabilir <<

    mutable'dÄ±r (farklÄ± ÅŸekilde uygulamasÄ± var)

    iterable'dÄ±r (farklÄ± ÅŸekilde uygulamasÄ± var)

    iki ÅŸekilde oluÅŸturulu: 1) set() 2) {} 

    >> unordered yapÄ±dadÄ±r yani sÄ±ralamasÄ±z <<

    kÃ¼melerde bir sÄ±ralama sÃ¶z konusu deÄŸildir. o yÃ¼zden de bildiÄŸimiz yÃ¶ntemlerle indexleme yapÄ±lamaz

### **â–¶ï¸ 2.7.1 Konu AnlatÄ±mÄ±**

#### **â–¶ 2.7.1.1 Set OluÅŸturma**

In [ ]:
print(set('hello'))        # fazlalÄ±klarÄ± siler mesela iki tane "l" vardÄ±r ama bir tane "l" Ã§Ä±ktÄ±sÄ± elde edilir.
print(set('Techpro'))      # burada olduÄŸu gibiiÃ§erisinde en fazla 1 adet iterable eleman olmalÄ±dÄ±r daha fazla olamaz
print({'blues', 'green', 'yellow', 'blue', 'black', 'green'})      # tekrar eden elemanlarÄ± atar
print({'mikail', 25, True, 3.14, (4, 5, 6)})   # iÃ§erisinde tuple var ama list, dict ve set koyarsak hata verir

{'e', 'o', 'l', 'h'}
{'e', 'o', 'T', 'h', 'c', 'p', 'r'}
{'yellow', 'black', 'blues', 'green', 'blue'}
{True, 3.14, (4, 5, 6), 25, 'mikail'}

#### **â–¶ 2.7.1.2 BoÅŸ Set OluÅŸturma**

In [ ]:
# boÅŸ kÃ¼me oluÅŸturmanÄ±n tek bir yÃ¶ntemi vardÄ±r:

empty_set = set()               # boÅŸ set oluÅŸutrmanÄ±n baÅŸka hiÃ§bir yÃ¶ntemi yoktur
print('BoÅŸ kÃ¼me --> ',empty_set)            

emty_dict = {}                  # bu ÅŸekilde oluÅŸturulan boÅŸ set, dict olarak algÄ±lanÄ±r set olarak deÄŸil
print('BoÅŸ dictionary -->', emty_dict)

BoÅŸ kÃ¼me -->  set()
BoÅŸ dictionary --> {}

#### **â–¶ 2.7.1.3 Neden Set KullanÄ±rÄ±z?**

In [ ]:
# 1 numaralÄ± kÄ±rtasiyeden gelen eksik malzeme bilgileri:
liste_1 = ['kalem', 'silgi', 'kaÄŸÄ±t', 'kalem_ucu']

# 2 numaralÄ± kÄ±rtasiyeden gelen eksik malzeme bilgileri:
liste_2 = ['silgi', 'defter', 'kaÄŸÄ±t']

# toplamda ihtiyaÃ§ duyulan malzemeler:

print(liste_1 + liste_2)        # bu ÅŸekilde yazdÄ±Ä±rnca birden fazla aynÄ± malzeme yazdÄ±rÄ±lÄ±r Ã¶r: silgi

print(set(liste_1 + liste_2))   # ancak bu ÅŸekilde set yapÄ±p yazdÄ±rÄ±nca tÃ¼m malzemeler unique hale gelir

['kalem', 'silgi', 'kaÄŸÄ±t', 'kalem_ucu', 'silgi', 'defter', 'kaÄŸÄ±t']
{'silgi', 'kalem', 'defter', 'kalem_ucu', 'kaÄŸÄ±t'}

#### **â–¶ 2.7.1.4 True ve False Ä°stisnasÄ±**

In [ ]:
set_1 = {True, 2, 1.00, 5, 0.0, 1.0}       # True ve 1 arasÄ±ndan sadece ilk sÄ±rada yazÄ±lanÄ± yazdÄ±rÄ±r. AynÄ± ÅŸekilde False ve 0.0 iÃ§in de geÃ§erli. 
print("True'un matematiksel karÅŸÄ±lÄ±ÄŸÄ± 1'dir -->",set_1)   

set_2 = {False, 0.0, 1, 5, 3.5}            # yazdÄ±ÄŸÄ±mÄ±z sÄ±ralama o yÃ¼zden Ã¶nemli olabilmektedir
print("False'un matematiksel karÅŸÄ±lÄ±ÄŸÄ± 0'dÄ±r -->",set_2)

True'un matematiksel karÅŸÄ±lÄ±ÄŸÄ± 1'dir --> {0.0, True, 2, 5}
False'un matematiksel karÅŸÄ±lÄ±ÄŸÄ± 0'dÄ±r --> {False, 1, 3.5, 5}

#### **â–¶ 2.7.1.5 List ve For ile Ã‡alÄ±ÅŸmasÄ±**

In [ ]:
# list() ile Ã§alÄ±ÅŸÄ±r --> iterable olduÄŸunun kanÄ±tÄ± 

list(set_2)     # artÄ±k bÃ¶yle bir listede item'lara da ulaÅŸabiliyoruz

[False, 1, 3.5, 5]

In [ ]:
# for dÃ¶nÃ¼gÃ¼sÃ¼ ile de Ã§alÄ±ÅŸabiliyor ayrÄ±ca. -->  iterable olduÄŸunun kanÄ±tÄ± 

for i in set_2:
    print(i)

False
1
3.5
5

#### **â–¶ 2.7.1.6 Methods**

    union (birleÅŸim), 
    intersection (kesiÅŸim), 
    difference (fark) 
    --> bunlar matematikteki kÃ¼melerde de olan iÅŸlemlerdir

In [ ]:
a = set('suzan')
b = set('yavuz')

print('set a: ',  a, '\nset b: ', b)

set a:  {'u', 'n', 's', 'z', 'a'}
set b:  {'u', 'a', 'z', 'y', 'v'}

    â˜€ï¸ union(): iki set'in birleÅŸimi

In [ ]:
a.union(b)      # a birleÅŸim b

# OR (farketmez ikisi de olur):

b.union(a)      # b birleÅŸim a

# union() methodunun kÄ±sa yolu --> | 

print(a | b)    # bu ÅŸekilde union() metodu kullanÄ±labilmektedir
print(b | a)

{'u', 'n', 's', 'a', 'z', 'y', 'v'}
{'u', 'n', 's', 'a', 'z', 'y', 'v'}

    â˜€ï¸ intersection(): iki set'in kesiÅŸimi

In [ ]:
# intersection(), yani kesiÅŸim:

a.intersection(b)   # a kesiÅŸim b demektir (diÄŸerinin aynÄ±sÄ±)
b.intersection(a)   # b kesiÅŸim a demektir (diÄŸerinin aynÄ±sÄ±)

# intersection() methodunun kÄ±sa yolu --> &

print(a & b)        # bu ÅŸekilde intersection() metodu kullanÄ±labilmektedir
print(b & a)

{'a', 'z', 'u'}
{'z', 'u', 'a'}

    â˜€ï¸ difference(): iki set'in farkÄ±, birinde olan ama diÄŸerinde olmayanlar

In [ ]:
# difference(), yani fark:

print("a fark b: ",a.difference(b))     # a fark b, yani a'da olup b'de olmayan demektir (diÄŸeriyla aynÄ± deÄŸildir),

print("b fark a: ",b.difference(a))     # b fark a, yani b'de olup a'da olmayan demektir (diÄŸeriyla aynÄ± deÄŸildir)

# difference() methodunun kÄ±sa yolu --> -

print("a fark b: ",a - b)                       # a.difference(b) demektir
print("b fark a: ",b - a)                       # b.difference(a) demektir

a fark b:  {'n', 's'}
b fark a:  {'y', 'v'}
a fark b:  {'n', 's'}
b fark a:  {'y', 'v'}

In [ ]:
set_3 = set('fÄ±stÄ±k')
set_4 = set('fÄ±ndÄ±k')

print('set_3 --> ',set_3)
print('set_4 --> ',set_4)

print('union() yani birleÅŸimleri       --> ', set_3 | set_4)
print('intersection() yani kesiÅŸimleri --> ', set_3 & set_4)
print('set_3 fark set_4                --> ', set_3 - set_4)
print('set_4 fark set_3                --> ', set_4 - set_3)

set_3 -->  {'k', 's', 'Ä±', 't', 'f'}
set_4 -->  {'k', 'n', 'Ä±', 'd', 'f'}
union() yani birleÅŸimleri       -->  {'k', 'n', 's', 'Ä±', 'd', 't', 'f'}
intersection() yani kesiÅŸimleri -->  {'k', 'Ä±', 'f'}
set_3 fark set_4                -->  {'t', 's'}
set_4 fark set_3                -->  {'n', 'd'}

    â˜€ï¸ symmetric_difference(): birinci sette olan ama ikinci sette olmayan ve aynÄ± ÅŸekilde ikinci setten olan ama birinci sette olmayan elemanlarÄ±n birleÅŸimidir

In [ ]:
# soru: set_3 ve set_4 iÃ§erisinde yer alan itemlerin tek bir yerde yer almasÄ±nÄ± istiyor hoca:

my_set_1 = set_3 - set_4
my_set_2 = set_4 - set_3
my_set_final = my_set_1 | my_set_2

print('Birinci yÃ¶ntem ile Ã§Ã¶zÃ¼m       -->', my_set_final)

# or:

my_set_union = set_3 | set_4
my_set_intersection = set_3 & set_4
my_set_final2 = my_set_union - my_set_intersection

print('Ä°kinci yÃ¶ntem ile Ã§Ã¶zÃ¼m       -->', my_set_final2)

# symmetric_difference() yani bir Ã¶nceki hÃ¼crede yaptÄ±ÄŸÄ±mÄ±z olay, iki kÃ¼me arasÄ±ndakji farklarÄ±n toplamÄ±dÄ±r:

print('symmetric_difference methodu  -->',set_3.symmetric_difference(set_4))

# symmetric_difference() methodunun kÄ±sa yolu --> ^

print('symmetric_difference methodu  -->',set_3 ^ set_4)               # bu ÅŸekilde symmetric_difference() metodu kullanÄ±labilmektedir

Birinci yÃ¶ntem ile Ã§Ã¶zÃ¼m       --> {'t', 's', 'n', 'd'}
Ä°kinci yÃ¶ntem ile Ã§Ã¶zÃ¼m       --> {'t', 'n', 's', 'd'}
symmetric_difference methodu  --> {'n', 's', 'd', 't'}
symmetric_difference methodu  --> {'n', 's', 'd', 't'}

In [ ]:
# hocanÄ±n istediÄŸi Ã¶rneÄŸi direkt iÅŸlemsel olarak yazarsak:

(set_3 | set_4) - (set_3 & set_4)       # Ã¶nce birleÅŸimlerini aldÄ±k, sonra kesiÅŸimlerini alÄ±p aradaki farkÄ± bulduk

(set_3 - set_4) | (set_4 - set_3)       # Ã¶nce farklarÄ± bulduk sonra bu farklarÄ± birleÅŸtirdik

{'d', 'n', 's', 't'}

    â˜€ï¸ clear(): set'i komple temizler boÅŸ set elde ederiz

In [ ]:
set_3.clear()
set_3

set()

    â˜€ï¸ remove(): belirlediÄŸimiz elemanÄ± siler

In [ ]:
print('remove() Ã¶ncesi a kÃ¼mesi   -->', a)
a.remove('s')                               # eÄŸer iÃ§erisinde olmayan bir eleman olsaydÄ± error verirdi
print('remove() sonrasÄ± a kÃ¼mesi -->', a)

remove() Ã¶ncei a kÃ¼mesi   --> {'u', 'n', 's', 'z', 'a'}
remove() sonrasÄ± a kÃ¼mesi --> {'u', 'n', 'z', 'a'}

    â˜€ï¸ pop(): rastgele eleman siler

In [ ]:
print('pop() Ã¶ncei b kÃ¼mesi   -->', b)
b.pop()
print('pop() sonrasÄ± b kÃ¼mesi -->', a)

pop() Ã¶ncei b kÃ¼mesi   --> {'u', 'a', 'z', 'y', 'v'}
pop() sonrasÄ± b kÃ¼mesi --> {'u', 'n', 'z', 'a'}

    â˜€ï¸ add(): belirlediÄŸimiz tek bir elemanÄ± ekler

In [ ]:
print(set_3)            # boÅŸ kÃ¼meydi
set_3.add('a')
print(set_3)

set()
{'a'}

    â˜€ï¸ update(): iterable olan bir eleman ekler. Her bir karakterini ayrÄ± bir eleman olarak ekler

In [ ]:
set_3.update('techpro')
set_3

{'a', 'c', 'e', 'h', 'o', 'p', 'r', 't'}

    â˜€ï¸ issubset(): bir kÃ¼menin baÅŸka bir kÃ¼menin alt kÃ¼mesi olup olmadÄ±ÄŸÄ±nÄ± sorgularÄ±z

In [ ]:
set_5 = set('selin')
set_6 = set('enes')

print(set_5)
print(set_6)

# set_6'da bulunan tÃ¼m item'lar set_5'de yer almaktadÄ±r. Yani set_6 kÃ¼mesi set_5 kÃ¼mesinin bir subset'i dir.

print(set_5.issubset(set_6))       # set_5 kÃ¼mesi set_6 kÃ¼mesinin bir alt kÃ¼mesi midir? diye sorgular -HayÄ±r
print(set_6.issubset(set_5))       # set_6 kÃ¼mesi set_5 kÃ¼mesinin bir alt kÃ¼mesi midir? diye sorgular -Evet

{'e', 'n', 'l', 's', 'i'}
{'e', 'n', 's'}
False
True

In [ ]:
# iki aynÄ± kÃ¼me birbirinin alt kÃ¼mseisidr:

set_7 = set('sine')
set_8 = set('enis')


set_7.issubset(set_8)

True

# **ğŸŒŸ 3. BÃ¶lÃ¼m: Pandas KÃ¼tÃ¼phanesi (YEDEK)**

## **â–¶ï¸â–¶ï¸ 3.1 Pandas KÃ¼tÃ¼phanesini Import Etme**

    Pandas kÃ¼tÃ¼phanesini "pd" olarak import ederiz. Bundan sonra kodlarÄ±mÄ±z pandas deÄŸil pd kÄ±saltmasÄ±

In [72]:
import pandas as pd

## **â–¶ï¸â–¶ï¸ 3.2 Max Column and Max Row Belirleme**

    Tablolarla Ã§alÄ±ÅŸÄ±rken her run dediÄŸimizde tablonun tÃ¼m satÄ±r veya tÃ¼m sÃ¼tunlarÄ±nÄ± gÃ¶rmek istemeyebiliriz. Bu gibi durumlar iÃ§in aÅŸaÄŸÄ±daki uygulamayÄ± yapabiliriz.

    Ã‡alÄ±ÅŸacaÄŸÄ±mÄ±z tablolarÄ± import etmeden Ã¶nceden bu ayarÄ± yapmakta fayda var.

In [2]:
# aÅŸaÄŸÄ±daki Ã¶rneklerde 85 yerine kaÃ§ yazarsak o kadar column veya row getirilir ekrana. Hangisini kullancaÄŸÄ±mÄ±z opsiyonel olduÄŸu hiÃ§ kullanmayabiliriz de.

pd.set_option('display.max_columns',5) 
pd.set_option('display.max_rows', 10)

## **â–¶ï¸â–¶ï¸ 3.3 HazÄ±r Tablo Ã‡ekme veya Tablo OluÅŸturma**

### **â–¶ï¸ 3.3.1 HazÄ±r Tablo Ã‡ekme**

    CSV - Comma Seperetad Values 

    Åimdilik sadece CSV dosyalarÄ± Ã¼zerinde Ã§alÄ±ÅŸtÄ±m. CSV dosyalarÄ±nÄ± "read_csv" metodu ile okuruz.

    okuduÄŸumuz her tablo iÃ§in Python bir index kolonu ayarlar standart olarak. Ama bazen okuyacaÄŸÄ±mÄ±z tabloda daha uygun bir index kolonumuz olur. Bu gibi durumlarda "index_col" kullanarak kolonumuzu index olarak belirleriz.

In [3]:
df_survey = pd.read_csv('SOURCES/survey_results_public.csv', index_col = 'Respondent')
df_schema = pd.read_csv('SOURCES/survey_results_schema.csv', index_col = 'Column')

### **â–¶ï¸ 3.3.2 Kendi Tablomuzu OluÅŸturma**

    Ã–rneÄŸin elimizde "people" isimli bir dictionary olsun. Bu dictionary'i "DataFrame" metodunu kullanarak tablo'ya Ã§evirebilirz.

In [73]:
people = {
    "first": ["Emre", "Ä°rem", "SÃ¼heyla"],
    "last": ["Ã‡akÄ±r", "Ã‡ukurlu", "Ã‡ukurlu"],
    "email": ["emrecakir@gmail.com", "iremcukurlu@email.com", "suheylacukurlu@email.com"]
}

In [75]:
df_people = pd.DataFrame(people)

## **â–¶ï¸â–¶ï¸ 3.4 Tablo GÃ¶sterimi**

    Bu bÃ¶lÃ¼mde Ã§alÄ±ÅŸmamÄ±n ileriki safhalarÄ±nda kullanmak Ã¼zere oluÅŸturmuÅŸ olduÄŸumuz Ã¼Ã§ farklÄ± tablonun gÃ¶sterimi yer alacak:

In [6]:
#1. Tablo: 

df_survey           # Bu tabloda stack owerflow sitesinde yapÄ±lan bir survey'in sonuÃ§larÄ± yer almaktadÄ±r.

,MainBranch,Hobbyist,...,SurveyLength,SurveyEase
Respondent,,,,,
1,I am a student who is learning to code,Yes,...,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,...,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",Yes,...,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,No,...,Appropriate in length,Easy
5,I am a developer by profession,Yes,...,Appropriate in length,Easy
...,...,...,...,...,...
88377,NaN,Yes,...,Appropriate in length,Easy
88601,NaN,No,...,NaN,NaN
88802,NaN,No,...,NaN,NaN
88816,NaN,No,...,NaN,NaN
88863,NaN,Yes,...,Appropriate in length,Easy

In [7]:
#2. Tablo:

df_schema           # "df_survey" isimli tablo'da kullanÄ±lan column isimlerinin aÃ§Ä±klamalarÄ± yer almaktadÄ±r.

                                                   QuestionText
Column
Respondent    Randomized respondent ID number (not in order ...
MainBranch    Which of the following options best describes ...
Hobbyist                                Do you code as a hobby?
OpenSourcer         How often do you contribute to open source?
OpenSource    How do you feel about the quality of open sour...
...                                                         ...
Sexuality     Which of the following do you currently identi...
Ethnicity     Which of the following do you identify as? Ple...
Dependents    Do you have any dependents (e.g., children, el...
SurveyLength  How do you feel about the length of the survey...
SurveyEase    How easy or difficult was this survey to compl...

[85 rows x 1 columns]

In [8]:
#3. Tablo:

df_people           # Bizim oluÅŸturduÄŸumuz 3 farklÄ± kiÅŸiye ait isim soyisim ve email adreslerinin yazÄ±lÄ± olduÄŸu bir tablo.

     first     last                     email
0     Emre    Ã‡akÄ±r       emrecakir@gmail.com
1     Ä°rem  Ã‡ukurlu     iremcukurlu@email.com
2  SÃ¼heyla  Ã‡ukurlu  suheylacukurlu@email.com

## **â–¶ï¸â–¶ï¸ 3.5 Column YazdÄ±rma**

    Genel olarak iki ÅŸekilde tablonun elemanlarÄ±na ulaÅŸÄ±rÄ±z:

    1. YÃ¶ntem: df["Kolon BaÅŸlÄ±ÄŸÄ±"]  : TERCÄ°H EDÄ°LÄ°R. 

    2. YÃ¶ntem: df.KolonBaÅŸlÄ±ÄŸÄ±      : Ä°ki sebepten dolayÄ± tercih edilmez. Kolon baÅŸlÄ±klarÄ± metod ismi ile Ã§akÄ±ÅŸabilir. Ve kolon baÅŸlÄ±klarÄ±nda boÅŸluk olabilir.

In [9]:
df_people["last"]           # tablomuzun "last" isimli column'una ulaÅŸtÄ±k ve o kolondaki tÃ¼m row'larÄ±n Ã§Ä±ktÄ±sÄ±nÄ± aldÄ±k.

0      Ã‡akÄ±r
1    Ã‡ukurlu
2    Ã‡ukurlu
Name: last, dtype: object

In [10]:
df_survey["MainBranch"]     # tablomuzun "MainBranch" isimli column'una ulaÅŸtÄ±k ve o kolondaki tÃ¼m row'larÄ±n Ã§Ä±ktÄ±sÄ±nÄ± aldÄ±k.

Respondent
1                   I am a student who is learning to code
2                   I am a student who is learning to code
3        I am not primarily a developer, but I write co...
4                           I am a developer by profession
5                           I am a developer by profession
                               ...
88377                                                  NaN
88601                                                  NaN
88802                                                  NaN
88816                                                  NaN
88863                                                  NaN
Name: MainBranch, Length: 88883, dtype: object

In [11]:
df_schema["QuestionText"]    # tablomuzun "QuestionText" isimli column'una ulaÅŸtÄ±k ve o kolondaki tÃ¼m row'larÄ±n Ã§Ä±ktÄ±sÄ±nÄ± aldÄ±k.

Column
Respondent      Randomized respondent ID number (not in order ...
MainBranch      Which of the following options best describes ...
Hobbyist                                  Do you code as a hobby?
OpenSourcer           How often do you contribute to open source?
OpenSource      How do you feel about the quality of open sour...
                                      ...
Sexuality       Which of the following do you currently identi...
Ethnicity       Which of the following do you identify as? Ple...
Dependents      Do you have any dependents (e.g., children, el...
SurveyLength    How do you feel about the length of the survey...
SurveyEase      How easy or difficult was this survey to compl...
Name: QuestionText, Length: 85, dtype: object

## **â–¶ï¸â–¶ï¸ 3.6 info() & shape & head() & columns Metodlar**

### **ğŸ—£ï¸ info()**

    Bu metodu bir tablonÄ±n kaÃ§ tane column'u var veya kaÃ§ tane row (etries olarak geÃ§iyor)'u var onu Ã¶ÄŸrenebiliyoruz. AyrÄ±ca her bir column'a ait hangi data type kullanÄ±lmÄ±ÅŸ ve kaÃ§ adet row (entries) var onlarÄ± da gÃ¶rebiliyoruz.

In [12]:
df_people.info()         # 3 entries: 3 adet row (satÄ±r) | 3 columns: 3 adet column (eÄŸer varsa, index column'u hariÃ§)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   first   3 non-null      object
 1   last    3 non-null      object
 2   email   3 non-null      object
dtypes: object(3)
memory usage: 200.0+ bytes

In [13]:
df_survey.info()        # 85 entries: 85 adet row (satÄ±r) | 1 columns: 1 adet column (eÄŸer varsa, index column'u hariÃ§)

<class 'pandas.core.frame.DataFrame'>
Index: 88883 entries, 1 to 88863
Data columns (total 84 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   MainBranch              88331 non-null  object
 1   Hobbyist                88883 non-null  object
 2   OpenSourcer             88883 non-null  object
 3   OpenSource              86842 non-null  object
 4   Employment              87181 non-null  object
 5   Country                 88751 non-null  object
 6   Student                 87014 non-null  object
 7   EdLevel                 86390 non-null  object
 8   UndergradMajor          75614 non-null  object
 9   EduOther                84260 non-null  object
 10  OrgSize                 71791 non-null  object
 11  DevType                 81335 non-null  object
 12  YearsCode               87938 non-null  object
 13  Age1stCode              87634 non-null  object
 14  YearsCodePro            74331 non-null  object
 15  CareerSat               72847 non-null  object
 16  JobSat                  70988 non-null  object
 17  MgrIdiot                61159 non-null  object
 18  MgrMoney                61157 non-null  object
 19  MgrWant                 61232 non-null  object
 20  JobSeek                 80555 non-null  object
 21  LastHireDate            79854 non-null  object
 22  LastInt                 67155 non-null  object
 23  FizzBuzz                71344 non-null  object
 24  JobFactors              79371 non-null  object
 25  ResumeUpdate            77877 non-null  object
 26  CurrencySymbol          71392 non-null  object
 27  CurrencyDesc            71392 non-null  object
 28  CompTotal               55945 non-null  float64
 29  CompFreq                63268 non-null  object
 30  ConvertedComp           55823 non-null  float64
 31  WorkWeekHrs             64503 non-null  float64
 32  WorkPlan                68914 non-null  object
 33  WorkChallenge           68141 non-null  object
 34  WorkRemote              70284 non-null  object
 35  WorkLoc                 70055 non-null  object
 36  ImpSyn                  71779 non-null  object
 37  CodeRev                 70390 non-null  object
 38  CodeRevHrs              49790 non-null  float64
 39  UnitTests               62668 non-null  object
 40  PurchaseHow             61108 non-null  object
 41  PurchaseWhat            62029 non-null  object
 42  LanguageWorkedWith      87569 non-null  object
 43  LanguageDesireNextYear  84088 non-null  object
 44  DatabaseWorkedWith      76026 non-null  object
 45  DatabaseDesireNextYear  69147 non-null  object
 46  PlatformWorkedWith      80714 non-null  object
 47  PlatformDesireNextYear  77443 non-null  object
 48  WebFrameWorkedWith      65022 non-null  object
 49  WebFrameDesireNextYear  62944 non-null  object
 50  MiscTechWorkedWith      59586 non-null  object
 51  MiscTechDesireNextYear  64511 non-null  object
 52  DevEnviron              87317 non-null  object
 53  OpSys                   87851 non-null  object
 54  Containers              85366 non-null  object
 55  BlockchainOrg           48175 non-null  object
 56  BlockchainIs            60165 non-null  object
 57  BetterLife              86269 non-null  object
 58  ITperson                87141 non-null  object
 59  OffOn                   86663 non-null  object
 60  SocialMedia             84437 non-null  object
 61  Extraversion            87305 non-null  object
 62  ScreenName              80486 non-null  object
 63  SOVisit1st              83877 non-null  object
 64  SOVisitFreq             88263 non-null  object
 65  SOVisitTo               88086 non-null  object
 66  SOFindAnswer            87816 non-null  object
 67  SOTimeSaved             86344 non-null  object
 68  SOHowMuchTime           68378 non-null  object
 69  SOAccount               87828 non-null  object
 70  SOPartFreq              74692 non-null  object
 71  SOJobs                  88066 non-null  object
 72  EntTeams                87841 non-null  object
 73  SOComm                  88131 non-null  object
 74  WelcomeChange           85855 non-null  object
 75  SONewContent            69560 non-null  object
 76  Age                     79210 non-null  float64
 77  Gender                  85406 non-null  object
 78  Trans                   83607 non-null  object
 79  Sexuality               76147 non-null  object
 80  Ethnicity               76668 non-null  object
 81  Dependents              83059 non-null  object
 82  SurveyLength            86984 non-null  object
 83  SurveyEase              87081 non-null  object
dtypes: float64(5), object(79)
memory usage: 57.6+ MB

In [14]:
df_schema.info()        # 88.883 entries: 88.883 adet row (satÄ±r) | 84 columns: 84 adet column (eÄŸer varsa, index column'u hariÃ§)

<class 'pandas.core.frame.DataFrame'>
Index: 85 entries, Respondent to SurveyEase
Data columns (total 1 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   QuestionText  85 non-null     object
dtypes: object(1)
memory usage: 3.4+ KB

### **ğŸ—£ï¸ shape**

    Bu metod bir data frame in yani tablonun kaÃ§ tane satÄ±rdan ve kaÃ§ tane sÃ¼tundan oluÅŸtuÄŸunu sÃ¶yler:

    Ã–R: (x, y) --> x : number of rows, y : number of columns

In [15]:
df_people.shape         # bu tablo 3 row ve 3 column'dan oluÅŸmaktadÄ±r

(3, 3)

In [16]:
df_survey.shape         # bu tablo 88.883 row ve 84 column'dan oluÅŸmaktadÄ±r

(88883, 84)

In [17]:
df_schema.shape         # bu tablo 85 row ve 1 column'dan oluÅŸmaktadÄ±r

(85, 1)

### **ğŸ—£ï¸ columns**

    Bir tabloya ait column baÅŸlÄ±klarÄ±nÄ± bir liste halinde bize sunar

In [18]:
df_people.columns

Index(['first', 'last', 'email'], dtype='object')

In [19]:
df_survey.columns

Index(['MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource', 'Employment',
       'Country', 'Student', 'EdLevel', 'UndergradMajor', 'EduOther',
       'OrgSize', 'DevType', 'YearsCode', 'Age1stCode', 'YearsCodePro',
       'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney', 'MgrWant', 'JobSeek',
       'LastHireDate', 'LastInt', 'FizzBuzz', 'JobFactors', 'ResumeUpdate',
       'CurrencySymbol', 'CurrencyDesc', 'CompTotal', 'CompFreq',
       'ConvertedComp', 'WorkWeekHrs', 'WorkPlan', 'WorkChallenge',
       'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev', 'CodeRevHrs', 'UnitTests',
       'PurchaseHow', 'PurchaseWhat', 'LanguageWorkedWith',
       'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

In [20]:
df_schema.columns

Index(['QuestionText'], dtype='object')

### **ğŸ—£ï¸ head()**

    TablolarÄ±mÄ±z gÃ¶rselleÅŸtirirkne kaÃ§ tane row gÃ¶zÃ¼kmesini isitoyrsak onu head() komutunun iÃ§ine yazarak belirleyebiliriz.

In [21]:
df_people.head(2)           # bu kod, tablomuzun 2 satÄ±rÄ±nÄ±n gÃ¶zÃ¼kmesini saÄŸlar

  first     last                  email
0  Emre    Ã‡akÄ±r    emrecakir@gmail.com
1  Ä°rem  Ã‡ukurlu  iremcukurlu@email.com

In [22]:
df_survey.head(5)           # bu kod, tablomuzun 5 satÄ±rÄ±nÄ±n gÃ¶zÃ¼kmesini saÄŸlar

,MainBranch,Hobbyist,...,SurveyLength,SurveyEase
Respondent,,,,,
1,I am a student who is learning to code,Yes,...,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,...,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",Yes,...,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,No,...,Appropriate in length,Easy
5,I am a developer by profession,Yes,...,Appropriate in length,Easy

In [23]:
df_schema.head(3)           # bu kod, tablomuzun 3 satÄ±rÄ±nÄ±n gÃ¶zÃ¼kmesini saÄŸlar

                                                 QuestionText
Column
Respondent  Randomized respondent ID number (not in order ...
MainBranch  Which of the following options best describes ...
Hobbyist                              Do you code as a hobby?

## **â–¶ï¸â–¶ï¸ 3.7 iloc() ve loc() Metodlar**

    loc() ve iloc() metodlarÄ±nÄ± kullanarak tablolarÄ±n row'larÄ±na ulaÅŸÄ±m saÄŸlÄ±yoruz. Ã–rneÄŸin ÅŸehirlerin hava durumlarÄ±nÄ±n olduÄŸu bir tabloda 4. row'daki yani satÄ±rdaki Manisa'nÄ±n cumartesi gÃ¼nÃ¼ kaÃ§ derece olduÄŸunu Ã¶ÄŸrenebiliriz.

### **ğŸ—£ï¸ iloc() - _integer location_**

    YukarÄ±da bahsedilen tanÄ±mÄ± uygularken yalnÄ±zca integer kullanÄ±lan yÃ¶ntemdir. Yani location kullanarak bir row'a ulaÅŸacaksan bu row'un kaÃ§Ä±ncÄ± indekste olduÄŸunu bilmemiz gerekiyor.

In [24]:
print(df_people)

     first     last                     email
0     Emre    Ã‡akÄ±r       emrecakir@gmail.com
1     Ä°rem  Ã‡ukurlu     iremcukurlu@email.com
2  SÃ¼heyla  Ã‡ukurlu  suheylacukurlu@email.com

In [25]:
df_survey.head(3)

,MainBranch,Hobbyist,...,SurveyLength,SurveyEase
Respondent,,,,,
1,I am a student who is learning to code,Yes,...,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,...,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",Yes,...,Appropriate in length,Neither easy nor difficult

In [26]:
df_schema.head(3)

                                                 QuestionText
Column
Respondent  Randomized respondent ID number (not in order ...
MainBranch  Which of the following options best describes ...
Hobbyist                              Do you code as a hobby?

In [27]:
# Ã–rneÄŸin aÅŸaÄŸÄ±da people isimli tablonun sÄ±fÄ±rÄ±ncÄ± indexinde yer alan Ä°rem Ã‡ukurlu'ya ait tÃ¼m bilgiler verilmiÅŸtir.

df_people.iloc[1]

first                     Ä°rem
last                   Ã‡ukurlu
email    iremcukurlu@email.com
Name: 1, dtype: object

In [28]:
# Ã–rneÄŸin aÅŸaÄŸÄ±da survey isimli tabloda yer alan 3. satÄ±rdaki kiÅŸinin ankette verdiÄŸi tÃ¼m cevaplarÄ± yer almaktadÄ±r.

df_survey.iloc[3]

MainBranch                         I am a developer by profession
Hobbyist                                                       No
OpenSourcer                                                 Never
OpenSource      The quality of OSS and closed source software ...
Employment                                     Employed full-time
                                      ...
Sexuality                                 Straight / Heterosexual
Ethnicity                            White or of European descent
Dependents                                                     No
SurveyLength                                Appropriate in length
SurveyEase                                                   Easy
Name: 4, Length: 84, dtype: object

In [29]:
# Ã–rneÄŸin schema isimli tabloda 1. indexte yer alan "MainBranch" yer almaktadÄ±r.

df_schema.iloc[1]

QuestionText    Which of the following options best describes ...
Name: MainBranch, dtype: object

    ğŸ”” iloc() kullanÄ±rken integer kullanmak zorunda olduÄŸumuz sÃ¶yledik. Ä°loc Ã§aÄŸÄ±rarak elde eltteÄŸimiz veri zerinden baÅŸka bilgilere de ulaÅŸmak mÃ¼mkÃ¼n elbette. Ã–rneÄŸin son Ã¶rnekte df_schema'ya ait olan QuestionText karÅŸÄ±sÄ±nda ne yazdÄ±ÄŸÄ±nÄ± tam gÃ¶remiyoruz yerin dar olmasÄ± sebebiyle. Fakat onu ÅŸu ÅŸekilde gÃ¶rÃ¼ntÃ¼lemek mÃ¼mkÃ¼n:

In [30]:
df_schema.iloc[1]["QuestionText"]

'Which of the following options best describes you today? Here, by "developer" we mean "someone who writes code."'

    ğŸ”” Burada da survey tablosunda 3. kiÅŸiye ait cevaplardan "SurveyLength" isimli bilgiyi yazdÄ±ralÄ±m:

In [31]:
df_survey.iloc[3]["SurveyLength"]

'Appropriate in length'

    ğŸ”” Ya da people tablosunda 1. satÄ±rda yer yalan Ä°rem Ã‡ukurlu'nun sadece "email" adresini ekrana getirebiliriz:

In [32]:
df_people.iloc[1]["email"]

'iremcukurlu@email.com'

    ğŸ””ğŸ”” AyrÄ±ca iloc() kullanÄ±rken illa tek bir row yani tek bir satÄ±r hakkÄ±nda bilgi yazdÄ±rmak zorunda deÄŸiliz. AynÄ± anda birden fazla row yazdÄ±rmak mÃ¼mkÃ¼n. AyrÄ±ca slicing de yapÄ±labilir.

    Mesela aÅŸaÄŸÄ±da survey tablosunda yer alan 3 ve 4. rowlarÄ± yazdÄ±rdÄ±k (indexler sÄ±fÄ±rdan baÅŸlarken "Respondent" isimli column'da 1'den baÅŸlÄ±yor. Onu karÄ±ÅŸtÄ±rmamak lazÄ±m. iloc() kullanÄ±rken index'lere gÃ¶re hareket edilir)

    AyrÄ±ca dikkat edilmesi gereken ikinci nokta, birden fazla deÄŸer girebilmek iÃ§in parantez iÃ§erisinde bir kÃ¶ÅŸeli parantez daha aÃ§maya ihtiyaÃ§ duyarÄ±z.

In [33]:
df_survey.iloc[[3, 4]]

,MainBranch,Hobbyist,...,SurveyLength,SurveyEase
Respondent,,,,,
4,I am a developer by profession,No,...,Appropriate in length,Easy
5,I am a developer by profession,Yes,...,Appropriate in length,Easy

In [34]:
# aÅŸaÄŸÄ±da aynÄ± anda 3 eleman gÃ¶rÃ¼ntÃ¼ledik:

df_survey.iloc[[3, 4, 7]]

,MainBranch,Hobbyist,...,SurveyLength,SurveyEase
Respondent,,,,,
4,I am a developer by profession,No,...,Appropriate in length,Easy
5,I am a developer by profession,Yes,...,Appropriate in length,Easy
8,I code primarily as a hobby,Yes,...,Appropriate in length,Neither easy nor difficult

In [35]:
# aÅŸaÄŸÄ±da ise slicing metodunu kullanarak 3 ile 7 arasÄ±ndaki tÃ¼m row'larÄ± yazdÄ±rabilriiz:

df_survey.iloc[3:7]

,MainBranch,Hobbyist,...,SurveyLength,SurveyEase
Respondent,,,,,
4,I am a developer by profession,No,...,Appropriate in length,Easy
5,I am a developer by profession,Yes,...,Appropriate in length,Easy
6,"I am not primarily a developer, but I write co...",Yes,...,Too long,Neither easy nor difficult
7,I am a developer by profession,No,...,Appropriate in length,Neither easy nor difficult

In [36]:
df_survey.iloc[1:1000]          # indexler ile "Respondent" karÄ±ÅŸtÄ±rÄ±lmasÄ±n. iloc ve loc indexleri baz alÄ±r.

,MainBranch,Hobbyist,...,SurveyLength,SurveyEase
Respondent,,,,,
2,I am a student who is learning to code,No,...,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",Yes,...,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,No,...,Appropriate in length,Easy
5,I am a developer by profession,Yes,...,Appropriate in length,Easy
6,"I am not primarily a developer, but I write co...",Yes,...,Too long,Neither easy nor difficult
...,...,...,...,...,...
999,I am a developer by profession,Yes,...,Appropriate in length,Easy
1000,I am a developer by profession,Yes,...,Appropriate in length,Easy
1001,I am a developer by profession,Yes,...,Appropriate in length,Easy
1002,I am a student who is learning to code,No,...,Too long,Neither easy nor difficult
1003,I code primarily as a hobby,Yes,...,Too long,Neither easy nor difficult

    ğŸ””ğŸ”” AyrÄ±ca iloc() kullanarak row'larÄ± yazdÄ±rÄ±rken iÅŸin iÃ§ine column'larÄ± da dahil edebiliriz:

    Ã–rneÄŸin bir Ã¶nceki Ã¶rnekte gÃ¶rÃ¼ltÃ¼ÄŸÃ¼ gibi survey isimli tablodaki 16. indexte yer alan kiÅŸi  (Respondent: 17) MainBranch'a "I am a developer by profession" diye cevap vermiÅŸ. O cevaba basitÃ§e ulabilmek mÃ¼mkÃ¼n:

In [37]:
df_survey.iloc[16, 0]

'I am a developer by profession'

In [38]:
df_people

     first     last                     email
0     Emre    Ã‡akÄ±r       emrecakir@gmail.com
1     Ä°rem  Ã‡ukurlu     iremcukurlu@email.com
2  SÃ¼heyla  Ã‡ukurlu  suheylacukurlu@email.com

In [39]:
df_people.iloc[2]

first                     SÃ¼heyla
last                      Ã‡ukurlu
email    suheylacukurlu@email.com
Name: 2, dtype: object

In [40]:
# aÅŸaÄŸÄ±daki people tablosunda 2. row'da yer alan sÃ¼heylanÄ±n gmail adresini bulabildik iloc kullanarak.

df_people.iloc[2, 2]

'suheylacukurlu@email.com'

In [41]:
df_survey.columns

Index(['MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource', 'Employment',
       'Country', 'Student', 'EdLevel', 'UndergradMajor', 'EduOther',
       'OrgSize', 'DevType', 'YearsCode', 'Age1stCode', 'YearsCodePro',
       'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney', 'MgrWant', 'JobSeek',
       'LastHireDate', 'LastInt', 'FizzBuzz', 'JobFactors', 'ResumeUpdate',
       'CurrencySymbol', 'CurrencyDesc', 'CompTotal', 'CompFreq',
       'ConvertedComp', 'WorkWeekHrs', 'WorkPlan', 'WorkChallenge',
       'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev', 'CodeRevHrs', 'UnitTests',
       'PurchaseHow', 'PurchaseWhat', 'LanguageWorkedWith',
       'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

In [42]:
df_survey.iloc[1:100, 11]   # 1'den yÃ¼zde kadar olan row'larÄ±n 11. column'a verdikleri cevaplarÄ± yazdÄ±rdÄ±k

Respondent
2      Developer, desktop or enterprise applications;...
3      Designer;Developer, back-end;Developer, front-...
4                                  Developer, full-stack
5      Academic researcher;Developer, desktop or ente...
6      Data or business analyst;Data scientist or mac...
                             ...
96     Engineer, data;Engineering manager;Marketing o...
97     Data or business analyst;Data scientist or mac...
98     Designer;Developer, back-end;Developer, front-...
99     Academic researcher;Data or business analyst;D...
100    Developer, back-end;Developer, front-end;Devel...
Name: DevType, Length: 99, dtype: object

In [43]:
df_survey.iloc[[1, 100], 11]   # Burada ise 1 ve 100. row'larÄ±n 11. column'daki karÅŸÄ±lÄ±ÄŸÄ±nÄ± yadÄ±rdÄ±k.

Respondent
2      Developer, desktop or enterprise applications;...
101                                Developer, full-stack
Name: DevType, dtype: object

    ğŸ’  AlÄ±ÅŸtÄ±rma: yukarÄ±da survey tablosunun tÃ¼m column baÅŸlÄ±klarÄ± yer almaktadÄ±r. Ã–ncelikle "Employment" column'unda hangi soruyu sorduklarÄ±nÄ± yazdÄ±r. ArdÄ±ndan da, 100 ile 1000 arasÄ±ndaki kiÅŸilerin bu soruya ne cevap verdiklerini yazdÄ±r: 

    Not: survey'e ait tÃ¼m column'larÄ±n ne anlama geldiÄŸi schema isimli tabloda yer almaktadÄ±r.

In [44]:
print(df_schema.iloc[5])       # Ã¶ncelikle bir Ã¶nceki kod hÃ¼cresinden Employment'in 5. column'da olduÄŸunu saydÄ±m
print("\nğŸ“ YukarÄ±daki Ã§Ä±tkÄ± tam olarak okunamadÄ±ÄŸÄ± iÃ§in aÅŸaÄŸÄ±ya daha aÃ§Ä±k halini bÄ±rakÄ±yorum: \n")
print(df_schema.iloc[5]["QuestionText"])
print("\nğŸ“ AÅŸaÄŸÄ±da yer alan tabloda, 100'den 1000'e kadar olan 'Employment' sorusuna verdiÄŸi yanÄ±tlarÄ± gÃ¶rÃ¼yoruz.\n")
print(df_survey.iloc[100:1000, 6])

QuestionText    Which of the following best describes your cur...
Name: Employment, dtype: object

ğŸ“ YukarÄ±daki Ã§Ä±tkÄ± tam olarak okunamadÄ±ÄŸÄ± iÃ§in aÅŸaÄŸÄ±ya daha aÃ§Ä±k halini bÄ±rakÄ±yorum:

Which of the following best describes your current employment status?

ğŸ“ AÅŸaÄŸÄ±da yer alan tabloda, 100'den 1000'e kadar olan 'Employment' sorusuna verdiÄŸi yanÄ±tlarÄ± gÃ¶rÃ¼yoruz.

Respondent
101                 No
102                 No
103                 No
104     Yes, full-time
105                 No
             ...
999                 No
1000                No
1001               NaN
1002    Yes, full-time
1003    Yes, full-time
Name: Student, Length: 900, dtype: object

### **ğŸ—£ï¸ loc() - _location_**

    iloc() ile biz integer sayÄ±larÄ± kullanÄ±rdÄ±k, loc() ile ise doÄŸrudan ne yazÄ±yorsa onu kullanÄ±rÄ±z. Ã–rneÄŸin schema tablosunda index'ler string ike survey tablosunda indexler integer'dÄ±r. Ä°kisi iÃ§in loc() kullanÄ±rken birinde string diÄŸerinde integer kullanacaÄŸÄ±z.

In [45]:
df_schema

                                                   QuestionText
Column
Respondent    Randomized respondent ID number (not in order ...
MainBranch    Which of the following options best describes ...
Hobbyist                                Do you code as a hobby?
OpenSourcer         How often do you contribute to open source?
OpenSource    How do you feel about the quality of open sour...
...                                                         ...
Sexuality     Which of the following do you currently identi...
Ethnicity     Which of the following do you identify as? Ple...
Dependents    Do you have any dependents (e.g., children, el...
SurveyLength  How do you feel about the length of the survey...
SurveyEase    How easy or difficult was this survey to compl...

[85 rows x 1 columns]

In [46]:
# yukarÄ±da gÃ¶rÃ¼ldÃ¼ÄŸÃ¼ gibi index column'unda stringler var. O yÃ¼zden string kullanacaÄŸÄ±z:

df_schema.loc["OpenSourcer"]        # yukarÄ±daki gibi listeyi gÃ¶rdÃ¼kten sonra yazdÄ±rmak istediÄŸimizi bulmak Ã§ok kolay olur.

QuestionText    How often do you contribute to open source?
Name: OpenSourcer, dtype: object

In [47]:
df_survey

,MainBranch,Hobbyist,...,SurveyLength,SurveyEase
Respondent,,,,,
1,I am a student who is learning to code,Yes,...,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,...,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",Yes,...,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,No,...,Appropriate in length,Easy
5,I am a developer by profession,Yes,...,Appropriate in length,Easy
...,...,...,...,...,...
88377,NaN,Yes,...,Appropriate in length,Easy
88601,NaN,No,...,NaN,NaN
88802,NaN,No,...,NaN,NaN
88816,NaN,No,...,NaN,NaN
88863,NaN,Yes,...,Appropriate in length,Easy

In [48]:
# yukarÄ±da gÃ¶rÃ¼ldÃ¼ÄŸÃ¼ gibi index column'unda integer'lar var. O yÃ¼zden integer kullanacaÄŸÄ±z:

df_survey.loc[3]        # yukarÄ±daki gibi listeyi gÃ¶rdÃ¼kten sonra yazdÄ±rmak istediÄŸimizi bulmak Ã§ok kolay olur.

MainBranch      I am not primarily a developer, but I write co...
Hobbyist                                                      Yes
OpenSourcer                                                 Never
OpenSource      The quality of OSS and closed source software ...
Employment                                     Employed full-time
                                      ...
Sexuality                                 Straight / Heterosexual
Ethnicity                                                     NaN
Dependents                                                    Yes
SurveyLength                                Appropriate in length
SurveyEase                             Neither easy nor difficult
Name: 3, Length: 84, dtype: object

In [49]:
df_people

     first     last                     email
0     Emre    Ã‡akÄ±r       emrecakir@gmail.com
1     Ä°rem  Ã‡ukurlu     iremcukurlu@email.com
2  SÃ¼heyla  Ã‡ukurlu  suheylacukurlu@email.com

In [50]:
# aynÄ± ÅŸeklde yukarÄ±da gÃ¶rÃ¼ldÃ¼ÄŸÃ¼ gibi people tablosundaki index'lerde string:

df_people.loc[1]

first                     Ä°rem
last                   Ã‡ukurlu
email    iremcukurlu@email.com
Name: 1, dtype: object

In [51]:
df_people.loc[1, "first"]       # 1. row'daki kiÅŸiye ait "first" colonunda ne yer alÄ±yor?

'Ä°rem'

In [52]:
df_people.iloc[1, 0]            # yukarÄ±da loc metodu ile kurduÄŸumuz yapÄ±nÄ±n Ã§ok daha anlamlÄ± olduÄŸu net

'Ä°rem'

In [53]:
df_survey.columns

Index(['MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource', 'Employment',
       'Country', 'Student', 'EdLevel', 'UndergradMajor', 'EduOther',
       'OrgSize', 'DevType', 'YearsCode', 'Age1stCode', 'YearsCodePro',
       'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney', 'MgrWant', 'JobSeek',
       'LastHireDate', 'LastInt', 'FizzBuzz', 'JobFactors', 'ResumeUpdate',
       'CurrencySymbol', 'CurrencyDesc', 'CompTotal', 'CompFreq',
       'ConvertedComp', 'WorkWeekHrs', 'WorkPlan', 'WorkChallenge',
       'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev', 'CodeRevHrs', 'UnitTests',
       'PurchaseHow', 'PurchaseWhat', 'LanguageWorkedWith',
       'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

In [54]:
df_survey.loc[1:100, 'WorkRemote']      # loc kullanarak anlamlÄ± sonuÃ§lar Ã§Ä±karmak iÅŸte bu kadar kolay.

Respondent
1                                                    NaN
2                                                    NaN
3                       Less than once per month / Never
4                       Less than once per month / Never
5                                  A few days each month
                             ...
96                                                   NaN
97                                 A few days each month
98                                                   NaN
99                                                   NaN
100    All or almost all the time (I'm full-time remote)
Name: WorkRemote, Length: 100, dtype: object

    ğŸ“£ Bir Ã¶nceki kodu loc() yerine iloc() ile yazdÄ±rmaya kalksaydÄ±k, Ã¶ncelikle 'WorkRemote' isimli kolonunun kaÃ§Ä±ncÄ± sÄ±rada olduÄŸunu sayÄ±p ondan sonra yapmamÄ±z gerekecekti.

    ğŸ“£ AyrÄ±ca loc() kullanÄ±rken de 'WorkRemote' nin karÅŸÄ±lÄ±ÄŸÄ± olan sayÄ±yÄ± yazarsak kabul olmaz. Ã‡Ã¼nkÃ¼ column'lar iÃ§in bir sayÄ± yoktur ama row'lar iÃ§in bir index sayÄ±larÄ± vardÄ±r. O yÃ¼zden row'lar iÃ§in integer kullanabilir ama column'lar iÃ§in kullanamayÄ±z.

In [55]:
print("AÅŸaÄŸÄ±daki tablo loc[] metodu kullanÄ±larak yazÄ±lmÄ±ÅŸtÄ±r. 1'den 100'e kadar olan row'larÄ±n 'WorkRemote' ve 'CodeRev' column'larÄ± arasÄ±ndaki yanÄ±tlarÄ± yazdÄ±rÄ±lmÄ±ÅŸtÄ±r. \n")

df_survey.loc[1:100, 'WorkRemote':'CodeRev']

AÅŸaÄŸÄ±daki tablo loc[] metodu kullanÄ±larak yazÄ±lmÄ±ÅŸtÄ±r. 1'den 100'e kadar olan row'larÄ±n 'WorkRemote' ve 'CodeRev' column'larÄ± arasÄ±ndaki yanÄ±tlarÄ± yazdÄ±rÄ±lmÄ±ÅŸtÄ±r.

,WorkRemote,WorkLoc,ImpSyn,CodeRev
Respondent,,,,
1,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN
3,Less than once per month / Never,Home,Average,No
4,Less than once per month / Never,Home,A little below average,No
5,A few days each month,Office,A little above average,"Yes, because I see value in code review"
...,...,...,...,...
96,NaN,NaN,NaN,NaN
97,A few days each month,Office,A little above average,"Yes, because I see value in code review"
98,NaN,NaN,NaN,NaN
99,NaN,NaN,NaN,NaN
100,All or almost all the time (I'm full-time remote),Home,A little above average,"Yes, because I see value in code review"

## **â–¶ï¸â–¶ï¸ 3.7 set_index() Metodu**

    Bu metodu kullanarak bir tablo'nun index column'unu deÄŸiÅŸtirebiliyoruz.

    Ã–rneÄŸin poeple tablosunda index olarak pandas Ä±n standart olarak uyguladÄ±ÄŸÄ±m indexler yer almaktadÄ±r. O index column'u yerine pople tablosu iÃ§eriisnde yer alan "first" column'unu index column'u olarak tayin edebilirz. BÃ¶ylelikle iloc yerine loc metodunu kullanarak tabloda daha yÃ¼ksek bir hakimiyet kurabiliriz.

In [56]:
# gÃ¶rÃ¼ldÃ¼ÄŸÃ¼ gibi indexler standart pandas indexi:

df_people

     first     last                     email
0     Emre    Ã‡akÄ±r       emrecakir@gmail.com
1     Ä°rem  Ã‡ukurlu     iremcukurlu@email.com
2  SÃ¼heyla  Ã‡ukurlu  suheylacukurlu@email.com

In [57]:
# aÅŸaÄŸÄ±daki kod uygulandÄ±ktan sonra artÄ±k first column'unu biz index olarak kullanabileceÄŸiz.

df_people.set_index('first')

            last                     email
first
Emre       Ã‡akÄ±r       emrecakir@gmail.com
Ä°rem     Ã‡ukurlu     iremcukurlu@email.com
SÃ¼heyla  Ã‡ukurlu  suheylacukurlu@email.com

    NOT: YUKARIDAKÄ° KODA BÄ°Z set_index KULLANDIK AMA AÅAÄIDA GÃ–RÃœLDÃœÄÃœ GÄ°BÄ° TABLOMUZ HALA ESKÄ° HALÄ°NDE. Ã‡ÃœNKÃœ YUKARIDAKÄ° Ä°ÅLEMÄ° HENÃœZ ATAMADIK. ATAMA YAPILDIKTAN SONRA ARTIK DEÄÄ°ÅMÄ°Å OLUR TABLO

In [58]:
df_people

     first     last                     email
0     Emre    Ã‡akÄ±r       emrecakir@gmail.com
1     Ä°rem  Ã‡ukurlu     iremcukurlu@email.com
2  SÃ¼heyla  Ã‡ukurlu  suheylacukurlu@email.com

In [59]:
df_people2 = df_people.set_index('first')
df_people2

            last                     email
first
Emre       Ã‡akÄ±r       emrecakir@gmail.com
Ä°rem     Ã‡ukurlu     iremcukurlu@email.com
SÃ¼heyla  Ã‡ukurlu  suheylacukurlu@email.com

    YukarÄ±da da gÃ¶rÃ¼ldÃ¼ÄŸÃ¼ Ã¼zere artÄ±k df_people2 yi biz loc ile kullanabilir hale getirdik.

In [60]:
df_people2.loc['Emre']

# loc[] kullanarak Emre ismine ait soyisim ve email bilgilerine pratik ÅŸekilde ulaÅŸtÄ±k

last                   Ã‡akÄ±r
email    emrecakir@gmail.com
Name: Emre, dtype: object

> **AÅŸaÄŸÄ±daki gibi reset_index(inplace=True) kullanarak  index'i eski haline dÃ¶nÃ¼ÅŸtÃ¼rebiliriz. Biz burada farklÄ± bi deÄŸiÅŸkene atadÄ±ÄŸÄ±mÄ±z iÃ§in anlamlÄ± gÃ¶zÃ¼kmeyebilir ama eÄŸer aynÄ± deÄŸiÅŸkene atamÄ±ÅŸ olsaydÄ±k anlamlÄ± olurdu.**

In [61]:
df_people2.reset_index(inplace=True)
df_people2

     first     last                     email
0     Emre    Ã‡akÄ±r       emrecakir@gmail.com
1     Ä°rem  Ã‡ukurlu     iremcukurlu@email.com
2  SÃ¼heyla  Ã‡ukurlu  suheylacukurlu@email.com

In [62]:
df_people2 = df_people.set_index('first')
df_people2      # bu tablo bu ÅŸekilde kalsÄ±n

            last                     email
first
Emre       Ã‡akÄ±r       emrecakir@gmail.com
Ä°rem     Ã‡ukurlu     iremcukurlu@email.com
SÃ¼heyla  Ã‡ukurlu  suheylacukurlu@email.com

## **â–¶ï¸â–¶ï¸ 3.7 sort_index() Metodu**

    Bu metodu kullanarak index column'unu sÄ±ralayabiliriz, mesela alfabetik sÄ±raya gÃ¶re.

In [63]:
df_schema.sort_index()

                                                    QuestionText
Column
Age            What is your age (in years)? If you prefer not...
Age1stCode     At what age did you write your first line of c...
BetterLife     Do you think people born today will have a bet...
BlockchainIs   Blockchain / cryptocurrency technology is prim...
BlockchainOrg  How is your organization thinking about or imp...
...                                                          ...
WorkPlan                 How structured or planned is your work?
WorkRemote                       How often do you work remotely?
WorkWeekHrs     On average, how many hours per week do you work?
YearsCode      Including any education, how many years have y...
YearsCodePro   How many years have you coded professionally (...

[85 rows x 1 columns]

In [64]:
df_schema.sort_index(ascending=False)

                                                    QuestionText
Column
YearsCodePro   How many years have you coded professionally (...
YearsCode      Including any education, how many years have y...
WorkWeekHrs     On average, how many hours per week do you work?
WorkRemote                       How often do you work remotely?
WorkPlan                 How structured or planned is your work?
...                                                          ...
BlockchainOrg  How is your organization thinking about or imp...
BlockchainIs   Blockchain / cryptocurrency technology is prim...
BetterLife     Do you think people born today will have a bet...
Age1stCode     At what age did you write your first line of c...
Age            What is your age (in years)? If you prefer not...

[85 rows x 1 columns]

In [65]:
df_schema

                                                   QuestionText
Column
Respondent    Randomized respondent ID number (not in order ...
MainBranch    Which of the following options best describes ...
Hobbyist                                Do you code as a hobby?
OpenSourcer         How often do you contribute to open source?
OpenSource    How do you feel about the quality of open sour...
...                                                         ...
Sexuality     Which of the following do you currently identi...
Ethnicity     Which of the following do you identify as? Ple...
Dependents    Do you have any dependents (e.g., children, el...
SurveyLength  How do you feel about the length of the survey...
SurveyEase    How easy or difficult was this survey to compl...

[85 rows x 1 columns]

> **YukarÄ±da gÃ¶rÃ¼ldÃ¼ÄŸÃ¼ gibi afabetik olarak hem A'dan Z'ye hem de Z'den A'ya doÄŸru sÄ±ralamam raÄŸmen orijinl tablo deÄŸiÅŸmedi. Ã‡Ã¼nkÃ¼ Herhangi bir atama iÅŸlemi yapmadÄ±k.**

In [66]:
df_schema2 = df_schema.sort_index()
df_schema2      # bundan sonra alfabetik olarak sÄ±ralanmÄ±ÅŸ bir schema tablomuz var.

                                                    QuestionText
Column
Age            What is your age (in years)? If you prefer not...
Age1stCode     At what age did you write your first line of c...
BetterLife     Do you think people born today will have a bet...
BlockchainIs   Blockchain / cryptocurrency technology is prim...
BlockchainOrg  How is your organization thinking about or imp...
...                                                          ...
WorkPlan                 How structured or planned is your work?
WorkRemote                       How often do you work remotely?
WorkWeekHrs     On average, how many hours per week do you work?
YearsCode      Including any education, how many years have y...
YearsCodePro   How many years have you coded professionally (...

[85 rows x 1 columns]

> **Ya da ÅŸÃ¶yle yapabiliriz:**

In [67]:
df_people2.sort_index(ascending=False, inplace=True)
df_people2      # ascending=False kullanarak z'den a'ya doÄŸru sÄ±raladÄ±k index column'unu. inpalce=True kullanarak da doÄŸrudan atama yaptÄ±k.
# not: Ä° harfi ingilizcede olmadÄ±ÄŸÄ± iÃ§in o harfi birinci sÄ±raya atadÄ±.

            last                     email
first
Ä°rem     Ã‡ukurlu     iremcukurlu@email.com
SÃ¼heyla  Ã‡ukurlu  suheylacukurlu@email.com
Emre       Ã‡akÄ±r       emrecakir@gmail.com

## **â–¶ï¸â–¶ï¸ 3.8 Filtre OluÅŸturma YÃ¶ntemi**

### **â–¶ï¸ 3.7.1 df_people Ã¼zerinde uygulamalar**

In [68]:
df_people

     first     last                     email
0     Emre    Ã‡akÄ±r       emrecakir@gmail.com
1     Ä°rem  Ã‡ukurlu     iremcukurlu@email.com
2  SÃ¼heyla  Ã‡ukurlu  suheylacukurlu@email.com

In [69]:
# aÅŸaÄŸÄ±da yaptÄ±ÄŸÄ±mÄ±z iÅŸlem ÅŸudur, last == 'Ã‡ukurlu' olan row'larÄ± True, geri kalanlarÄ± ise False yazdÄ±r.

filt = df_people["last"] == "Ã‡ukurlu"
filt

0    False
1     True
2     True
Name: last, dtype: bool

    YukarÄ±da uyguladÄ±ÄŸÄ±mÄ±z filtre iÅŸlemini "filt" deÄŸiÅŸkenine atadÄ±k. filt deÄŸiÅŸkeni bize soyisimi Ã§ukurlu olan satÄ±rlarÄ±n True, diÄŸer satÄ±rlarÄ±n ise False olduÄŸunu sÃ¶yler. ana tabloda hiÃ§bir deÄŸiÅŸiklik yok yani. EÄŸer biz bu filt deÄŸiÅŸkenini aÅŸaÄŸÄ±daki gibi bir loc[] metodu iÃ§erisine yazarsak, sadece True olan satÄ±rlar yazdÄ±rÄ±lacak. BÃ¶ylece column'lar Ã¼zerinden filtreleme yapÄ±p istediÄŸimiz row'u yazdÄ±rabiliyoruz:

In [70]:
# soyismi "Ã‡ukurlu" olan satÄ±rlarÄ± yazdÄ±ran filtreleme iÅŸlemi:

df_people.loc[filt]

     first     last                     email
1     Ä°rem  Ã‡ukurlu     iremcukurlu@email.com
2  SÃ¼heyla  Ã‡ukurlu  suheylacukurlu@email.com

In [71]:
# soyismi "Ã‡ukurlu" olan isimleri yazdÄ±ran filtreleme iÅŸlemi:

df_people.loc[filt, 'first']

1       Ä°rem
2    SÃ¼heyla
Name: first, dtype: object

In [72]:
# ya da soyisimi "Ã‡ukurlu" olan emailleri yazdÄ±ran filtrelem iÅŸlemi:

df_people.loc[filt, 'email']

1       iremcukurlu@email.com
2    suheylacukurlu@email.com
Name: email, dtype: object

### **â–¶ï¸ 3.7.2 df_survey Ã¼zerinde uygulamalar**

In [73]:
df_survey

,MainBranch,Hobbyist,...,SurveyLength,SurveyEase
Respondent,,,,,
1,I am a student who is learning to code,Yes,...,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,...,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",Yes,...,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,No,...,Appropriate in length,Easy
5,I am a developer by profession,Yes,...,Appropriate in length,Easy
...,...,...,...,...,...
88377,NaN,Yes,...,Appropriate in length,Easy
88601,NaN,No,...,NaN,NaN
88802,NaN,No,...,NaN,NaN
88816,NaN,No,...,NaN,NaN
88863,NaN,Yes,...,Appropriate in length,Easy

In [74]:
df_survey.columns

Index(['MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource', 'Employment',
       'Country', 'Student', 'EdLevel', 'UndergradMajor', 'EduOther',
       'OrgSize', 'DevType', 'YearsCode', 'Age1stCode', 'YearsCodePro',
       'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney', 'MgrWant', 'JobSeek',
       'LastHireDate', 'LastInt', 'FizzBuzz', 'JobFactors', 'ResumeUpdate',
       'CurrencySymbol', 'CurrencyDesc', 'CompTotal', 'CompFreq',
       'ConvertedComp', 'WorkWeekHrs', 'WorkPlan', 'WorkChallenge',
       'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev', 'CodeRevHrs', 'UnitTests',
       'PurchaseHow', 'PurchaseWhat', 'LanguageWorkedWith',
       'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

    AÅŸaÄŸÄ±da kullanÄ±lan value_couns() metodunu gÃ¶rmedik daha. Ã–zetle, survey tablosundaki cinsiyet'e verilen cevaplarÄ± detaylÄ± olarka yazdÄ±rmÄ±ÅŸtÄ±r.

In [75]:
df_survey["Sexuality"].value_counts()

Sexuality
Straight / Heterosexual                            70155
Bisexual                                            3440
Gay or Lesbian                                      1798
Bisexual;Straight / Heterosexual                     494
Bisexual;Gay or Lesbian                              114
Bisexual;Gay or Lesbian;Straight / Heterosexual      108
Gay or Lesbian;Straight / Heterosexual                38
Name: count, dtype: int64

In [76]:
# biz aÅŸaÄŸÄ±ya, cinsiyetini "bisexual" veya "Gay or Lesbian" olarak belirten kiÅŸilerin satÄ±rlarÄ±nÄ± yazdÄ±ralÄ±m:

filt_sex = (df_survey["Sexuality"] == "Bisexual") | (df_survey["Sexuality"] == "Gay or Lesbian")

df_survey.loc[filt_sex]

,MainBranch,Hobbyist,...,SurveyLength,SurveyEase
Respondent,,,,,
9,I am a developer by profession,Yes,...,Appropriate in length,Neither easy nor difficult
26,I am a developer by profession,Yes,...,Appropriate in length,Easy
34,I am a student who is learning to code,Yes,...,Too short,Neither easy nor difficult
39,I am a developer by profession,Yes,...,Appropriate in length,Easy
60,I am a developer by profession,Yes,...,NaN,NaN
...,...,...,...,...,...
81093,NaN,Yes,...,Appropriate in length,Easy
83397,NaN,Yes,...,Appropriate in length,Easy
83612,NaN,Yes,...,NaN,NaN
84539,NaN,Yes,...,Appropriate in length,Easy
85961,NaN,Yes,...,Appropriate in length,Difficult

    not: yukarÄ±da gÃ¶rÃ¼ldÃ¼ÄŸÃ¼ gibi union simgesi olan | kulanÄ±lmÄ±ÅŸtÄ±r.

    union (birleÅŸim)      :     |
    intersection (kesiÅŸim):     &
    difference (fark)     :     -

    symetricdifference     :    ^

In [77]:
# aÅŸaÄŸÄ±da atÄ±k bu cinsiyet filtresine ait bir deÄŸiÅŸkenimiz var. Ve bu deÄŸiÅŸken Ã¼zerinden daha pratik iÅŸlemler yapÄ±labilir

df_survey_sex = df_survey.loc[filt_sex]
df_survey_sex

,MainBranch,Hobbyist,...,SurveyLength,SurveyEase
Respondent,,,,,
9,I am a developer by profession,Yes,...,Appropriate in length,Neither easy nor difficult
26,I am a developer by profession,Yes,...,Appropriate in length,Easy
34,I am a student who is learning to code,Yes,...,Too short,Neither easy nor difficult
39,I am a developer by profession,Yes,...,Appropriate in length,Easy
60,I am a developer by profession,Yes,...,NaN,NaN
...,...,...,...,...,...
81093,NaN,Yes,...,Appropriate in length,Easy
83397,NaN,Yes,...,Appropriate in length,Easy
83612,NaN,Yes,...,NaN,NaN
84539,NaN,Yes,...,Appropriate in length,Easy
85961,NaN,Yes,...,Appropriate in length,Difficult

In [78]:
filt_sex_profession = df_survey_sex["MainBranch"] == "I am a developer by profession"
df_survey_SexPro = df_survey_sex.loc[filt_sex_profession]
df_survey_SexPro

,MainBranch,Hobbyist,...,SurveyLength,SurveyEase
Respondent,,,,,
9,I am a developer by profession,Yes,...,Appropriate in length,Neither easy nor difficult
26,I am a developer by profession,Yes,...,Appropriate in length,Easy
39,I am a developer by profession,Yes,...,Appropriate in length,Easy
60,I am a developer by profession,Yes,...,NaN,NaN
100,I am a developer by profession,Yes,...,Appropriate in length,Easy
...,...,...,...,...,...
88800,I am a developer by profession,Yes,...,Too long,Neither easy nor difficult
88845,I am a developer by profession,Yes,...,Appropriate in length,Easy
88865,I am a developer by profession,No,...,Appropriate in length,Easy
88868,I am a developer by profession,Yes,...,Appropriate in length,Easy
88873,I am a developer by profession,Yes,...,Appropriate in length,Easy

    YukarÄ±daki tablonun en altÄ±nda 3.621 rows yazÄ±yor. Yani bizim istediÄŸimiz ÅŸartlara uyan 3.621 kiÅŸi varmÄ±ÅŸ. Buna shape metodu ile de ulaÅŸÄ±labilir. AynÄ± ÅŸekilde ana tablomuz olan df_survey'e de ulaÅŸÄ±labilir. 

    aÅŸaÄŸÄ±da sizin iÃ§in istediÄŸimiz ÅŸartlarÄ± saÄŸlayan kiÅŸilerin, toplamda ankete katÄ±lan kiÅŸilerin yÃ¼zde kaÃ§Ä± olduÄŸunu hesaplayacaÄŸÄ±m:

In [79]:
rows_sex = df_survey_sex.shape[0]
rows_filter = df_survey_SexPro.shape[0]
rows_nofilter = df_survey.shape[0]

percante = round((rows_filter / rows_nofilter), 2)

print(f"Ankete katÄ±lan {rows_sex} kiÅŸi ya 'Bisexual' ya da 'Gay or Lesbian' cinsiyetlerine sahipler. Ve bunlarÄ±n da {rows_filter} tanesi, 'I am a develooper by profession' demiÅŸtir.")

print(f"Ankete katÄ±lan toplam insan sayÄ±sÄ±, {rows_nofilter} olduÄŸunda gÃ¶re: ")

print(f"Ankete katÄ±lanlarÄ±n yÃ¼zde {percante}'u bizim filtrelerimize uygundur.")

Ankete katÄ±lan 5238 kiÅŸi ya 'Bisexual' ya da 'Gay or Lesbian' cinsiyetlerine sahipler. Ve bunlarÄ±n da 3621 tanesi, 'I am a develooper by profession' demiÅŸtir.
Ankete katÄ±lan toplam insan sayÄ±sÄ±, 88883 olduÄŸunda gÃ¶re:
Ankete katÄ±lanlarÄ±n yÃ¼zde 0.04'u bizim filtrelerimize uygundur.

    Åimdi de baÅŸka bir alÄ±ÅŸtÄ±rma yapalÄ±m. Biraz inceleyelim Ã¶ncelikle.

In [80]:
df_schema

                                                   QuestionText
Column
Respondent    Randomized respondent ID number (not in order ...
MainBranch    Which of the following options best describes ...
Hobbyist                                Do you code as a hobby?
OpenSourcer         How often do you contribute to open source?
OpenSource    How do you feel about the quality of open sour...
...                                                         ...
Sexuality     Which of the following do you currently identi...
Ethnicity     Which of the following do you identify as? Ple...
Dependents    Do you have any dependents (e.g., children, el...
SurveyLength  How do you feel about the length of the survey...
SurveyEase    How easy or difficult was this survey to compl...

[85 rows x 1 columns]

In [81]:
df_schema.loc['YearsCode']['QuestionText']

'Including any education, how many years have you been coding?'

    YearsCode'a 5'den fazla cevap verenlerin kaÃ§ tanesinde Bechalor's Degree veya Master's Degre yoktur?

In [82]:
df_survey['YearsCode'].value_counts()

YearsCode
5     7047
10    6777
6     6179
4     5729
8     5361
      ...
50      51
47      36
48      31
46      27
49      25
Name: count, Length: 52, dtype: int64

In [83]:
df_survey['EdLevel'].value_counts()

EdLevel
Bachelorâ€™s degree (BA, BS, B.Eng., etc.)                                              39134
Masterâ€™s degree (MA, MS, M.Eng., MBA, etc.)                                           19569
Some college/university study without earning a degree                                10502
Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)     8642
Associate degree                                                                       2938
Other doctoral degree (Ph.D, Ed.D., etc.)                                              2432
Primary/elementary school                                                              1422
Professional degree (JD, MD, etc.)                                                     1198
I never completed any formal education                                                  553
Name: count, dtype: int64

In [84]:
filt_years = (df_survey['YearsCode'] > "5") & (df_survey['YearsCode'] != "Less than 1 year")    # Less than 1 year bizim dÃ¼zenimizi bozan bir yanÄ±t olduÄŸu iÃ§in Ã§Ä±kartÄ±yoruz onur
filt_education = (df_survey['EdLevel'] == "Bachelorâ€™s degree (BA, BS, B.Eng., etc.)") | (df_survey['EdLevel'] == "Masterâ€™s degree (MA, MS, M.Eng., MBA, etc.)")

df_years = df_survey.loc[filt_years]

df_final = df_years.loc[~filt_education]        # Ã‡OK Ã–NEMLÄ°. YUKARIDAKÄ° filt_education HARÄ°CÄ°NDEKÄ°LERÄ° SEÃ‡TÄ°K BURADA

ads = df_final[['EdLevel', 'YearsCode']]

ads     # istediÄŸimiz sonucu veren tablo budur

,EdLevel,YearsCode
Respondent,,
27,Some college/university study without earning ...,7
37,Associate degree,7
42,"Secondary school (e.g. American high school, G...",8
86,Some college/university study without earning ...,6
88,"Secondary school (e.g. American high school, G...",9
...,...,...
72492,Some college/university study without earning ...,7
82789,"Secondary school (e.g. American high school, G...",9
83000,"Secondary school (e.g. American high school, G...",7
86566,Some college/university study without earning ...,More than 50 years
88863,"Professional degree (JD, MD, etc.)",8

In [85]:
df_survey

,MainBranch,Hobbyist,...,SurveyLength,SurveyEase
Respondent,,,,,
1,I am a student who is learning to code,Yes,...,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,...,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",Yes,...,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,No,...,Appropriate in length,Easy
5,I am a developer by profession,Yes,...,Appropriate in length,Easy
...,...,...,...,...,...
88377,NaN,Yes,...,Appropriate in length,Easy
88601,NaN,No,...,NaN,NaN
88802,NaN,No,...,NaN,NaN
88816,NaN,No,...,NaN,NaN
88863,NaN,Yes,...,Appropriate in length,Easy

In [86]:
df_survey.columns

Index(['MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource', 'Employment',
       'Country', 'Student', 'EdLevel', 'UndergradMajor', 'EduOther',
       'OrgSize', 'DevType', 'YearsCode', 'Age1stCode', 'YearsCodePro',
       'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney', 'MgrWant', 'JobSeek',
       'LastHireDate', 'LastInt', 'FizzBuzz', 'JobFactors', 'ResumeUpdate',
       'CurrencySymbol', 'CurrencyDesc', 'CompTotal', 'CompFreq',
       'ConvertedComp', 'WorkWeekHrs', 'WorkPlan', 'WorkChallenge',
       'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev', 'CodeRevHrs', 'UnitTests',
       'PurchaseHow', 'PurchaseWhat', 'LanguageWorkedWith',
       'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

    AÅŸaÄŸÄ±da kullanÄ±lan value_couns() metodunu gÃ¶rmedik daha. Ã–zetle, survey tablosundaki cinsiyet'e verilen cevaplarÄ± detaylÄ± olarka yazdÄ±rmÄ±ÅŸtÄ±r.

In [87]:
df_survey["Sexuality"].value_counts()

Sexuality
Straight / Heterosexual                            70155
Bisexual                                            3440
Gay or Lesbian                                      1798
Bisexual;Straight / Heterosexual                     494
Bisexual;Gay or Lesbian                              114
Bisexual;Gay or Lesbian;Straight / Heterosexual      108
Gay or Lesbian;Straight / Heterosexual                38
Name: count, dtype: int64

In [88]:
# biz aÅŸaÄŸÄ±ya, cinsiyetini "bisexual" veya "Gay or Lesbian" olarak belirten kiÅŸilerin satÄ±rlarÄ±nÄ± yazdÄ±ralÄ±m:

filt_sex = (df_survey["Sexuality"] == "Bisexual") | (df_survey["Sexuality"] == "Gay or Lesbian")

df_survey.loc[filt_sex]

,MainBranch,Hobbyist,...,SurveyLength,SurveyEase
Respondent,,,,,
9,I am a developer by profession,Yes,...,Appropriate in length,Neither easy nor difficult
26,I am a developer by profession,Yes,...,Appropriate in length,Easy
34,I am a student who is learning to code,Yes,...,Too short,Neither easy nor difficult
39,I am a developer by profession,Yes,...,Appropriate in length,Easy
60,I am a developer by profession,Yes,...,NaN,NaN
...,...,...,...,...,...
81093,NaN,Yes,...,Appropriate in length,Easy
83397,NaN,Yes,...,Appropriate in length,Easy
83612,NaN,Yes,...,NaN,NaN
84539,NaN,Yes,...,Appropriate in length,Easy
85961,NaN,Yes,...,Appropriate in length,Difficult

    not: yukarÄ±da gÃ¶rÃ¼ldÃ¼ÄŸÃ¼ gibi union simgesi olan | kulanÄ±lmÄ±ÅŸtÄ±r.

    union (birleÅŸim)      :     |
    intersection (kesiÅŸim):     &
    difference (fark)     :     -

    symetricdifference     :    ^

In [89]:
# aÅŸaÄŸÄ±da atÄ±k bu cinsiyet filtresine ait bir deÄŸiÅŸkenimiz var. Ve bu deÄŸiÅŸken Ã¼zerinden daha pratik iÅŸlemler yapÄ±labilir

df_survey_sex = df_survey.loc[filt_sex]
df_survey_sex

,MainBranch,Hobbyist,...,SurveyLength,SurveyEase
Respondent,,,,,
9,I am a developer by profession,Yes,...,Appropriate in length,Neither easy nor difficult
26,I am a developer by profession,Yes,...,Appropriate in length,Easy
34,I am a student who is learning to code,Yes,...,Too short,Neither easy nor difficult
39,I am a developer by profession,Yes,...,Appropriate in length,Easy
60,I am a developer by profession,Yes,...,NaN,NaN
...,...,...,...,...,...
81093,NaN,Yes,...,Appropriate in length,Easy
83397,NaN,Yes,...,Appropriate in length,Easy
83612,NaN,Yes,...,NaN,NaN
84539,NaN,Yes,...,Appropriate in length,Easy
85961,NaN,Yes,...,Appropriate in length,Difficult

In [90]:
filt_sex_profession = df_survey_sex["MainBranch"] == "I am a developer by profession"
df_survey_SexPro = df_survey_sex.loc[filt_sex_profession]
df_survey_SexPro

,MainBranch,Hobbyist,...,SurveyLength,SurveyEase
Respondent,,,,,
9,I am a developer by profession,Yes,...,Appropriate in length,Neither easy nor difficult
26,I am a developer by profession,Yes,...,Appropriate in length,Easy
39,I am a developer by profession,Yes,...,Appropriate in length,Easy
60,I am a developer by profession,Yes,...,NaN,NaN
100,I am a developer by profession,Yes,...,Appropriate in length,Easy
...,...,...,...,...,...
88800,I am a developer by profession,Yes,...,Too long,Neither easy nor difficult
88845,I am a developer by profession,Yes,...,Appropriate in length,Easy
88865,I am a developer by profession,No,...,Appropriate in length,Easy
88868,I am a developer by profession,Yes,...,Appropriate in length,Easy
88873,I am a developer by profession,Yes,...,Appropriate in length,Easy

    YukarÄ±daki tablonun en altÄ±nda 3.621 rows yazÄ±yor. Yani bizim istediÄŸimiz ÅŸartlara uyan 3.621 kiÅŸi varmÄ±ÅŸ. Buna shape metodu ile de ulaÅŸÄ±labilir. AynÄ± ÅŸekilde ana tablomuz olan df_survey'e de ulaÅŸÄ±labilir. 

    aÅŸaÄŸÄ±da sizin iÃ§in istediÄŸimiz ÅŸartlarÄ± saÄŸlayan kiÅŸilerin, toplamda ankete katÄ±lan kiÅŸilerin yÃ¼zde kaÃ§Ä± olduÄŸunu hesaplayacaÄŸÄ±m:

In [91]:
rows_sex = df_survey_sex.shape[0]
rows_filter = df_survey_SexPro.shape[0]
rows_nofilter = df_survey.shape[0]

percante = round((rows_filter / rows_nofilter), 2)

print(f"Ankete katÄ±lan {rows_sex} kiÅŸi ya 'Bisexual' ya da 'Gay or Lesbian' cinsiyetlerine sahipler. Ve bunlarÄ±n da {rows_filter} tanesi, 'I am a develooper by profession' demiÅŸtir.")

print(f"Ankete katÄ±lan toplam insan sayÄ±sÄ±, {rows_nofilter} olduÄŸunda gÃ¶re: ")

print(f"Ankete katÄ±lanlarÄ±n yÃ¼zde {percante}'u bizim filtrelerimize uygundur.")

Ankete katÄ±lan 5238 kiÅŸi ya 'Bisexual' ya da 'Gay or Lesbian' cinsiyetlerine sahipler. Ve bunlarÄ±n da 3621 tanesi, 'I am a develooper by profession' demiÅŸtir.
Ankete katÄ±lan toplam insan sayÄ±sÄ±, 88883 olduÄŸunda gÃ¶re:
Ankete katÄ±lanlarÄ±n yÃ¼zde 0.04'u bizim filtrelerimize uygundur.

    Åimdi de baÅŸka bir alÄ±ÅŸtÄ±rma yapalÄ±m. Biraz inceleyelim Ã¶ncelikle.

In [92]:
df_schema

                                                   QuestionText
Column
Respondent    Randomized respondent ID number (not in order ...
MainBranch    Which of the following options best describes ...
Hobbyist                                Do you code as a hobby?
OpenSourcer         How often do you contribute to open source?
OpenSource    How do you feel about the quality of open sour...
...                                                         ...
Sexuality     Which of the following do you currently identi...
Ethnicity     Which of the following do you identify as? Ple...
Dependents    Do you have any dependents (e.g., children, el...
SurveyLength  How do you feel about the length of the survey...
SurveyEase    How easy or difficult was this survey to compl...

[85 rows x 1 columns]

In [93]:
df_schema.loc['YearsCode']['QuestionText']

'Including any education, how many years have you been coding?'

    YearsCode'a 5'den fazla cevap verenlerin kaÃ§ tanesinde Bechalor's Degree veya Master's Degre yoktur?

In [94]:
df_survey['YearsCode'].value_counts()

YearsCode
5     7047
10    6777
6     6179
4     5729
8     5361
      ...
50      51
47      36
48      31
46      27
49      25
Name: count, Length: 52, dtype: int64

In [95]:
df_survey['EdLevel'].value_counts()

EdLevel
Bachelorâ€™s degree (BA, BS, B.Eng., etc.)                                              39134
Masterâ€™s degree (MA, MS, M.Eng., MBA, etc.)                                           19569
Some college/university study without earning a degree                                10502
Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)     8642
Associate degree                                                                       2938
Other doctoral degree (Ph.D, Ed.D., etc.)                                              2432
Primary/elementary school                                                              1422
Professional degree (JD, MD, etc.)                                                     1198
I never completed any formal education                                                  553
Name: count, dtype: int64

In [96]:
filt_years = (df_survey['YearsCode'] > "5") & (df_survey['YearsCode'] != "Less than 1 year")    # Less than 1 year bizim dÃ¼zenimizi bozan bir yanÄ±t olduÄŸu iÃ§in Ã§Ä±kartÄ±yoruz onur
filt_education = (df_survey['EdLevel'] == "Bachelorâ€™s degree (BA, BS, B.Eng., etc.)") | (df_survey['EdLevel'] == "Masterâ€™s degree (MA, MS, M.Eng., MBA, etc.)")

df_years = df_survey.loc[filt_years]

df_final = df_years.loc[~filt_education]        # Ã‡OK Ã–NEMLÄ°. YUKARIDAKÄ° filt_education HARÄ°CÄ°NDEKÄ°LERÄ° SEÃ‡TÄ°K BURADA

ads = df_final[['EdLevel', 'YearsCode']]

ads     # istediÄŸimiz sonucu veren tablo budur

,EdLevel,YearsCode
Respondent,,
27,Some college/university study without earning ...,7
37,Associate degree,7
42,"Secondary school (e.g. American high school, G...",8
86,Some college/university study without earning ...,6
88,"Secondary school (e.g. American high school, G...",9
...,...,...
72492,Some college/university study without earning ...,7
82789,"Secondary school (e.g. American high school, G...",9
83000,"Secondary school (e.g. American high school, G...",7
86566,Some college/university study without earning ...,More than 50 years
88863,"Professional degree (JD, MD, etc.)",8

### **â–¶ï¸ 3.7.3 FarklÄ± Metodlar**

In [97]:
df_survey.columns

Index(['MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource', 'Employment',
       'Country', 'Student', 'EdLevel', 'UndergradMajor', 'EduOther',
       'OrgSize', 'DevType', 'YearsCode', 'Age1stCode', 'YearsCodePro',
       'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney', 'MgrWant', 'JobSeek',
       'LastHireDate', 'LastInt', 'FizzBuzz', 'JobFactors', 'ResumeUpdate',
       'CurrencySymbol', 'CurrencyDesc', 'CompTotal', 'CompFreq',
       'ConvertedComp', 'WorkWeekHrs', 'WorkPlan', 'WorkChallenge',
       'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev', 'CodeRevHrs', 'UnitTests',
       'PurchaseHow', 'PurchaseWhat', 'LanguageWorkedWith',
       'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

In [98]:
df_survey['Gender'].value_counts()

Gender
Man                                                            77919
Woman                                                           6344
Non-binary, genderqueer, or gender non-conforming                597
Man;Non-binary, genderqueer, or gender non-conforming            181
Woman;Non-binary, genderqueer, or gender non-conforming          163
Woman;Man                                                        132
Woman;Man;Non-binary, genderqueer, or gender non-conforming       70
Name: count, dtype: int64

In [99]:
genders = ['Man', 'Woman']
filt = df_survey['Gender'].isin(genders)

In [100]:
df_survey.loc[filt, ['Country', 'Gender']]      # aÅŸaÄŸÄ±da sadece Man ve Woman olan bireylerin Ã¼lkeleri yer almaktadÄ±r.

                           Country Gender
Respondent
1                   United Kingdom    Man
2           Bosnia and Herzegovina    Man
3                         Thailand    Man
4                    United States    Man
5                          Ukraine    Man
...                            ...    ...
88182                     Pakistan    Man
88212                        Spain    Man
88282                United States    Man
88377                       Canada    Man
88863                        Spain    Man

[84263 rows x 2 columns]

In [101]:
countries = ['Turkey']
filt = df_survey['Country'].isin(countries)
df_survey.loc[filt]['EdLevel'].value_counts()

EdLevel
Bachelorâ€™s degree (BA, BS, B.Eng., etc.)                                              521
Masterâ€™s degree (MA, MS, M.Eng., MBA, etc.)                                           117
Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)    109
Some college/university study without earning a degree                                 83
Associate degree                                                                       47
Other doctoral degree (Ph.D, Ed.D., etc.)                                              23
Primary/elementary school                                                              16
I never completed any formal education                                                 12
Name: count, dtype: int64

In [102]:
df_survey['Country'].value_counts()

Country
United States        20949
India                 9061
Germany               5866
United Kingdom        5737
Canada                3395
                     ...
Tonga                    1
Timor-Leste              1
North Korea              1
Brunei Darussalam        1
Chad                     1
Name: count, Length: 179, dtype: int64

    ALIÅTIRMA: Ãœlkelerin Bachelor's Degree alan yazÄ±lÄ±mcÄ±larÄ±n tÃ¼m yazÄ±lÄ±mÄ±clarÄ±na oranÄ± kaÃ§tÄ±r? Ve aynÄ± ÅŸekilde Master's Degree iÃ§in de geÃ§erli.

In [ ]:
countries = list(set(df_survey['Country']))
countries.pop(0)
countries.sort()

for country in range(0, len(countries)):
    empty_list = []
    empty_list.append(country)
    filt = df_survey['Country'].isin(empty_list)
    filt_All = df_survey.loc[filt]['EdLevel'].shape
    filt_ = df_survey.loc[filt]['EdLevel'].value_counts()
    filt_Bachelor = filt_.loc['Bachelorâ€™s degree (BA, BS, B.Eng., etc.)']
    filt_Bachelor_percant = int((filt_Bachelor / filt_All) * 100)
    filt_Bachelor_percant = f"{filt_Bachelor_percant}%"
    print(f"Country              : {country[0]}")
    print(f"Number of Participant: {filt_All[0]}")
    print(f"Number of Bacheler's : {filt_Bachelor}")
    print(f"Percant of Bacheler's: {filt_Bachelor_percant}")
    print("\n")

In [124]:
country = ['Turkey', "India"]
filt = df_survey['Country'].isin(country)
filt_All = df_survey.loc[filt]['EdLevel'].shape
filt_ = df_survey.loc[filt]['EdLevel'].value_counts()
filt_Bachelor = filt_.loc['Bachelorâ€™s degree (BA, BS, B.Eng., etc.)']
filt_Bachelor_percant = int((filt_Bachelor / filt_All) * 100)
filt_Bachelor_percant = f"{filt_Bachelor_percant}%"
print(f"Country              : {country[0]}")
print(f"Number of Participant: {filt_All[0]}")
print(f"Number of Bacheler's : {filt_Bachelor}")
print(f"Percant of Bacheler's: {filt_Bachelor_percant}")

Country              : Turkey
Number of Participant: 10010
Number of Bacheler's : 6085
Percant of Bacheler's: 60%

C:\Users\monstr\AppData\Local\Temp\ipykernel_8168\2166731113.py:6: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  filt_Bachelor_percant = int((filt_Bachelor / filt_All) * 100)

In [ ]:
countries = list(set(df_survey['Country']))
countries.pop(0)
countries.sort()

for country in range(0, len(countries)):
    empty_list = []
    empty_list.append(country)
    filt = df_survey['Country'].isin(empty_list)
    filt_All = df_survey.loc[filt]['EdLevel'].shape
    filt_ = df_survey.loc[filt]['EdLevel'].value_counts()
    filt_Bachelor = filt_.loc['Bachelorâ€™s degree (BA, BS, B.Eng., etc.)']
    filt_Bachelor_percant = int((filt_Bachelor / filt_All) * 100)
    filt_Bachelor_percant = f"{filt_Bachelor_percant}%"
    print(f"Country              : {country[0]}")
    print(f"Number of Participant: {filt_All[0]}")
    print(f"Number of Bacheler's : {filt_Bachelor}")
    print(f"Percant of Bacheler's: {filt_Bachelor_percant}")
    print("\n")

In [ ]:
country = ['Turkey', "India"]
for i in range(2):
    empty_list = []
    empty_list.append(country)
    filt = df_survey['Country'].isin(empty_list)
    filt_All = df_survey.loc[filt]['EdLevel'].shape
    filt_ = df_survey.loc[filt]['EdLevel'].value_counts()
    filt_Bachelor = filt_.loc['Bachelorâ€™s degree (BA, BS, B.Eng., etc.)']
    filt_Bachelor_percant = int((filt_Bachelor / filt_All) * 100)
    filt_Bachelor_percant = f"{filt_Bachelor_percant}%"
    print(f"Country              : {country[0]}")
    print(f"Number of Participant: {filt_All[0]}")
    print(f"Number of Bacheler's : {filt_Bachelor}")
    print(f"Percant of Bacheler's: {filt_Bachelor_percant}")

    ALIÅTIRMA: Ãœlkelerin Bachelor's Degree alan yazÄ±lÄ±mcÄ±larÄ±n tÃ¼m yazÄ±lÄ±mÄ±clarÄ±na oranÄ± kaÃ§tÄ±r? Ve aynÄ± ÅŸekilde Master's Degree iÃ§in de geÃ§erli.

In [ ]:
a = df_survey['Country'].value_counts()
a       # burada tÃ¼m Ã¼lkeleri listeledik unique bir biÃ§imde.

my_dict = dict(a)
my_dict     # burada ise bir dictionary'e Ã§evirdik.

my_list = my_dict.keys()
my_list = list(my_list)
my_list    # burada Ã¼lkeleri liste haline getirdik iterable olmasÄ± iÃ§in.

for Ã¼lke in my_list:

    Ã¼lke = [Ã¼lke]        # filtrelemek istediÄŸimiz ÅŸehri bir liste iÃ§erisine yazarÄ±z

    filt = df_survey['Country'].isin(Ã¼lke)   # yalnÄ±zca Turkey olan row'lar True hale getirildi.

    df_survey.loc[filt]         # herhangi bir column belirtmediÄŸimiz iÃ§in tÃ¼m Turkey olan row'lar yazdÄ±rÄ±ldÄ±.

    df_survey.loc[filt]['EdLevel']      # bu ÅŸekilde tÃ¼rklerin eÄŸitim durumlarÄ±nÄ±n ne olduÄŸu tablo haline getirildi

    list_EdLevel = df_survey.loc[filt]['EdLevel'].value_counts()       # bu ÅŸekilde de tÃ¼m yanÄ±tlar unique hale getirildi

    text = "Bachelorâ€™s degree (BA, BS, B.Eng., etc.)"

    if text in list_EdLevel:
        bachelor_sayÄ±sÄ± = list_EdLevel.loc["Bachelorâ€™s degree (BA, BS, B.Eng., etc.)"]

        tÃ¼m_sayÄ± = df_survey.loc[filt]['EdLevel'].shape
        tÃ¼m_sayÄ± = tÃ¼m_sayÄ±[0]

        oran = round((bachelor_sayÄ±sÄ± / tÃ¼m_sayÄ±) * 100)


        print("ğŸŸ¢ Ãœlke AdÄ±:", Ã¼lke[0])
        print("â–¶ KatÄ±lÄ±mcÄ± SayÄ±sÄ±:", tÃ¼m_sayÄ±)
        print("â–¶ Lisans Mezunu:", bachelor_sayÄ±sÄ±)
        print("â–¶ Mezun OranÄ±: " + str(oran) + "%" + "\n")

## **â–¶ï¸â–¶ï¸ 3.9 Column Ä°smi DeÄŸiÅŸtirme**

In [2]:
import pandas as pd

In [2]:
pd.set_option('display.max_columns',5) 
pd.set_option('display.max_rows', 10)

In [3]:
df_survey = pd.read_csv('SOURCES/survey_results_public.csv', index_col = 'Respondent')
df_schema = pd.read_csv('SOURCES/survey_results_schema.csv', index_col = 'Column')

In [3]:
people = {
    "first": ["Emre", "Ä°rem", "SÃ¼heyla"],
    "last": ["Ã‡akÄ±r", "Ã‡ukurlu", "Ã‡ukurlu"],
    "email": ["emrecakir@gmail.com", "iremcukurlu@email.com", "suheylacukurlu@email.com"]
}

In [4]:
df_people = pd.DataFrame(people)

In [5]:
df_people

     first     last                     email
0     Emre    Ã‡akÄ±r       emrecakir@gmail.com
1     Ä°rem  Ã‡ukurlu     iremcukurlu@email.com
2  SÃ¼heyla  Ã‡ukurlu  suheylacukurlu@email.com

    people isimli tablonun column isimlerini aÅŸaÄŸÄ±daki gibi deÄŸiÅŸtirebiliriz

In [32]:
df_people.columns = ['first_name','last_name','email'] 
df_people

  first_name last_name                     email
0       Emre     Ã‡akÄ±r       emrecakir@gmail.com
1       Ä°rem   Ã‡ukurlu     iremcukurlu@email.com
2    SÃ¼heyla   Ã‡ukurlu  suheylacukurlu@email.com

In [33]:
df_people.columns =  [x.upper() for x in df_people.columns] # burada bÃ¼tÃ¼n kolon isimlerini bÃ¼yÃ¼k harfle yazdÄ±rdÄ±k.
df_people

  FIRST_NAME LAST_NAME                     EMAIL
0       Emre     Ã‡akÄ±r       emrecakir@gmail.com
1       Ä°rem   Ã‡ukurlu     iremcukurlu@email.com
2    SÃ¼heyla   Ã‡ukurlu  suheylacukurlu@email.com

In [34]:
df_people.columns =  [x.lower() for x in df_people.columns] # burada bÃ¼tÃ¼n kolon isimlerini kÃ¼Ã§Ã¼k harfle yazdÄ±rdÄ±k.
df_people

  first_name last_name                     email
0       Emre     Ã‡akÄ±r       emrecakir@gmail.com
1       Ä°rem   Ã‡ukurlu     iremcukurlu@email.com
2    SÃ¼heyla   Ã‡ukurlu  suheylacukurlu@email.com

In [35]:
df_people.columns = df_people.columns.str.replace('_name' , '')  # Burada ise bir nevi first ve last yazmasÄ±nÄ± saÄŸladÄ±k
df_people

     first     last                     email
0     Emre    Ã‡akÄ±r       emrecakir@gmail.com
1     Ä°rem  Ã‡ukurlu     iremcukurlu@email.com
2  SÃ¼heyla  Ã‡ukurlu  suheylacukurlu@email.com

    Ã–NEMLÄ°: TÃ¼m column'larÄ± deÄŸiÅŸtirmek yerine sadece birkaÃ§ tanesini deÄŸiÅŸtirebiliyoruz:

In [36]:
df_people.columns

Index(['first', 'last', 'email'], dtype='object')

In [37]:
df = df_people.rename(columns = {'last':'last_name','first':'first_name'})
df

  first_name last_name                     email
0       Emre     Ã‡akÄ±r       emrecakir@gmail.com
1       Ä°rem   Ã‡ukurlu     iremcukurlu@email.com
2    SÃ¼heyla   Ã‡ukurlu  suheylacukurlu@email.com

In [41]:
# eÄŸer df_people tablosunda deÄŸiÅŸikliÄŸin uygulanmasÄ±nÄ± istiyorsak:

df_people.rename(columns = {'last':'last_name','first':'first_name'}, inplace=True)

In [42]:
df_people

  first_name last_name                     email
0       Emre     Ã‡akÄ±r       emrecakir@gmail.com
1       Ä°rem   Ã‡ukurlu     iremcukurlu@email.com
2    SÃ¼heyla   Ã‡ukurlu  suheylacukurlu@email.com

## **â–¶ï¸â–¶ï¸ 3.10 Verileri DeÄŸiÅŸtirme**

In [5]:
df_people

     first     last                     email
0     Emre    Ã‡akÄ±r       emrecakir@gmail.com
1     Ä°rem  Ã‡ukurlu     iremcukurlu@email.com
2  SÃ¼heyla  Ã‡ukurlu  suheylacukurlu@email.com

In [6]:
df_people.loc[1] = ['Ä°rem SÃ¼heyla', 'Ã‡ukurlu', 'iremScukurlu@email.com']
df_people.loc[2] = ['Ceren Ä°layda', 'Ã‡ukurlu', 'cerenIcukurlu@email.com']

    Ä°ÅTE BU KADAR KOLAY

In [7]:
df_people

          first     last                    email
0          Emre    Ã‡akÄ±r      emrecakir@gmail.com
1  Ä°rem SÃ¼heyla  Ã‡ukurlu   iremScukurlu@email.com
2  Ceren Ä°layda  Ã‡ukurlu  cerenIcukurlu@email.com

    ANCAK DAHA DA KOLAYI VAR:

    EÄŸer 3 tane deÄŸil de 100 tane column olsaydÄ±, yukarÄ±daki yÃ¶ntem yetersiz kalÄ±rdÄ± Ã§Ã¼nkÃ¼ bÃ¼tÃ¼n column'larÄ± tek tek girmeniz gerekirdi. Ancak aÅŸaÄŸÄ±daki yÃ¶ntem mÃ¼kemmel pratik:

In [8]:
df_people.loc[1 , ['last','email']] = ['Ã‡akÄ±r','iremSÃ§akÄ±r@email.com']  # iÅŸte bÃ¶yle :)

In [9]:
df_people

          first     last                    email
0          Emre    Ã‡akÄ±r      emrecakir@gmail.com
1  Ä°rem SÃ¼heyla    Ã‡akÄ±r     iremSÃ§akÄ±r@email.com
2  Ceren Ä°layda  Ã‡ukurlu  cerenIcukurlu@email.com

In [10]:
filt = (df_people['email'] == 'iremSÃ§akÄ±r@email.com')
df_people.loc[filt,'last'] = 'Ã‡ukurlu' 
# Burada Ã‡akÄ±r soysimini Ã‡ukurlu ile deÄŸiÅŸtirmiÅŸ olduk.

In [11]:
df_people

          first     last                    email
0          Emre    Ã‡akÄ±r      emrecakir@gmail.com
1  Ä°rem SÃ¼heyla  Ã‡ukurlu     iremSÃ§akÄ±r@email.com
2  Ceren Ä°layda  Ã‡ukurlu  cerenIcukurlu@email.com

In [12]:
df_people['last'].str.upper() # bÃ¼tÃ¼n soyisimleri bÃ¼yÃ¼ttÃ¼k. Ama ana tabloya iÅŸlemesi iÃ§n bir sonraki hÃ¼creye bak.

0      Ã‡AKIR
1    Ã‡UKURLU
2    Ã‡UKURLU
Name: last, dtype: object

In [13]:
df_people['last'] = df_people['last'].str.upper()
df_people

          first     last                    email
0          Emre    Ã‡AKIR      emrecakir@gmail.com
1  Ä°rem SÃ¼heyla  Ã‡UKURLU     iremSÃ§akÄ±r@email.com
2  Ceren Ä°layda  Ã‡UKURLU  cerenIcukurlu@email.com

## **â–¶ï¸â–¶ï¸ 3.11 apply() Metodu**

In [14]:
df_people['email'].apply(len) # len() metodunu tÃ¼m 'email' column'una uyguladÄ±k ve sonucu yazdÄ±rdÄ±k

0    19
1    20
2    23
Name: email, dtype: int64

In [15]:
df_people       # bir Ã¶nceki iÅŸlem ana tabloyu etkilenmez.

          first     last                    email
0          Emre    Ã‡AKIR      emrecakir@gmail.com
1  Ä°rem SÃ¼heyla  Ã‡UKURLU     iremSÃ§akÄ±r@email.com
2  Ceren Ä°layda  Ã‡UKURLU  cerenIcukurlu@email.com

In [16]:
df_people['email']= df_people['email'].apply(len) # bu kodu Ã§alÄ±ÅŸtÄ±rarak ana tabloya etki etmiÅŸ olduk
df_people

          first     last  email
0          Emre    Ã‡AKIR     19
1  Ä°rem SÃ¼heyla  Ã‡UKURLU     20
2  Ceren Ä°layda  Ã‡UKURLU     23

In [17]:
df_people.loc[0, "email"] =  "emrecakir@gmail.com"
df_people.loc[1, "email"] =  "iremSÃ§akÄ±r@email.com"
df_people.loc[2, "email"] =  "cerenIcukurlu@email.com"

df_people

C:\Users\monstr\AppData\Local\Temp\ipykernel_17164\4251753290.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'emrecakir@gmail.com' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_people.loc[0, "email"] =  "emrecakir@gmail.com"

          first     last                    email
0          Emre    Ã‡AKIR      emrecakir@gmail.com
1  Ä°rem SÃ¼heyla  Ã‡UKURLU     iremSÃ§akÄ±r@email.com
2  Ceren Ä°layda  Ã‡UKURLU  cerenIcukurlu@email.com

In [18]:
def update_first(first):
    return first.upper()

df_people['first'] = df_people['first'].apply(update_first)

df_people

          first     last                    email
0          EMRE    Ã‡AKIR      emrecakir@gmail.com
1  Ä°REM SÃœHEYLA  Ã‡UKURLU     iremSÃ§akÄ±r@email.com
2  CEREN Ä°LAYDA  Ã‡UKURLU  cerenIcukurlu@email.com

In [19]:
df_people['email'] = df_people['email'].apply(update_first)
df_people

          first     last                    email
0          EMRE    Ã‡AKIR      EMRECAKIR@GMAIL.COM
1  Ä°REM SÃœHEYLA  Ã‡UKURLU     IREMSÃ‡AKIR@EMAIL.COM
2  CEREN Ä°LAYDA  Ã‡UKURLU  CERENICUKURLU@EMAIL.COM

In [20]:
df_people.loc[0] = df_people.loc[0].str.title()
df_people.loc[1] = df_people.loc[1].str.title()
df_people.loc[2] = df_people.loc[2].str.title()

df_people

          first     last                    email
0          Emre    Ã‡akir      Emrecakir@Gmail.Com
1  Ä°rem SÃ¼heyla  Ã‡ukurlu     IremsÃ§akir@Email.Com
2  Ceren Ä°layda  Ã‡ukurlu  Cerenicukurlu@Email.Com

In [21]:
df_people.loc[0, "email"] =  "emrecakir@gmail.com"
df_people.loc[1, "email"] =  "iremSÃ§akÄ±r@email.com"
df_people.loc[2, "email"] =  "cerenIcukurlu@email.com"
df_people

          first     last                    email
0          Emre    Ã‡akir      emrecakir@gmail.com
1  Ä°rem SÃ¼heyla  Ã‡ukurlu     iremSÃ§akÄ±r@email.com
2  Ceren Ä°layda  Ã‡ukurlu  cerenIcukurlu@email.com

## **â–¶ï¸â–¶ï¸ 3.12 map() Metodu**

In [22]:
df_people

          first     last                    email
0          Emre    Ã‡akir      emrecakir@gmail.com
1  Ä°rem SÃ¼heyla  Ã‡ukurlu     iremSÃ§akÄ±r@email.com
2  Ceren Ä°layda  Ã‡ukurlu  cerenIcukurlu@email.com

In [23]:
df_people.map(len)

   first  last  email
0      4     5     19
1     12     7     20
2     12     7     23

In [24]:
df_people

          first     last                    email
0          Emre    Ã‡akir      emrecakir@gmail.com
1  Ä°rem SÃ¼heyla  Ã‡ukurlu     iremSÃ§akÄ±r@email.com
2  Ceren Ä°layda  Ã‡ukurlu  cerenIcukurlu@email.com

In [25]:
df_people.map(str.upper)        # ana tabloya uygulamadÄ±k

          first     last                    email
0          EMRE    Ã‡AKIR      EMRECAKIR@GMAIL.COM
1  Ä°REM SÃœHEYLA  Ã‡UKURLU     IREMSÃ‡AKIR@EMAIL.COM
2  CEREN Ä°LAYDA  Ã‡UKURLU  CERENICUKURLU@EMAIL.COM

In [26]:
df_people['first'] = df_people['first'].map({'Emre':'Erkin','IÌ‡Rem SÃ¼heyla':'Ozan', 'Ceren IÌ‡Layda':'Emre'})
df_people

   first     last                    email
0  Erkin    Ã‡akir      emrecakir@gmail.com
1    NaN  Ã‡ukurlu     iremSÃ§akÄ±r@email.com
2    NaN  Ã‡ukurlu  cerenIcukurlu@email.com

In [27]:
df_people.loc[0,'last'] = "Ã‡akÄ±r"
df_people.loc[1,'last'] = "Ã‡akÄ±r"
df_people.loc[2,'last'] = "Ã‡akÄ±r"
df_people

   first   last                    email
0  Erkin  Ã‡akÄ±r      emrecakir@gmail.com
1    NaN  Ã‡akÄ±r     iremSÃ§akÄ±r@email.com
2    NaN  Ã‡akÄ±r  cerenIcukurlu@email.com

## **â–¶ï¸â–¶ï¸ 3.13 replace() Metodu**

In [28]:
df_people['first'] = df_people['first'].replace({'Erkin':'Emre','Ozan':'Emre'})

df_people

  first   last                    email
0  Emre  Ã‡akÄ±r      emrecakir@gmail.com
1   NaN  Ã‡akÄ±r     iremSÃ§akÄ±r@email.com
2   NaN  Ã‡akÄ±r  cerenIcukurlu@email.com

In [29]:
df_people['last'] = df_people['last'].replace({'Ã‡akÄ±r':'Ã‡AKIR'})
df_people

  first   last                    email
0  Emre  Ã‡AKIR      emrecakir@gmail.com
1   NaN  Ã‡AKIR     iremSÃ§akÄ±r@email.com
2   NaN  Ã‡AKIR  cerenIcukurlu@email.com

## **â–¶ï¸â–¶ï¸ 3.14 Column Ekleme**

In [30]:
df_people['first'] + df_people['last']

0    EmreÃ‡AKIR
1          NaN
2          NaN
dtype: object

In [31]:
df_people['first'] + " " + df_people['last']

0    Emre Ã‡AKIR
1           NaN
2           NaN
dtype: object

    Ã‡OK Ã–NEMLÄ° AÅAÄIDAKÄ°:

In [32]:
df_people['full_name'] = df_people['first'] + " " + df_people['last']
df_people

  first   last                    email   full_name
0  Emre  Ã‡AKIR      emrecakir@gmail.com  Emre Ã‡AKIR
1   NaN  Ã‡AKIR     iremSÃ§akÄ±r@email.com         NaN
2   NaN  Ã‡AKIR  cerenIcukurlu@email.com         NaN

## **â–¶ï¸â–¶ï¸ 3.15 Column Silme**

In [33]:
df_people['DENEME'] = df_people['email'][0:3]
df_people

  first   last                    email   full_name                   DENEME
0  Emre  Ã‡AKIR      emrecakir@gmail.com  Emre Ã‡AKIR      emrecakir@gmail.com
1   NaN  Ã‡AKIR     iremSÃ§akÄ±r@email.com         NaN     iremSÃ§akÄ±r@email.com
2   NaN  Ã‡AKIR  cerenIcukurlu@email.com         NaN  cerenIcukurlu@email.com

In [34]:
df_people.drop(columns=['full_name','DENEME'], inplace=True)
df_people

  first   last                    email
0  Emre  Ã‡AKIR      emrecakir@gmail.com
1   NaN  Ã‡AKIR     iremSÃ§akÄ±r@email.com
2   NaN  Ã‡AKIR  cerenIcukurlu@email.com

In [35]:
df_people['email'].str.split('@', expand=True)    # uygulanmadÄ± ana tabloya

               0          1
0      emrecakir  gmail.com
1     iremSÃ§akÄ±r  email.com
2  cerenIcukurlu  email.com

In [36]:
df_people

  first   last                    email
0  Emre  Ã‡AKIR      emrecakir@gmail.com
1   NaN  Ã‡AKIR     iremSÃ§akÄ±r@email.com
2   NaN  Ã‡AKIR  cerenIcukurlu@email.com

In [37]:
df_people[['new', 'new2']] = df_people['email'].str.split('@', expand=True)
df_people

  first   last                    email            new       new2
0  Emre  Ã‡AKIR      emrecakir@gmail.com      emrecakir  gmail.com
1   NaN  Ã‡AKIR     iremSÃ§akÄ±r@email.com     iremSÃ§akÄ±r  email.com
2   NaN  Ã‡AKIR  cerenIcukurlu@email.com  cerenIcukurlu  email.com

In [38]:
df_people.drop(columns=['new2'], inplace=True)
df_people

  first   last                    email            new
0  Emre  Ã‡AKIR      emrecakir@gmail.com      emrecakir
1   NaN  Ã‡AKIR     iremSÃ§akÄ±r@email.com     iremSÃ§akÄ±r
2   NaN  Ã‡AKIR  cerenIcukurlu@email.com  cerenIcukurlu

## **â–¶ï¸â–¶ï¸ 3.16 Row Ekleme**

In [39]:
df_people = df_people._append({'first' : 'Ä°rem'}, ignore_index=True)
df_people

  first   last                    email            new
0  Emre  Ã‡AKIR      emrecakir@gmail.com      emrecakir
1   NaN  Ã‡AKIR     iremSÃ§akÄ±r@email.com     iremSÃ§akÄ±r
2   NaN  Ã‡AKIR  cerenIcukurlu@email.com  cerenIcukurlu
3  Ä°rem    NaN                      NaN            NaN

In [40]:
df_people.loc[3,['last', 'email', 'new']] = ['Ã‡ukurlu', 'iremnew@email.com','iremnew']
df_people

  first     last                    email            new
0  Emre    Ã‡AKIR      emrecakir@gmail.com      emrecakir
1   NaN    Ã‡AKIR     iremSÃ§akÄ±r@email.com     iremSÃ§akÄ±r
2   NaN    Ã‡AKIR  cerenIcukurlu@email.com  cerenIcukurlu
3  Ä°rem  Ã‡ukurlu        iremnew@email.com        iremnew

## **â–¶ï¸â–¶ï¸ 3.17 TablolarÄ± BirleÅŸtirme**

In [41]:
new_people = {
    "first" : ["Hacer",'Halise'],
    "last" : ["Ã‡akÄ±r",'Ã‡ukurlu'],
    "email" : ["yok",'yok']
}    

df_new_people = pd.DataFrame(new_people)

In [42]:
df_people = df_people._append(df_new_people, ignore_index=True, sort=False) 
# Burada "sort = False" kÄ±smÄ± ne iÅŸe yarÄ±yor ben de anlamadÄ±m. Yapmasak da oluyor bizde. 
df_people

    first     last                    email            new
0    Emre    Ã‡AKIR      emrecakir@gmail.com      emrecakir
1     NaN    Ã‡AKIR     iremSÃ§akÄ±r@email.com     iremSÃ§akÄ±r
2     NaN    Ã‡AKIR  cerenIcukurlu@email.com  cerenIcukurlu
3    Ä°rem  Ã‡ukurlu        iremnew@email.com        iremnew
4   Hacer    Ã‡akÄ±r                      yok            NaN
5  Halise  Ã‡ukurlu                      yok            NaN

## **â–¶ï¸â–¶ï¸ 3.18 Row Silme**

In [44]:
df_people = df_people.drop(index = 4)

df_people       # 4. index silindi

    first     last                    email            new
0    Emre    Ã‡AKIR      emrecakir@gmail.com      emrecakir
1     NaN    Ã‡AKIR     iremSÃ§akÄ±r@email.com     iremSÃ§akÄ±r
2     NaN    Ã‡AKIR  cerenIcukurlu@email.com  cerenIcukurlu
3    Ä°rem  Ã‡ukurlu        iremnew@email.com        iremnew
5  Halise  Ã‡ukurlu                      yok            NaN

In [47]:
filt = df_people['last'] == 'Ã‡ukurlu'
df_people = df_people.drop(index = df_people[filt].index)
df_people

  first   last                    email            new
0  Emre  Ã‡AKIR      emrecakir@gmail.com      emrecakir
1   NaN  Ã‡AKIR     iremSÃ§akÄ±r@email.com     iremSÃ§akÄ±r
2   NaN  Ã‡AKIR  cerenIcukurlu@email.com  cerenIcukurlu

## **â–¶ï¸â–¶ï¸ 3.19 sort_values()**

In [48]:
df_people = df_people.sort_values(by = 'email', ascending = False )

df_people

  first   last                    email            new
1   NaN  Ã‡AKIR     iremSÃ§akÄ±r@email.com     iremSÃ§akÄ±r
0  Emre  Ã‡AKIR      emrecakir@gmail.com      emrecakir
2   NaN  Ã‡AKIR  cerenIcukurlu@email.com  cerenIcukurlu

In [49]:
df_people = df_people.sort_values(by = ['last' , 'first'], ascending = False )

df_people

  first   last                    email            new
0  Emre  Ã‡AKIR      emrecakir@gmail.com      emrecakir
1   NaN  Ã‡AKIR     iremSÃ§akÄ±r@email.com     iremSÃ§akÄ±r
2   NaN  Ã‡AKIR  cerenIcukurlu@email.com  cerenIcukurlu

In [50]:
df_people.sort_values(by = ['last' , 'first'], ascending = [False, True], inplace = True )
df_people

  first   last                    email            new
0  Emre  Ã‡AKIR      emrecakir@gmail.com      emrecakir
1   NaN  Ã‡AKIR     iremSÃ§akÄ±r@email.com     iremSÃ§akÄ±r
2   NaN  Ã‡AKIR  cerenIcukurlu@email.com  cerenIcukurlu

In [53]:
df_people['new'].sort_values()

2    cerenIcukurlu
0        emrecakir
1       iremSÃ§akÄ±r
Name: new, dtype: object